.page-heading{
  text-align: center;
}
 .auction-item .heading h3{
  text-align: center;
}
.auction-item{

  width: 350px;
  height: 650px;
  background-color: #ffffff ;
  border-top:  2px solid black;
  border-bottom:  2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
 
}

.auction-item h4 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Anton', sans-serif;
  
}
.auction-item img{
  width: 300;
  position: absolute;
  padding-left: 20px;
}


.auction-detail {
  padding-bottom: 100px; }

.basic-info {
  margin-top: 210px;
  
   }
  .auction-info .heading {
    padding-top: 20px;
    margin-top: 50px;
   
    font-weight: 600; }
  .auction-info ul > li {

    margin-bottom: 8px; }
ul li{
  padding-left: 10px;
}
li span{
  text-align: left;
  padding-right: 10px;
}
.view-store{
  margin-left: 20px;
  height: 500px;
  width: 950px;

  background-color: white;
}
 
 .store-info{

  margin-left: 30px;
  margin-top: 30px;
  font-weight: 3px;
  border-bottom: 3px solid #eaeaea; 
 }



               input.hidden {
    position: absolute;
    left: -9999px;
}

 
 #country-flag {
   
     width: 35px;
    height: 30px;
  }
  #category-image {
   
     width: 35px;
    height: 30px;
  }

   #profile-image1 {
   
     width: 150px;
    height: 150px;
  border:2px solid #03b1ce ;}
  .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}  



   /********************
 * PAGE: PROFILE
 ********************/
.panel-item {
  position: relative; }

.item-left {
  padding-left: 0;
  float: left;
  width: 35%;
  height: 100%;
  position: absolute;
  background-color: #F8F8F8; }

.item-right {
  float: right;
  width: 65%;
  padding: 20px 25px; }
  .item-right .heading {
    margin-top: 0; }

@media screen and (max-width: 992px) {
  .item-left,
  .item-right {
    float: none;
    width: 100%; }
  .item-left {
    position: relative;
    margin-bottom: 30px; } }

.item-header {
  position: relative;
  text-align: center;
  color: #fff; }
  .item-header .overlay {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
  .item-header .item-main {
    position: relative;
    padding: 131px;
    /*background-image: url("/public/script/img/jwel.jpg");*/
    background-repeat: no-repeat;
    background-size: cover; }
  .item-header .name {
    margin: 8px 0 0 0;
    font-size: 22px; }
  .item-header .online-status {
    font-size: 13px;
    position: relative;
    top: -2px; }
    .item-header .online-status:before {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: '';
      width: 8px;
      height: 8px;
      margin-right: 3px; }
    .item-header .online-status.status-available:before {
      background-color: #41B314; }
  .item-header .item-stat {
    position: relative;
    background-color: #00AAFF; }
    .item-header .item-stat .stat-item {
      padding: 10px;
      position: relative; }
      .item-header .item-stat .stat-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #33bbff; }
      .item-header .item-stat .stat-item:last-child:after {
        display: none; }
    .item-header .item-stat .stat-item span {
      display: block; }
  @media screen and (max-width: 1023px) {
    .item-header .item-stat .stat-item:after {
      display: none; } }

.item-detail {
  padding-bottom: 30px; }

.item-info {
  padding: 0 20px;
  margin: 40px 0; }
  .item-info .heading {
    margin: 0 0 10px 0;
    font-weight: 600; }
  .item-info ul > li {
    margin-bottom: 8px; }



/*additional */

    
/*spinner*/
.loadingSpinner {
   z-index: 99999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.loadingSpinner-inner{
    width: 50px;
    margin: 70px auto;
}

/*uploaded images thumbline*/

/*view auction*/

.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding:50px 0px;
    
}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
}
.index-content .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}





/*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
#portfolio-container .tile:hover { 

}

#portfolio-container .scale-anm {
  transform: scale(1);
}


#portfolio-container p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

#portfolio-container p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}



#portfolio-container .btn:hover {
  text-decoration: none;color:#fff;background-color:#FF1351;
}

#portfolio-container .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}
/*Portfolio===============================*/


#portfolio-container .active {
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container .active:active{
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

/*AUCTION ITEMS*/

/**** BASE ****/
body {
    color: #888;   
}
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}
/* CLOSE BUTTON ON IMAGE*/

.img-wraps {
    position: relative;
    display: inline-block;
   
    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    background-color: #FFF;
    padding: 4px 3px;
    
    color: #000;
    font-weight: bold;
    cursor: pointer;
   
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
    border:1px solid red;
}
.img-wraps:hover .closes {
    opacity: 1;
}

/*ADVERTISEMENT*/
/*body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}*/

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

/*Product Accordion*/

.form-inline .form-group { margin-right:10px; }
.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


/*view order*/

.page-header {
    vertical-align: middle;
    margin: 20px 0 15px 0;
    padding: 0;
    border-bottom: 1px solid #e9e9e9;

  }
   /*NEW ADD BUTTON*/
    .btn-new {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #cccc;
    padding: 7px 15px;
  }

  /*RADIO BUTTON*/
  .btnserviceorproduct{
      border: 1px solid #ccc;
}
.btnserviceorproduct.active{
  background: #337ab7;
  color: #fff;
}


/*CUSTOMER VIEW*/


/*customer view css*/


 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');.navbar-default .navbar-nav>li>a,body{color:#394263}.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}.form-control,.gallery a img,.gallery img,.gallery-image img,a[data-toggle=lightbox-image] img{max-width:100%}#page-wrapper.page-loading{overflow:hidden}#page-wrapper.page-loading .preloader{display:block}#page-wrapper.page-loading #page-container{opacity:0}.preloader{display:none;position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background-color:#333;z-index:99999}.preloader .inner{position:fixed;top:20%;left:50%;margin:0 0 0 -50px;width:100px;height:100px;text-align:center}.preloader-spinner{border:3px solid transparent;border-left-color:#fff;border-right-color:#fff;border-top-color:#fff;border-radius:50%;-webkit-animation:nprogress-spinner .4s linear infinite;-moz-animation:nprogress-spinner .4s linear infinite;-ms-animation:nprogress-spinner .4s linear infinite;-o-animation:nprogress-spinner .4s linear infinite;animation:nprogress-spinner .4s linear infinite;width:100px;height:100px;margin:0 auto}body{font-size:13px;background-color:#222}#main-container,#page-container,#page-content+footer{min-width:320px}#page-container{width:100%;padding:0;margin:0 auto;overflow-x:hidden;-webkit-transition:background-color .2s ease-out,opacity .3s ease-out;transition:background-color .2s ease-out,opacity .3s ease-out}#page-container,#sidebar,#sidebar-alt{background-color:#394263}#sidebar,#sidebar-alt{width:0;position:absolute;overflow:hidden}.sidebar-alt-visible-xs #sidebar-alt,.sidebar-visible-xs #sidebar{width:200px}#sidebar-alt{right:0}#main-container,#sidebar,#sidebar-alt,.footer-fixed #page-content+footer,.header-fixed-bottom header,.header-fixed-top header{-webkit-transition:all .2s ease-out;transition:all .2s ease-out}#page-content{padding:10px 5px 1px;background-color:#eaedf1}#page-content+footer{padding:9px 10px;font-size:11px;background-color:#fff;border-top:1px solid #dbe1e8}#page-container.header-fixed-top{padding:50px 0 0}#page-container.header-fixed-bottom{padding:0 0 50px}.sidebar-visible-xs #main-container{margin-left:200px;margin-right:-200px}.header-fixed-bottom #sidebar,.header-fixed-top #sidebar{position:fixed;left:0;top:0;bottom:0}.header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content{padding-bottom:50px}.sidebar-visible-xs.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-visible-xs.header-fixed-top header.navbar-fixed-top{left:200px;right:-200px}.sidebar-alt-visible-xs #main-container{margin-right:200px;margin-left:-200px}.header-fixed-bottom #sidebar-alt,.header-fixed-top #sidebar-alt{position:fixed;right:0;top:0;bottom:0}.sidebar-alt-visible-xs.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-alt-visible-xs.header-fixed-top header.navbar-fixed-top{right:200px;left:-200px}.footer-fixed #page-content+footer{position:fixed;bottom:0;right:0;left:0;z-index:999}.footer-fixed #page-content{padding-bottom:41px}.footer-fixed.sidebar-visible-xs #page-content+footer{right:-200px;left:200px}.footer-fixed.sidebar-alt-visible-xs #page-content+footer{right:200px;left:-200px}.footer-fixed.header-fixed-bottom #page-content+footer{bottom:50px}header.navbar-default,header.navbar-inverse{padding:0;margin:0;min-width:320px;border:none}header.navbar-default.navbar-fixed-top{border-bottom:1px solid #eaedf1}header.navbar-default.navbar-fixed-bottom{border-top:1px solid #eaedf1}header.navbar-inverse.navbar-fixed-top{border-bottom:1px solid #394263}header.navbar-inverse.navbar-fixed-bottom{border-top:1px solid #394263}.navbar-inverse .navbar-nav>li>a{color:#fff}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#fff;background-color:#1bbae1}.navbar-inverse .collapse.in .navbar-nav .open .dropdown-menu>li>a{color:#ddd}.nav.navbar-nav-custom{float:left;margin:0}.nav.navbar-nav-custom>li{min-height:50px;float:left}.nav.navbar-nav-custom>li>a{min-width:50px;padding:5px 7px;line-height:40px;text-align:center;color:#394263;position:relative}.nav.navbar-nav-custom>li>a .fi,.nav.navbar-nav-custom>li>a .gi,.nav.navbar-nav-custom>li>a .hi,.nav.navbar-nav-custom>li>a .si{margin-top:-3px}.nav.navbar-nav-custom>li>a .label-indicator{position:absolute;top:0;right:0;border-radius:0;font-weight:600}.navbar-fixed-bottom .nav.navbar-nav-custom>li>a .label-indicator{top:auto;bottom:0}.navbar-inverse .nav.navbar-nav-custom>li>a{color:#fff}.nav.navbar-nav-custom>li.open>a,.nav.navbar-nav-custom>li>a:focus,.nav.navbar-nav-custom>li>a:hover{background-color:#1bbae1;color:#fff}.nav.navbar-nav-custom>li>a>img{width:40px;height:40px;border:2px solid #fff;border-radius:20px;vertical-align:top}.block-options .label,.switch,.table.table-vcenter td,.table.table-vcenter th{vertical-align:middle}.navbar-form{margin:7px 0}.collapse.in .navbar-form,.collapsing .navbar-form{margin-left:-15px;margin-right:-15px}.collapse.in .navbar-form .form-group,.collapsing .navbar-form .form-group{margin-bottom:0}.navbar-form-custom{padding:0;width:100px;float:left;height:50px}.navbar-form-custom .form-control{padding:10px;margin:0;height:50px;font-size:15px;background:0 0;border:none;z-index:2000}.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover{background-color:#fff}.navbar-form-custom .form-control:focus{position:absolute;top:0;left:0;right:0;font-size:18px;padding:10px 20px}.navbar-inverse .navbar-form-custom .form-control{color:#fff}.navbar-inverse .navbar-form-custom .form-control:focus,.navbar-inverse .navbar-form-custom .form-control:hover{background:#000;color:#fff}.sidebar-content{width:200px;color:#fff}.sidebar-section{padding:10px}.sidebar-brand,.sidebar-title{height:50px;line-height:50px;padding:0 10px;margin:0;font-weight:300;font-size:18px;display:block;color:#fff;background:rgba(0,0,0,.15)}a.sidebar-brand:focus,a.sidebar-brand:hover,a.sidebar-title:focus,a.sidebar-title:hover{background-color:#ffff;color:#fff;text-decoration:none}.sidebar-brand i,.sidebar-title i{font-size:14px;display:inline-block;width:18px;text-align:center;margin-right:10px;opacity:.5}.sidebar-title i.pull-left{margin:20px 10px 0 0}.sidebar-title i.pull-right{margin:20px 0 0 10px}.sidebar-user{padding-left:88px;background:rgba(255,255,255,.1)}.sidebar-user-avatar{width:68px;height:68px;float:left;padding:2px;margin-left:-78px;border-radius:34px;background:rgba(255,255,255,.75)}.sidebar-user-avatar img{width:64px;height:64px;border-radius:32px}.sidebar-user-name{font-size:17px;font-weight:300;margin-top:10px;line-height:26px}.sidebar-user-links a{color:#fff;opacity:.3;margin-right:5px}.sidebar-user-links a:focus,.sidebar-user-links a:hover{color:#fff;text-decoration:none;opacity:1}.sidebar-user-links a>i{font-size:14px}.sidebar-themes{list-style:none;margin:0;padding-top:12px;padding-bottom:6px;background:rgba(0,0,0,.15);opacity:.5;-webkit-transition:opacity .25s ease-out;transition:opacity .25s ease-out}.sidebar-themes:hover{opacity:1}.sidebar-themes li{float:left;margin:0 5px 6px 0}.sidebar-themes li a{display:block;width:20px;height:20px;border-radius:10px;border-width:2px;border-style:solid}.sidebar-themes li a:focus,.sidebar-themes li a:hover,.sidebar-themes li.active a{border-color:#fff!important}.chat-users{list-style:none;margin:0;padding:10px}.chat-users li{float:left;margin:0;padding:3px}.chat-users a{position:relative;display:inline-block;padding:2px;width:52px;height:52px;border-radius:25px;background:rgba(255,255,255,.1)}.chat-users a span{position:absolute;top:0;right:0;width:6px;height:6px;border-radius:3px;background-color:#ccc}.chat-users a img{width:48px;height:48px;opacity:.5}.chat-users a.chat-user-away,.chat-users a.chat-user-busy,.chat-users a.chat-user-online{background:rgba(255,255,255,.75)}.chat-users a.chat-user-online span{background-color:#2ecc71}.chat-users a.chat-user-away span{background-color:#f39c12}.chat-users a.chat-user-busy span{background-color:#e74c3c}.chat-users a:hover{background-color:#fff;-webkit-box-shadow:0 0 4px 2px #999;box-shadow:0 0 4px 2px #999}.chat-users a.chat-user-away img,.chat-users a.chat-user-busy img,.chat-users a.chat-user-online img,.chat-users a:hover img{opacity:1}.chat-talk-info{line-height:22px;font-size:13px}.chat-talk-info img{width:22px;height:22px;float:left;margin-right:10px}.chat-talk-messages{list-style:none;margin:0;padding:5px 0;background:rgba(0,0,0,.2)}.chat-talk-messages li{padding:7px 10px;margin-bottom:7px}.chat-talk-messages .chat-talk-msg{width:180px;margin-right:20px;border-right:3px solid #fff;background:rgba(0,0,0,.4)}.chat-talk-messages .chat-talk-msg.chat-talk-msg-highlight{margin-right:0;margin-left:20px;border-right:none;border-left-width:3px;border-left-style:solid}.chat-form{margin:0;padding:5px 10px;background:rgba(0,0,0,.4)}.chat-form .form-control{background:0 0;color:#eee}.sidebar-nav{list-style:none;margin:0;padding:10px 0 0}.sidebar-nav .sidebar-header:first-child{margin-top:0}.sidebar-nav a{display:block;color:#eaedf1;padding:0 10px;min-height:35px;line-height:35px}.sidebar-nav a.open,.sidebar-nav a:focus,.sidebar-nav a:hover,.sidebar-nav li.active>a{color:#fff;text-decoration:none;background:rgba(0,0,0,.15)}.sidebar-nav a.active{padding-left:5px;border-left:5px solid #1bbae1;background:rgba(0,0,0,.3)}.sidebar-nav a>.sidebar-nav-icon{margin-right:10px}.sidebar-nav a>.sidebar-nav-indicator{float:right;line-height:inherit;margin-left:4px;-webkit-transition:all .15s ease-out;transition:all .15s ease-out}.sidebar-nav a>.sidebar-nav-icon,.sidebar-nav a>.sidebar-nav-indicator{display:inline-block;opacity:.5;width:18px;font-size:14px;text-align:center}.sidebar-nav a.active,.sidebar-nav a.active>.sidebar-nav-icon,.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open,.sidebar-nav a.open>.sidebar-nav-icon,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav a:hover,.sidebar-nav a:hover>.sidebar-nav-icon,.sidebar-nav a:hover>.sidebar-nav-indicator,.sidebar-nav li.active>a,.sidebar-nav li.active>a>.sidebar-nav-icon,.sidebar-nav li.active>a>.sidebar-nav-indicator{opacity:1}.sidebar-nav a.active>.sidebar-nav-indicator,.sidebar-nav a.open>.sidebar-nav-indicator,.sidebar-nav li.active>a>.sidebar-nav-indicator{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}.sidebar-nav ul{list-style:none;padding:0;margin:0;display:none;background:rgba(0,0,0,.3)}.sidebar-nav li.active>ul{display:block}.sidebar-nav ul a{margin:0;font-size:12px;padding-left:15px;min-height:32px;line-height:32px}.sidebar-nav ul a.active,.sidebar-nav ul a.active:hover{border-left:5px solid #1bbae1;padding-left:10px}.sidebar-nav ul ul{background:rgba(0,0,0,.4)}.sidebar-nav ul ul a{padding-left:25px}.sidebar-nav ul ul a.active,.sidebar-nav ul ul a.active:hover{padding-left:20px}.sidebar-header{margin:10px 0 0;padding:10px;line-height:12px}.sidebar-header+.sidebar-section{padding-top:0;padding-bottom:0}.sidebar-header .sidebar-header-title{color:#fff;font-size:11px;text-transform:uppercase;opacity:.5}.sidebar-header-options{float:right;display:inline-block}.sidebar-header-options>a,.sidebar-nav .sidebar-header-options a{float:right;margin:0;padding:0;min-height:0;line-height:inherit;display:block;min-width:18px;text-align:center;color:#fff;opacity:.3}.sidebar-header-options a.active,.sidebar-header-options a:focus,.sidebar-header-options a:hover,.sidebar-nav .sidebar-header-options a.active,.sidebar-nav .sidebar-header-options a:focus,.sidebar-nav .sidebar-header-options a:hover{background:0 0;color:#fff;opacity:1}.content-header,.content-top{background-color:#fff;border-bottom:1px solid #dbe1e8}.sidebar-header-options a>i{font-size:14px}.content-header{border-top:1px solid #eaedf1}.content-header h1,.content-header h2{margin:0;font-size:26px;line-height:32px}.content-header small .content-header small{font-size:17px}.header-section h1 i{font-size:56px;float:right;color:#eaedf1;margin:0 0 0 10px;line-height:64px}.header-section{padding:30px 10px}.content-header,.content-top{margin:-10px -5px 10px}.content-header-media{position:relative;height:248px;overflow:hidden;border-top-color:#222}.content-header-media .header-section{z-index:200;position:absolute;top:0;left:0;right:0;color:#fff;background:rgba(0,0,0,.6)}.content-header-media i,.content-header-media small{color:#ddd}.content-header-media>img{position:absolute;top:0;left:50%;width:360px;height:248px;margin-left:0px}.content-header-media>.content-header-media-map{height:270px}.block{margin:0 0 10px;padding:20px 15px 1px;background-color:#fff;border:1px solid #dbe1e8}.block.full{padding:20px 15px}.block .block-content-full{margin:-20px -15px -1px}.block .block-content-mini-padding{padding:8px}.block.full .block-content-full{margin:-20px -15px}.block .tab-content .block-content-full,.block.full .tab-content .block-content-full{margin-top:-19px!important}.block-title{margin:-20px -15px 20px;background-color:#f9fafc;border-bottom:1px solid #eaedf1}.block-title h1,.block-title h2,.block-title h3,.block-title h4,.block-title h5,.block-title h6{display:inline-block;font-size:16px;line-height:1.4;margin:0;padding:10px 16px 7px;font-weight:400}.block-title h1 small,.block-title h2 small,.block-title h3 small,.block-title h4 small,.block-title h5 small,.block-title h6 small{font-size:13px;color:#777;font-weight:400}.block-title h1,.block-title h2,.block-title h3{padding-left:15px;padding-right:15px}.block-options,.block-title .nav-tabs{min-height:40px;line-height:38px}.block-title .nav-tabs{padding:3px 1px 0;border-bottom:none;margin-bottom:-2px}.block-title .nav-tabs>li>a{border-bottom:none;margin-bottom:0}.block-title .nav-tabs>li>a:hover{background:0 0}.block-title .nav-tabs>li.active>a,.block-title .nav-tabs>li.active>a:focus,.block-title .nav-tabs>li.active>a:hover{border:1px solid #eaedf1;border-bottom-color:#fff;background-color:#fff}.block-title code{padding:2px 3px}.block-options{margin:0 6px;line-height:37px}.block-options .label{display:inline-block;padding:6px;font-size:13px}.block-top{margin:-20px -15px 20px;border-bottom:1px dotted #dbe1e8}.block-section{margin-bottom:20px}.block.block-fullscreen{position:fixed;top:5px;bottom:5px;left:5px;right:5px;z-index:1031;margin-bottom:0;overflow-y:auto}.widget{background-color:#fff;margin-bottom:10px}.widget .widget-extra,.widget .widget-extra-full{position:relative;padding:1px}.widget .widget-extra{padding-top:1px;padding-bottom:1px}.widget .widget-content-light{color:#fff}.widget .widget-content-light small{color:#eee}.widget .widget-icon,.widget .widget-image{width:64px;height:64px}.widget .widget-icon{display:inline-block;line-height:64px;text-align:center;font-size:28px;color:#fff;border-radius:32px}.widget .widget-icon .fi,.widget .widget-icon .gi,.widget .widget-icon .hi,.widget .widget-icon .si{margin-top:-3px}.widget .widget-options,.widget .widget-options-left{position:absolute;top:5px;opacity:.5}.widget .widget-options{right:5px}.widget .widget-options-left{left:5px}.widget .widget-options-left:hover,.widget .widget-options:hover{opacity:1}.widget-simple{padding:15px}.widget-simple:after,.widget-simple:before{content:" ";display:table}.widget-simple:after{clear:both}.widget-simple .widget-icon,.widget-simple .widget-image{margin:0 15px}.widget-simple .widget-icon.pull-left,.widget-simple .widget-image.pull-left{margin-left:0}.widget-simple .widget-icon.pull-right,.widget-simple .widget-image.pull-right{margin-right:0}.widget-simple .widget-content{font-size:18px;margin:12px 0}.widget-simple .widget-content small{display:block;margin-top:7px;font-size:13px;font-weight:400}.widget-advanced .widget-header{position:relative;padding:15px 15px 50px;height:150px;overflow:hidden}.widget-advanced .widget-background{position:absolute;top:0;left:0;height:150px}.widget-advanced .widget-background-map{height:180px;width:100%}.widget-advanced .widget-content-image{position:absolute;top:0;left:0;width:100%;padding:15px;margin:0;background:rgba(0,0,0,.6)}.widget-advanced .widget-main{position:relative;padding:50px 15px 15px}.widget-advanced .widget-image-container{position:absolute;display:inline-block;padding:5px;width:74px;height:74px;top:-36px;left:50%;margin-left:-36px;border-radius:36px;background-color:#fff}.widget-advanced .widget-header .widget-image-container{position:static;left:auto;top:auto;margin:0}.widget-advanced-alt .widget-header,.widget-advanced-alt .widget-main{padding:15px}.widget-advanced-alt .widget-header{height:auto;min-height:150px}a.widget{display:block;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}#login-alt-container,#to-top{display:none}a.widget:active,a.widget:focus,a.widget:hover{text-decoration:none}a.widget.widget-hover-effect1:hover{-webkit-transform:translateY(-3px);transform:translateY(-3px);-webkit-box-shadow:0 5px 5px rgba(0,0,0,.1);box-shadow:0 5px 5px rgba(0,0,0,.1)}a.widget.widget-hover-effect1:active{-webkit-transform:translateY(-1px);transform:translateY(-1px);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.1);box-shadow:0 2px 5px rgba(0,0,0,.1)}a.widget.widget-hover-effect2:hover{-webkit-transform:translateY(0);transform:translateY(0);-webkit-box-shadow:inset 0 -5px 0 rgba(0,0,0,.2);box-shadow:inset 0 -5px 0 rgba(0,0,0,.2)}a.widget.widget-hover-effect2:active{-webkit-transform:translateY(2px);transform:translateY(2px);-webkit-box-shadow:none;box-shadow:none}a.widget.widget-hover-effect3:hover{-webkit-transform:rotate(2deg);transform:rotate(2deg)}a.widget.widget-hover-effect3:active{-webkit-transform:rotate(2deg) scale(.95);transform:rotate(2deg) scale(.95)}a.widget.widget-hover-effect4:hover{-webkit-transform:scale(.98);transform:scale(.98)}a.widget.widget-hover-effect4:active{-webkit-transform:rotate(-1deg) scale(.95);transform:rotate(-1deg) scale(.95)}.content-float .pull-left{margin:0 20px 20px 0}.content-float .pull-right{margin:0 0 20px 20px}.draggable-blocks .block-title{cursor:move}.draggable-placeholder{background-color:#ddd;border:1px dashed #999;margin-bottom:10px}#to-top{position:fixed;bottom:55px;left:5px;border-radius:3px;padding:0 12px;font-size:28px;text-align:center;color:#fff;background-color:#000;opacity:.1}#to-top:hover{color:#fff;background-color:#1bbae1;text-decoration:none;opacity:1}#login-background{width:100%;height:224px;overflow:hidden;position:relative}#login-background>img{position:absolute;width:2560px;height:400px;left:50%;margin-left:-1280px}#login-alt-container,#login-container{position:absolute;width:300px;top:10px;left:50%;margin-left:-150px;z-index:1000}#login-container .login-title{padding:20px 10px;background:#444;background:rgba(0,0,0,.6)}#login-alt-container h1,#login-container .login-title h1{font-size:26px;color:#fff}#login-alt-container h1 small,#login-container .login-title h1 small{font-size:16px;color:#ddd}#login-container>.block{border:none}#login-container .register-terms{line-height:30px;margin-right:10px;float:left}img.full-bg{min-height:100%;min-width:1280px;width:100%;height:auto;position:fixed;top:0;left:0}@media screen and (max-width:1280px){img.full-bg{left:50%;margin-left:-640px}}.full-page-container{position:absolute;width:300px;padding:10px;top:20px;left:50%;margin-left:-150px;z-index:1000;background-color:#333;background-color:rgba(0,0,0,.5)}.full-page-section{padding:25px 0;margin:25px -10px;background-color:#000;background-color:rgba(0,0,0,.15)}.countdown-con{color:#fff;text-align:center}.countdown-con .countdown-num{font-size:56px;font-weight:700}.countdown-con .countdown-info{font-size:16px;color:rgba(255,255,255,.6)}.calendar-events{list-style:none;margin:0;padding:0}.calendar-events li{color:#fff;margin-bottom:5px;padding:5px 10px;border-radius:3px;background-color:#555;opacity:.85}.calendar-events li:hover{cursor:move;opacity:1}a.gallery-link,a[data-toggle=lightbox-image]{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.gallery a:hover img,.gallery-image:hover img,a[data-toggle=lightbox-image]:hover img{opacity:.75}.gallery-image{position:relative}.gallery-image-options{position:absolute;top:0;bottom:0;left:0;right:0;display:none;padding:10px}.gallery-image:hover .gallery-image-options,.media-items:hover .media-items-options{display:block}.gallery>.row>div{margin-bottom:15px}.gallery.gallery-widget>.row>div{margin-bottom:0;padding-top:7px;padding-bottom:7px}.media-items{position:relative;margin-bottom:20px;padding:10px;text-align:center;background-color:#f9f9f9;border:2px solid #f1f1f1;-webkit-transition:all .15s ease-out;transition:all .15s ease-out}.media-items:hover{border-color:#ccc}.media-items .media-items-options{position:absolute;top:0;right:0;left:0;padding:10px;display:none}.media-items .media-items-content{padding:40px 0 20px}.pie-chart .pie-avatar{position:absolute;top:8px;left:8px}.chart{height:360px}.chart-tooltip,.mini-chart-tooltip{position:absolute;display:none;color:#fff;background-color:#000;padding:4px 10px}.chart-pie-label{font-size:12px;text-align:center;padding:8px 12px;color:#fff}.mini-chart-tooltip{left:0;top:0;visibility:hidden}.legend table td{padding:4px;font-size:14px}.timeline{position:relative}.timeline-header{margin:0;font-size:18px;font-weight:600;padding:0 15px;min-height:60px;line-height:60px;background-color:#fff;border-bottom:2px solid #f0f0f0;z-index:500}.timeline-list{list-style:none;margin:0;padding:0}.timeline-list:after{position:absolute;display:block;width:2px;top:0;left:95px;bottom:0;content:"";background-color:#f0f0f0;z-index:1}.timeline-header+.timeline-list:after{top:60px}.timeline-list li{position:relative;margin:0;padding:15px 0}.timeline-list.timeline-hover li:hover{background-color:#f9f9f9}.timeline-list .timeline-icon{position:absolute;left:80px;top:10px;width:30px;height:30px;line-height:28px;font-size:14px;text-align:center;background-color:#fff;border:1px solid #ddd;border-radius:15px;z-index:500}.timeline-list .active .timeline-icon{background-color:#1bbae1;border-color:#1bbae1;color:#fff}.timeline-list .timeline-time{float:left;width:70px;text-align:right}.timeline-list .timeline-content{margin-left:120px}.block-content-full .timeline-content{padding-right:20px}.media-feed{margin-bottom:0}.media-feed>.media{margin-top:0;padding:20px 20px 0;border-top:1px dotted #dbe1e8}.media-feed>.media:first-child{border-top:none}.media-feed.media-feed-hover>.media:hover{background-color:#f9f9f9}#error-container{padding:120px 20px;position:relative}#error-container .error-options{position:absolute;top:20px;left:20px}#error-container h1{font-size:96px;color:#fff;margin-bottom:40px}#error-container h2{color:#ccc;margin-bottom:40px;line-height:1.4}#error-container form{padding:20px;border-radius:3px;background:rgba(255,255,255,.1)}#error-container .form-control{border-color:#fff}.table.table-pricing{background-color:#fff}.table-pricing td,.table-pricing th{text-align:center}.table-pricing th{font-size:24px!important}.table-pricing td{font-size:15px;padding-top:12px!important;padding-bottom:12px!important}.table-pricing .table-price{background-color:#f9f9f9}.table-pricing .table-price.table-featured,.table-pricing.table-featured .table-price{background-color:#252525}.table-pricing th.table-featured,.table-pricing.table-featured th{background-color:#1bbae1;border-bottom:2px solid #394263;color:#fff}.table-pricing td.table-featured,.table-pricing.table-featured td{background-color:#394263;color:#fff}.chatui-container{position:relative}.chatui-people,.chatui-talk{overflow-y:hidden}.chatui-people .chatui-header{font-size:14px;line-height:14px;color:#999;text-transform:uppercase;padding:5px 20px}.chatui-people hr{border-top-color:#252525;border-top-color:rgba(0,0,0,.25)}.chatui-people .list-group-item{background:0 0;min-height:52px;border:0;border-radius:0!important}.chatui-people .list-group-item .badge{margin-top:7px}.chatui-people .list-group-item .list-group-item-heading{color:#fff;line-height:32px;margin:0}.chatui-people .list-group-item:focus,.chatui-people .list-group-item:hover{background:rgba(0,0,0,.2)}.chatui-people .list-group-item img{float:left;width:32px;height:32px;margin-right:10px}.chatui-talk{top:0;bottom:50px}.chatui-talk ul{padding:15px;margin:0;list-style:none}.chatui-talk li{padding:5px 10px;margin-bottom:7px}.chatui-talk .chatui-talk-msg{padding:15px 50px 15px 10px;border-left:5px solid #333;background-color:#f6f6f6;position:relative}.chatui-talk .chatui-talk-msg.chatui-talk-msg-highlight{padding-left:50px;border-left:none;border-right-width:5px;border-right-style:solid}.chatui-talk-msg .chatui-talk-msg-avatar{position:absolute;top:8px;right:8px;width:32px;height:32px}.chatui-talk-msg.chatui-talk-msg-highlight .chatui-talk-msg-avatar{top:8px;right:auto;left:8px}.chatui-input{height:50px;line-height:50px;border-top:1px solid #eee}.task-list{list-style:none;margin:0;padding:0}.task-list li{padding:15px 40px 15px 15px;margin-bottom:10px;background-color:#fff;border-radius:3px;position:relative;-webkit-transition:box-shadow .15s ease-out;transition:box-shadow .15s ease-out}.task-list li:hover{-webkit-box-shadow:0 5px 5px rgba(0,0,0,.1);box-shadow:0 5px 5px rgba(0,0,0,.1)}.task-list li.in-1x{margin-left:15px}.task-list li.in-2x{margin-left:30px}.task-list li>.task-close{position:absolute;top:15px;right:15px;color:#000;opacity:0;-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out}.task-list li:hover>.task-close{opacity:.25}.task-list li.task-done{opacity:.5}.task-list li.task-done>label{text-decoration:line-through}.btn-link.btn-icon:focus,.btn-link.btn-icon:hover,.nav-horizontal a:focus{text-decoration:none}.navbar.navbar-default{background-color:#f9fafc}.navbar.navbar-inverse{background-color:#4c5471}.navbar-fixed-bottom,.navbar-fixed-top{border-width:0}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:300}.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:300;color:#777}b,label,strong{font-weight:600}h1,h2,h3{margin-bottom:15px}.text-primary,.text-primary:hover,a,a.text-primary,a.text-primary:focus,a.text-primary:hover,a:focus,a:hover{color:#1bbae1}.text-danger,.text-danger:hover,a.text-danger,a.text-danger:focus,a.text-danger:hover{color:#e74c3c}.text-warning,.text-warning:hover,a.text-warning,a.text-warning:focus,a.text-warning:hover{color:#e67e22}.text-success,.text-success:hover,a.text-success,a.text-success:focus,a.text-success:hover{color:#27ae60}.text-info,.text-info:hover,a.text-info,a.text-info:focus,a.text-info:hover{color:#3498db}.text-muted,.text-muted:hover,a.text-muted,a.text-muted:focus,a.text-muted:hover{color:#999}.text-light,.text-light:hover,a.text-light,a.text-light:focus,a.text-light:hover{color:#fff}ol,ul{padding-left:30px}.list-li-push li{margin-bottom:10px}p{line-height:1.6}article p{font-size:16px;line-height:1.8}.well{background-color:#f9f9f9;border:1px solid #eee}.page-header{border-bottom-width:1px;border-bottom-color:#ddd;margin:30px 0 20px}.sub-header{margin:10px 0 20px;padding:10px 0;border-bottom:1px dotted #ddd}blockquote{border-left-width:3px;margin:20px 0;padding:30px 60px 30px 20px;position:relative;width:100%;border-color:#eaedf1}blockquote:before{display:block;content:"\201C";font-family:serif;font-size:96px;position:absolute;right:10px;top:-30px;color:#eaedf1}.switch,.switch span,.wizard-steps span{display:inline-block}blockquote.pull-right:before{left:10px;right:auto}fieldset legend{font-size:16px;padding:30px 0 10px;border-bottom:2px solid #eaedf1}input[type=file]{padding-top:7px}input[type=text].form-control,input[type=password].form-control,input[type=email].form-control,textarea.form-control{-webkit-appearance:none}.form-control{font-size:13px;padding:6px 8px;margin:1px 0;color:#394263;border-color:#dbe1e8}.form-control-borderless,.form-control-borderless .form-control,.form-control-borderless .input-group-addon,.form-control-borderless:focus{border:transparent!important}.input-group{margin-top:1px;margin-bottom:1px}.input-group .form-control{margin-top:0}.form-control:focus{border-color:#1bbae1}.help-block{color:#777;font-weight:400}.input-group-addon{min-width:45px;text-align:center;background-color:#fff;border-color:#dbe1e8}.form-horizontal .control-label{margin-bottom:5px}.form-bordered{margin:-15px -15px -1px}.modal-body .form-bordered{margin-bottom:-20px}.form-bordered fieldset legend{margin:0;padding-left:20px;padding-right:20px}.form-bordered .form-group{margin:0;border:none;padding:15px;border-bottom:1px dashed #eaedf1}.form-bordered .form-group.form-actions{background-color:#f9fafc;border-bottom:none}.form-horizontal.form-bordered .form-group{padding-left:0;padding-right:0}.form-bordered .help-block{margin-bottom:0}.has-error .form-control,.has-success .form-control,.has-warning .form-control{-webkit-box-shadow:none;box-shadow:none}.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .input-group-addon,.has-success .radio,.has-success .radio-inline{color:#27ae60}.has-success .form-control,.has-success .input-group-addon{border-color:#27ae60;background-color:#fff}.has-success .form-control:focus{border-color:#166638}.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .input-group-addon,.has-warning .radio,.has-warning .radio-inline{color:#e67e22}.has-warning .form-control,.has-warning .input-group-addon{border-color:#e67e22;background-color:#fff}.has-warning .form-control:focus{border-color:#b3621b}.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .input-group-addon,.has-error .radio,.has-error .radio-inline{color:#e74c3c}.has-error .form-control,.has-error .input-group-addon{border-color:#e74c3c;background-color:#fff}.has-error .form-control:focus{border-color:#c0392b}.wizard-steps{border-bottom:1px solid #eaedf1;margin-bottom:20px}.form-bordered .wizard-steps{margin-bottom:0}.wizard-steps .row{margin:0}.wizard-steps .row div{padding:15px 0;font-size:15px;text-align:center}.form-bordered .wizard-steps .row div{padding-top:10px}.wizard-steps span{width:100px;height:100px;line-height:100px;border:1px solid #1bbae1;border-radius:50px}.wizard-steps div.active span,.wizard-steps div.done span{background-color:#1bbae1;color:#fff}.wizard-steps div.done span{opacity:.25}.wizard-steps div.active span{opacity:1}.switch{margin:1px 0;position:relative;cursor:pointer}.switch input{position:absolute;opacity:0}.switch span{position:relative;width:54px;height:28px;border-radius:28px;background-color:#f9f9f9;border:1px solid #ddd;-webkit-transition:background-color .35s;transition:background-color .35s}.switch span:after{content:"";position:absolute;left:2px;top:1px;bottom:1px;width:24px;background-color:#fff;border:1px solid #ddd;border-radius:50%;-webkit-box-shadow:1px 0 3px rgba(0,0,0,.05);box-shadow:1px 0 3px rgba(0,0,0,.05);-webkit-transition:all .15s ease-out;transition:all .15s ease-out}.switch input:checked+span:after{left:26px;border:none;-webkit-box-shadow:-2px 0 3px rgba(0,0,0,.1);box-shadow:-2px 0 3px rgba(0,0,0,.1)}.switch input:checked+span{background-color:#eee}.switch-default span{border-color:#dbe1e8}.switch-default input:checked+span{background-color:#dbe1e8}.switch-primary span{border-color:#1bbae1}.switch-primary input:checked+span{background-color:#1bbae1}.switch-info span{border-color:#7abce7}.switch-info input:checked+span{background-color:#7abce7}.switch-success span{border-color:#aad178}.switch-success input:checked+span{background-color:#aad178}.switch-warning span{border-color:#f7be64}.switch-warning input:checked+span{background-color:#f7be64}.switch-danger span{border-color:#ef8a80}.list-group-item,.table tbody+tbody,.table tbody>tr>td,.table tbody>tr>th,.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th,.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-color:#eaedf1}.switch-danger input:checked+span{background-color:#ef8a80}.table-options{padding:6px 0}.table thead>tr>th{font-size:18px;font-weight:600}.table thead>tr>th>small{font-weight:400;font-size:75%}.table tfoot>tr>td,.table tfoot>tr>th,.table thead>tr>td,.table thead>tr>th{padding-top:14px;padding-bottom:14px}.table tfoot>tr>td,.table tfoot>tr>th{background-color:#f9fafc}.table-borderless tbody>tr>td,.table-borderless tbody>tr>th{border-top-width:0}.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#eaedf1}a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover{background-color:#1bbae1;border-color:#1bbae1}a.list-group-item.active .list-group-item-text,a.list-group-item.active:focus .list-group-item-text,a.list-group-item.active:hover .list-group-item-text{color:#fff}a.list-group-item:focus,a.list-group-item:hover{background-color:#f9fafc}a.list-group-item.active>.badge{background:rgba(0,0,0,.4);color:#fff}.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#1bbae1}.nav>li i{font-size:14px}.nav-pills>.active>a>.badge{color:#1bbae1}.nav-stacked>li>a{margin:4px 0 0}.nav .caret,.nav a:focus .caret,.nav a:hover .caret{border-top-color:#1bbae1;border-bottom-color:#1bbae1}.nav>li>a:focus,.nav>li>a:hover{background-color:#3b5998}.nav-tabs{border-bottom-color:#eaedf1}.nav-tabs>li{margin-bottom:0}.nav-tabs>li>a{padding-left:7px;padding-right:7px;margin-bottom:-1px}.nav-tabs>li>a:hover{border-color:#eaedf1}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#394263;border-color:#eaedf1 #eaedf1 transparent}.nav-pills>li.active>a>.badge{background:rgba(0,0,0,.2);color:#fff}.nav-pills.nav-icons>li>a i{margin-right:10px}.nav-pills.nav-icons>li.active>a i,.nav-pills.nav-icons>li.active>a:focus i,.nav-pills.nav-icons>li.active>a:hover i{color:#fff}.dropdown-menu{padding:0;font-size:13px;border-color:#dbe1e8;-webkit-box-shadow:0 3px 6px rgba(0,0,0,.1);box-shadow:0 3px 6px rgba(0,0,0,.1)}.dropdown-menu>li>a{padding:6px 10px}.dropdown-menu i{opacity:.2;line-height:17px}.dropdown-menu a:hover i{opacity:.5}.dropdown-menu .divider{margin:2px 0;padding:0!important;background-color:#f0f0f0}li.dropdown-header{padding:5px 10px;color:#394263;background-color:#f9fafc;border-top:1px solid #eaedf1;border-bottom:1px solid #eaedf1}.dropdown-menu li:first-child.dropdown-header{border-top:none;border-top-left-radius:3px;border-top-right-radius:3px}.dropdown-menu.dropdown-custom{min-width:200px}.dropdown-menu.dropdown-custom>li{padding:8px 10px;font-size:12px}.dropdown-menu.dropdown-custom>li>a{border-radius:3px}.dropdown-submenu{position:relative}.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-3px;margin-left:0}.dropdown-submenu:hover>.dropdown-menu{display:block}.dropdown-submenu.pull-left{float:none}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px}.collapse.in .dropdown.open .dropdown-menu{display:block;position:static;margin:0 0 0 15px;left:auto;top:auto}.navbar-fixed-top .dropdown-menu{max-height:400px;overflow-y:auto}.pagination>li>a,.pagination>li>span{color:#1bbae1;margin-left:5px;margin-right:5px;border:none!important;border-radius:25px!important}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background-color:#1bbae1}.pager>li>a,.pager>li>span{border-color:#eaedf1}.pager>li>a:hover,.pagination>li>a:hover{background-color:#1bbae1;border-color:#1bbae1;color:#fff}.pager>li.disabled>a:hover{border-color:#eaedf1}.nav-horizontal{padding:10px 7px 1px;margin:0;list-style:none}.nav-horizontal li{display:inline-block;margin:0 3px 9px}.nav-horizontal a{display:block;min-width:140px;border-radius:3px;font-weight:700;text-align:left;padding:8px 10px;background-color:#f9fafc}.nav-horizontal a:hover,.nav-horizontal li.active a{background-color:#1bbae1;text-decoration:none;color:#fff}.nav-horizontal a:hover i,.nav-horizontal li.active a i{color:#fff;opacity:.6}.nav-horizontal i{display:inline-block;font-size:14px;color:#dbe1e8;margin-right:5px}.popover-title{background:0 0;border:none;font-size:17px;font-weight:600}.tooltip{z-index:1051}.tooltip.in{opacity:1}.tooltip-inner{padding:4px 6px;background-color:#000;color:#fff}.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow{border-top-color:#000}.tooltip.right .tooltip-arrow{border-right-color:#000}.tooltip.left .tooltip-arrow{border-left-color:#000}.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow{border-bottom-color:#000}.breadcrumb{background-color:#fff}.breadcrumb i{font-size:14px}.breadcrumb-top{margin:-10px -5px 10px;padding:7px 10px;border-top:1px solid #eaedf1;border-bottom:1px solid #dbe1e8;font-size:12px}.breadcrumb-top+.content-header,.content-header+.breadcrumb-top{margin-top:-11px}.breadcrumb>li+li:before{content:"\203a"}.progress,.progress-bar{height:20px;line-height:20px}.progress-bar-danger{background-color:#e74c3c}.progress-bar-warning{background-color:#f39c12}.progress-bar-success{background-color:#2ecc71}.progress-bar-info{background-color:#3498db}.modal-content{border-radius:3px}.modal-header{padding:15px 15px 14px;border-bottom:1px solid #eee;border-top-left-radius:4px;border-top-right-radius:4px}.modal-title{font-weight:300}.modal-body{padding:20px 15px}.modal-body .nav-tabs{margin:0 -15px 15px;padding:0 5px!important}.modal-footer{margin-top:0;padding:14px 15px 15px;border-top:1px solid #eee;background-color:#f9f9f9;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.btn{margin:1px 0;background-color:#fff}.btn .fi,.btn .gi,.btn .hi,.btn .si{line-height:1}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{opacity:.4}.block-options .btn,.input-group .btn,.modal-content .btn{margin-top:0;margin-bottom:0}.panel,.panel-group{margin-bottom:20px}.btn-default{background-color:#f1f3f6;border-color:#dbe1e8;color:#394263}.btn-default.btn-alt{background-color:#fff}.btn-default:hover{background-color:#eaedf1;border-color:#c2c8cf}.btn-default.active,.btn-default.active:focus,.btn-default.active:hover,.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default.focus,.btn-default:active,.btn-default:active:focus,.btn-default:active:hover,.btn-default:focus,.btn-default[disabled].active,.btn-default[disabled].active:focus,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:active:focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,.open .btn-default.dropdown-toggle,.open .btn-default.dropdown-toggle.focus,.open .btn-default.dropdown-toggle:focus,.open .btn-default.dropdown-toggle:hover,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.active:focus,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:active:focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#eaedf1;border-color:#eaedf1}.btn-primary{background-color:#6ad2eb;border-color:#1bbae1;color:#fff}.btn-primary.btn-alt{background-color:#fff;color:#1bbae1}.btn-primary:hover{background-color:#1bbae1;border-color:#1593b3;color:#fff}.btn-primary.active,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary.focus,.btn-primary:active,.btn-primary:active:focus,.btn-primary:active:hover,.btn-primary:focus,.btn-primary[disabled].active,.btn-primary[disabled].active:focus,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:active:focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,.open .btn-primary.dropdown-toggle,.open .btn-primary.dropdown-toggle.focus,.open .btn-primary.dropdown-toggle:focus,.open .btn-primary.dropdown-toggle:hover,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.active:focus,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:active:focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#1bbae1;border-color:#1bbae1;color:#fff}.btn-danger{background-color:#ef8a80;border-color:#e74c3c;color:#fff}.btn-danger.btn-alt{background-color:#fff;color:#e74c3c}.btn-danger:hover{background-color:#e74c3c;border-color:#9c3428;color:#fff}.btn-danger.active,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger.focus,.btn-danger:active,.btn-danger:active:focus,.btn-danger:active:hover,.btn-danger:focus,.btn-danger[disabled].active,.btn-danger[disabled].active:focus,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:active:focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,.open .btn-danger.dropdown-toggle,.open .btn-danger.dropdown-toggle.focus,.open .btn-danger.dropdown-toggle:focus,.open .btn-danger.dropdown-toggle:hover,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.active:focus,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:active:focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#e74c3c;border-color:#e74c3c;color:#fff}.btn-warning{background-color:#f7be64;border-color:#f39c12;color:#fff}.btn-warning.btn-alt{background-color:#fff;color:#f39c12}.btn-warning:hover{background-color:#f39c12;border-color:#b3730c;color:#fff}.btn-warning.active,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning.focus,.btn-warning:active,.btn-warning:active:focus,.btn-warning:active:hover,.btn-warning:focus,.btn-warning[disabled].active,.btn-warning[disabled].active:focus,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:active:focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,.open .btn-warning.dropdown-toggle,.open .btn-warning.dropdown-toggle.focus,.open .btn-warning.dropdown-toggle:focus,.open .btn-warning.dropdown-toggle:hover,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.active:focus,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:active:focus,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#f39c12;border-color:#f39c12;color:#fff}.btn-success{background-color:#aad178;border-color:#7db831;color:#fff}.btn-success.btn-alt{background-color:#fff;color:#7db831}.btn-success:hover{background-color:#7db831;border-color:#578022;color:#fff}.btn-success.active,.btn-success.active:focus,.btn-success.active:hover,.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success.focus,.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success[disabled].active,.btn-success[disabled].active:focus,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:active:focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,.open .btn-success.dropdown-toggle,.open .btn-success.dropdown-toggle.focus,.open .btn-success.dropdown-toggle:focus,.open .btn-success.dropdown-toggle:hover,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.active:focus,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:active:focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#7db831;border-color:#7db831;color:#fff}.btn-info{background-color:#7abce7;border-color:#3498db;color:#fff}.btn-info.btn-alt{background-color:#fff;color:#3498db}.btn-info:hover{background-color:#3498db;border-color:#2875a8;color:#fff}.btn-info.active,.btn-info.active:focus,.btn-info.active:hover,.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info.focus,.btn-info:active,.btn-info:active:focus,.btn-info:active:hover,.btn-info:focus,.btn-info[disabled].active,.btn-info[disabled].active:focus,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:active:focus,.btn-info[disabled]:focus,.btn-info[disabled]:hover,.open .btn-info.dropdown-toggle,.open .btn-info.dropdown-toggle.focus,.open .btn-info.dropdown-toggle:focus,.open .btn-info.dropdown-toggle:hover,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.active:focus,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:active:focus,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#3498db;border-color:#3498db;color:#fff}.btn-link,.btn-link.btn-icon:focus,.btn-link.btn-icon:hover,.btn-link:focus,.btn-link:hover{color:#1bbae1}.btn-link.btn-icon{color:#999}.alert-danger,.alert-danger .alert-link{color:#e74c3c}.block-options .btn{border-radius:15px;padding-right:8px;padding-left:8px;min-width:30px;text-align:center}.panel-heading{padding:15px}.panel-title{font-size:14px}.panel-default>.panel-heading{background-color:#f9f9f9}pre{background:#151515;overflow:scroll}code{border:1px solid #fad4df;margin:1px 0;display:inline-block}.btn code{display:inline;margin:0}.alert{border-width:0 2px}.alert-danger{background-color:#ffd1cc;border-color:#ffb8b0}.alert-warning{color:#e67e22;background-color:#ffe4cc;border-color:#ffd6b2}.alert-warning .alert-link{color:#e67e22}.alert-success{color:#27ae60;background-color:#daf2e4;border-color:#b8e5cb}.alert-success .alert-link{color:#27ae60}.alert-info,.alert-info .alert-link{color:#3498db}.alert-info{background-color:#dae8f2;border-color:#b8d2e5}.alert-dismissable .close{top:-5px;right:-25px}.close{text-shadow:none}.alert.alert-alt{margin:0 0 2px;padding:5px;font-size:12px;border-width:0 0 0 2px}.alert.alert-alt small{opacity:.75}.alert-alt.alert-dismissable .close{right:0}.alert-alt.alert-dismissable .close:hover{color:#fff}.alert-danger.alert-alt{border-color:#e74c3c}.alert-warning.alert-alt{border-color:#e67e22}.alert-success.alert-alt{border-color:#27ae60}.alert-info.alert-alt{border-color:#3498db}.sidebar-content .alert.alert-alt{margin-left:-10px;padding-left:10px;background:0 0;color:#fff}#sidebar-alt .sidebar-content .alert.alert-alt{margin-left:0;margin-right:-10px;padding-left:0;padding-right:10px;border-width:0 2px 0 0}.badge,.label{font-weight:400;font-size:90%}.label{padding:1px 4px}.badge{background:rgba(0,0,0,.3);padding:3px 6px}.label-danger{background-color:#e74c3c}.label-danger[href]:focus,.label-danger[href]:hover{background-color:#ff5542}.label-warning{background-color:#e67e22}.label-warning[href]:focus,.label-warning[href]:hover{background-color:#ff8b26}.label-success{background-color:#27ae60}.label-success[href]:focus,.label-success[href]:hover{background-color:#2cc76c}.label-info{background-color:#2980b9}.label-info[href]:focus,.label-info[href]:hover{background-color:#2f92d4}.label-primary{background-color:#1bbae1}.label-primary[href]:focus,.label-primary[href]:hover{background-color:#5ac5e0}.label-default{background-color:#999}.label-default[href]:focus,.label-default[href]:hover{background-color:#777}.carousel-control.left,.carousel-control.left.no-hover:hover,.carousel-control.right,.carousel-control.right.no-hover:hover{background:0 0}.carousel-control.left:hover,.carousel-control.right:hover{background:rgba(0,0,0,.3)}.carousel-control span{position:absolute;top:50%;left:50%;z-index:5;display:inline-block}.carousel-control i{width:20px;height:20px;margin-top:-10px;margin-left:-10px}.alert,.carousel,.table,p{margin-bottom:20px}.btn.active,.form-control,.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus,.has-warning .form-control:focus,.navbar-collapse,.navbar-form,.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover,.open .btn.dropdown-toggle,.panel,.popover,.progress,.progress-bar{-webkit-box-shadow:none;box-shadow:none}.alert.alert-alt,.breadcrumb,.dropdown-menu,.navbar,.navbar-form-custom .form-control,.tooltip-inner{border-radius:0}.push-bit{margin-bottom:10px!important}.push{margin-bottom:15px!important}.push-top-bottom{margin-top:40px;margin-bottom:40px}.display-none{display:none}.remove-margin{margin:0!important}.remove-margin-bottom{margin-bottom:0!important}.remove-padding{padding:0!important}.remove-radius{border-radius:0!important}.remove-box-shadow{-webkit-box-shadow:none!important;box-shadow:none!important}.remove-transition{-moz-transition:none!important;-webkit-transition:none!important;transition:none!important}.lt-ie10 .hidden-lt-ie10{display:none!important}.visible-lt-ie10{display:none}.lt-ie10 .visible-lt-ie10{display:block}:focus{outline:0!important}.style-alt #page-content{background-color:#fff}.style-alt .block{border-color:#dbe1e8}.style-alt .block.block-alt-noborder{border-color:transparent}.style-alt .block-title{background-color:#dbe1e8;border-bottom-color:#dbe1e8}.style-alt #page-content+footer,.style-alt .breadcrumb-top+.content-header,.style-alt .content-header+.breadcrumb-top{background-color:#f9fafc}.style-alt .breadcrumb-top,.style-alt .content-header{border-bottom-color:#eaedf1}.style-alt #page-content+footer{border-top-color:#eaedf1}.style-alt .task-list li,.style-alt .widget{background-color:#f6f6f6}.test-circle{display:inline-block;width:100px;height:100px;line-height:100px;font-size:18px;font-weight:600;text-align:center;border-radius:50px;background-color:#eee;border:2px solid #ccc;color:#fff;margin-bottom:15px}.themed-color{color:#1bbae1}.themed-border{border-color:#1bbae1}.themed-background{background-color:#1bbae1}.themed-color-dark{color:#394263}.themed-border-dark{border-color:#394263}.themed-background-dark{background-color:#394263}.themed-background-danger{background-color:#e74c3c!important}.themed-background-warning{background-color:#e67e22!important}.themed-background-info{background-color:#3498db!important}.themed-background-success{background-color:#27ae60!important}.themed-background-muted{background-color:#999!important}.themed-background-muted-light{background-color:#f9f9f9!important}@media screen and (min-width:768px){#login-background{height:400px}#login-background>img{top:0}#login-alt-container,#login-container{width:480px;top:186px;margin-left:-240px}.full-page-container{width:740px;top:120px;padding:20px;margin-left:-370px}.full-page-section{padding:50px 0;margin:50px -20px}#page-content{padding:20px 20px 1px}#page-content+footer,.block,.block.full,.breadcrumb-top,.form-bordered .form-group,.header-section,.modal-body{padding-left:20px;padding-right:20px}.block .block-content-full{margin:-20px -20px -1px}.block.full .block-content-full{margin:-20px}.breadcrumb-top,.content-header,.content-top{margin:-20px -20px 20px}.block,.draggable-placeholder,.widget{margin-bottom:20px}.block-title,.block-top,.form-bordered{margin-left:-20px;margin-right:-20px}.breadcrumb-top+.content-header,.content-header+.breadcrumb-top{margin-top:-21px}.navbar-fixed-top .dropdown-menu{max-height:none;overflow-y:visible}.form-horizontal.form-bordered .form-group{padding-left:5px;padding-right:5px}.nav-tabs>li>a{padding-left:15px;padding-right:15px;margin-left:3px;margin-right:3px}.chatui-input,.chatui-people,.chatui-talk{position:absolute}.chatui-input,.chatui-talk{right:250px;left:0}.chatui-people{top:0;right:0;bottom:0;width:250px;height:auto}.chatui-talk{height:auto}.chatui-talk .chatui-talk-msg{width:50%;margin-left:50%}.chatui-talk .chatui-talk-msg.chatui-talk-msg-highlight{margin-left:0;margin-right:50%}.chatui-input{bottom:0}}@media screen and (min-width:992px){#login-alt-container{display:block}.sidebar-no-animations #sidebar,.sidebar-no-animations #sidebar-alt{-webkit-transition:opacity .5s linear,background-color .2s ease-out;transition:opacity .5s linear,background-color .2s ease-out}.sidebar-no-animations #main-container,.sidebar-no-animations.footer-fixed #page-content+footer,.sidebar-no-animations.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-no-animations.header-fixed-top header.navbar-fixed-top{-webkit-transition:none;transition:none}.sidebar-alt-visible-xs #sidebar-alt,.sidebar-visible-xs #sidebar{width:0}.sidebar-alt-visible-xs #main-container,.sidebar-visible-xs #main-container{margin-left:0;margin-right:0}.sidebar-alt-visible-xs.footer-fixed #page-content+footer,.sidebar-alt-visible-xs.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-alt-visible-xs.header-fixed-top header.navbar-fixed-top,.sidebar-visible-xs.footer-fixed #page-content+footer,.sidebar-visible-xs.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-visible-xs.header-fixed-top header.navbar-fixed-top{right:0;left:0}#sidebar,#sidebar-alt,.sidebar-alt-partial #sidebar-alt,.sidebar-partial #sidebar{width:0;opacity:.2}.sidebar-alt-partial #sidebar-alt,.sidebar-partial #sidebar{width:65px}.sidebar-alt-partial #sidebar-alt:hover,.sidebar-alt-visible-lg #sidebar-alt,.sidebar-alt-visible-lg.sidebar-alt-partial #sidebar-alt,.sidebar-partial #sidebar:hover,.sidebar-visible-lg #sidebar,.sidebar-visible-lg.sidebar-partial #sidebar{width:200px;opacity:1}.sidebar-alt-partial #sidebar-alt .sidebar-brand i,.sidebar-partial #sidebar .sidebar-brand i{display:none}.sidebar-alt-partial #sidebar-alt:hover .sidebar-brand i,.sidebar-alt-visible-lg #sidebar-alt .sidebar-brand i,.sidebar-partial #sidebar:hover .sidebar-brand i,.sidebar-visible-lg #sidebar .sidebar-brand i{display:inline-block}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-header>span,.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav-mini-hide,.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav>li.active>ul{display:none}.sidebar-partial #main-container{margin-left:65px}.sidebar-partial #sidebar:hover+#main-container,.sidebar-visible-lg #main-container{margin-left:200px}.sidebar-partial.footer-fixed #main-container #page-content+footer,.sidebar-partial.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-partial.header-fixed-top header.navbar-fixed-top{left:65px}.sidebar-partial #sidebar:hover+#main-container #page-content+footer,.sidebar-partial #sidebar:hover+#main-container header.navbar-fixed-bottom,.sidebar-partial #sidebar:hover+#main-container header.navbar-fixed-top,.sidebar-visible-lg.footer-fixed #main-container #page-content+footer,.sidebar-visible-lg.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-visible-lg.header-fixed-top header.navbar-fixed-top{left:200px}.sidebar-alt-partial #main-container{margin-right:65px}.sidebar-alt-partial #sidebar-alt:hover~#main-container,.sidebar-alt-visible-lg #main-container{margin-right:200px}.sidebar-alt-partial.footer-fixed #main-container #page-content+footer,.sidebar-alt-partial.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-alt-partial.header-fixed-top header.navbar-fixed-top{right:65px}.sidebar-alt-partial #sidebar-alt:hover~#main-container #page-content+footer,.sidebar-alt-partial #sidebar-alt:hover~#main-container header.navbar-fixed-bottom,.sidebar-alt-partial #sidebar-alt:hover~#main-container header.navbar-fixed-top,.sidebar-alt-visible-lg.footer-fixed #main-container #page-content+footer,.sidebar-alt-visible-lg.header-fixed-bottom header.navbar-fixed-bottom,.sidebar-alt-visible-lg.header-fixed-top header.navbar-fixed-top{right:200px}.sidebar-mini.sidebar-visible-lg-mini #main-container{margin-left:40px}.sidebar-mini.sidebar-visible-lg-mini #main-container #page-content+footer,.sidebar-mini.sidebar-visible-lg-mini #main-container header.navbar-fixed-bottom,.sidebar-mini.sidebar-visible-lg-mini #main-container header.navbar-fixed-top{left:40px}.sidebar-mini.sidebar-visible-lg-mini #sidebar{overflow:visible;opacity:1;z-index:1029}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-content{width:40px}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-header{padding:0;margin:5px 0;border-top:1px solid rgba(255,255,255,.1)}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav li{position:relative}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu+ul{position:absolute;width:220px;top:0;right:-220px;margin:0;padding:6px 5px;border-left:3px solid #1bbae1;background-color:#394263}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav ul a{margin:0;padding-left:10px;border-left:none}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav ul ul{margin-left:0}.sidebar-mini.sidebar-visible-lg-mini #sidebar .sidebar-nav .sidebar-nav-menu.open+ul{display:block!important}.nav-horizontal a{text-align:center;min-width:130px;padding:12px 15px}.nav-horizontal i{display:block;height:55px;margin-right:0;margin-bottom:10px;font-size:42px;padding:10px}}@media screen and (min-width:1200px){.header-fixed-bottom .sidebar-content,.header-fixed-top .sidebar-content{padding-bottom:0}article p{font-size:19px;line-height:1.9}}@media print{#page-content+footer,#sidebar,#sidebar-alt,#to-top,.block-title .block-options,.breadcrumb-top,.content-header{display:none!important}#page-content{min-height:0!important;height:auto!important;padding:0!important}#main-container{margin:0!important}.block,.block.full{border:none!important;padding:0!important}.block-title{margin:0 0 20px!important}}




/*VIEW ITEM - SELLER*/

.wrapper-content {
    padding: 20px 10px 40px;
}

.ibox {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.white-bg {
    background-color: #ffffff;
}

.product-detail .ibox-content {
    padding: 30px 30px 50px 30px;
}

.ibox-content {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 15px 20px 20px;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.product-images {
    margin: 0 20px;
}
.slick-prev {
    left: -25px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-list {
    border: 1px solid #292929;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide img {
    display: block;
}
.full-width {
    width: 100% !important;
}
.font-bold {
    font-weight: 600;
}
    font-family: "oxygen", "Roboto Condensed", sans-serif, Arial;
}
.text-muted {
    color: #888888;
}
.small, small {
    font-size: 85%;
}
.pro-list {
    list-style: outside none none;
    padding-left: 0;
}
.pro-list li .fa {
    margin-right: 7px;
}


.widget {
    margin-bottom: 20px;
    background-color: #fff;
}

.widget-extra-full {
    position: relative;
    padding: 15px;
}

.themed-background-night {
    background-color: #888!important;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*END VIEW ITEM*/

/*DASHBOARD START*/
.rounded {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
}
.rounded:after, .rounded:before {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
}
.bg-facebook {
  background-color: #3b5998 !important;
  border: 1px solid #3b5998;
  color: white;
}
.bg-facebook a, .bg-facebook i, .bg-facebook span, .bg-facebook small, .bg-facebook p {
  color: white;
}
.bg-facebook .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-facebook .morris-hover-row-label {
  background-color: #2d4373;
}

.bg-twitter {
  background-color: #00a0d1 !important;
  border: 1px solid #00a0d1;
  color: white;
}
.bg-twitter a, .bg-twitter i, .bg-twitter span, .bg-twitter small, .bg-twitter p {
  color: white;
}
.bg-twitter .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-twitter .morris-hover-row-label {
  background-color: #00799e;
}

.bg-googleplus {
  background-color: #db4a39 !important;
  border: 1px solid #db4a39;
  color: white;
}
.bg-googleplus a, .bg-googleplus i, .bg-googleplus span, .bg-googleplus small, .bg-googleplus p {
  color: white;
}
.bg-googleplus .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-googleplus .morris-hover-row-label {
  background-color: #be3323;
}

.bg-bitbucket {
  background-color: #205081 !important;
  border: 1px solid #205081;
  color: white;
}
.bg-bitbucket a, .bg-bitbucket i, .bg-bitbucket span, .bg-bitbucket small, .bg-bitbucket p {
  color: white;
}
.bg-bitbucket .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-bitbucket .morris-hover-row-label {
  background-color: #163758;
}

.bg-youtube {
  background-color: #c4302b !important;
  border: 1px solid #c4302b;
  color: white;
}
.bg-youtube a, .bg-youtube i, .bg-youtube span, .bg-youtube small, .bg-youtube p {
  color: white;
}
.bg-youtube .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-youtube .morris-hover-row-label {
  background-color: #9a2622;
}




.mini-stat {
  padding: 15px;
  margin-bottom: 20px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: none repeat scroll 0% 0% #EEE;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  color: #FFF;
}

.mini-stat-chart {
  width: auto;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 10px;
}



.mini-stat-info {
  font-size: 12px;
  padding-top: 2px;
}
.mini-stat-info span {
  display: block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 7px;
}

.fg-facebook {
  color: #3b5998 !important;
}

.fg-twitter {
  color: #00a0d1 !important;
}

.fg-googleplus {
  color: #db4a39 !important;
}

.fg-bitbucket {
  color: #205081 !important;
}



/*DASHBOARD END*/




/*COPIED AUCTION ITEM CSS START*/
/**/
/*COPIED AUCTION ITEM CSS END*/




/*HOME DATA MANAGEMENT VIEW*/
.sliderbox{
 border-radius: 25px;
    /* height: 300px; */
    /* width: 300px; */
    border: 5px solid #60255621;
    padding: 25px;
    margin: 0px;
    height: 300px;
    /* border-radius: 25px; */


  
}

   



   /* END HOME DATA MANAGEMENT*/


  /* LOGIN PAGE*/

  body { 
  background: url('/public/script/img/loginbg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.btn-login:hover {
    background-color: #fef200;
    border-color: #1593b3;
    color: #040404;
}

.btn-login {
    background-color: #c16c51;
    border-color: #ffff;
    color: #fff;
}


/*ARABIC PAGE SETTINGS*/

.nav-md .container.body .rightarab_col {
    /*padding: 10px 0 0 20px;*/
    margin-right: 230px;
    padding: 15px;
}

body .container.body .rightarab_col {
    background: #F7F7F7;
}

.main_container .top_navarabic {
    display: block;
    margin-right: 230px;
  }

  .nav_menuarabic {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
  }


  .toggle_arabic{
    float: right;
    margin: 0;
    padding-top: 16px;
    width: 70px;
}

/*RELATED PRODUCT SELECTED LIST*/

.tagar {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: right;
    padding: 5px 9px;
    background: #1ABB9C;
    color: #F1F6F7;
    margin-right: 5px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: helvetica;
}

/*NEW VIEW PRODUCT*/
.productviewbox
{
    margin-top: 80px;
    /* margin: 2px; */
   /* padding-top: 5px;*/
    /* padding: 2px; */
/*    border: 3px solid;*/
    border-radius: 10px;
    padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;
}
.productviewboxtwo{
   margin-top: 80px;
    /* margin: 2px; */
    /*padding-top: 5px;*/
    /* padding: 2px; */
    border: 3px solid;
    border-radius: 10px;
   /* padding-bottom: 25px;*/
    margin-bottom: 50px;
     padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;
}
.productviewboxthree{

margin-top: 80px;
    /* margin: 2px; */
   /* padding-top: 5px;*/
    /* padding: 2px; */
    border: 3px solid;
    border-radius: 10px;
   /* padding-bottom: 20px;*/
    margin-bottom: 50px;
     padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;

}


.productviewboxar
{
    margin-top: 80px;
    /* margin: 2px; */
    padding-top: 5px;
    /* padding: 2px; */
    border: 3px solid;
    border-radius: 10px;
     padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;
}
.productviewboxtwoar{
   margin-top: 80px;
    /* margin: 2px; */
   /* padding-top: 5px;*/
    /* padding: 2px; */
    border: 3px solid;
    border-radius: 10px;
   /* padding-bottom: 25px;*/
    margin-bottom: 50px;
     padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;
}
.productviewboxthreear{

margin-top: 80px;
    /* margin: 2px; */
    padding-top: 5px;
    /* padding: 2px; */
    border: 3px solid;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 50px;
     padding: 6px;
    border: 1px solid #ccc;
        background-color: #fff;

}

/*REVIEWS AND RATINGS*/

.social-feed-box {
    margin-bottom: 20px;
}

.social-feed-box {
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
}
.social-action {
    margin: 15px;
}
.dropdown, .dropup {
    position: relative;
}
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    display: none;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 0;
    list-style: outside none none;
    margin: 10px 0 0;
    min-width: 175px;
    padding: 0;
    position: absolute;
    z-index: 1000;
}

/*NEW*/
.social-comment:first-child {
    margin-top: 0;
}
.social-comment {
    margin-top: 15px;
}
/*.media-body {
    overflow: hidden;
}*/
.media-body {
    font-size: 14px;
    display: block;
    width: auto;
}
.text-muted {
    color: #888888;
}
.small {
    font-size: 85%;
}



body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 4px solid slategrey;
}

html::-webkit-scrollbar {
    width: 4px;
}
 
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
 
html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.sidebar{
  overflow-y: scroll;
  overflow-x: hidden;
}

  .sidebar::-webkit-scrollbar {
    width: 7px;
}

.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.3);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: red
  outline: 7px solid red
}


/*ARABIC SEARCH*/

/*.top_searcharab{


      box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 0 25px 25px 0;
    padding-right: 20px;
    border: 1px solid rgba(221,226,232,.49);
    border-left: 0;
}
    */

    /*ARABIC SIDEBAR*/

    .navar{
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}


/*NEW DASHBORD ITEM*/
.top15 {
    margin-top: 15px;
}
.widgetn {
    border-radius: 2px !important;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.widgetn {
    color: #fff;
}
.aqua-bg {
    background-color: #49b6d6;
}
.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.widgetn.white-bg {
    color: inherit;
}
.white-bg {
    background-color: #ffffff;
}
.green-bg {
    background-color: #44b6ae;
}
.vertical-align div {
    display: inline-block;
    vertical-align: middle;
}
.font-bold {
    font-weight: 600;
}
.aqua-bg {
    background-color: #49b6d6;
}
.red-bg {
    background-color: #e35b5a;
}
.ibox {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}
.top10 {
    margin-top: 10px;
}
.demo-container {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding: 20px 15px 15px 15px;
    margin: 0 auto 20px auto;
    border: 1px solid #ddd;
    background: #fff;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*PROMO CODE*/

.form-horizontal .label-wrapper {
    display: table;
    float: right;
    min-height: 28px;
}
.btn-search {
    margin-top: 10px;
    min-width: 150px;
    padding: 7px 10px;
    font-size: 18px;
}

.k-grid.k-widget {
    overflow-x: auto;
    border: 1px solid #e8e8e8;
    border-top: 0;
}
.k-grid.k-widget .k-pager-wrap {
    border: 0;
    border-top: 1px solid #ededed;
    background: #f4f4f4;
    padding: 8px 8px 6px;
}

/*promocodes*/

 
.cover {
  display: inline-block;
  height: 200px;
  width: 320px;
  margin: 15px;
  border-radius: 8px;
}
  .atvImg {
  border-radius: 8px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(#000,0);
}

.cover {
  display: inline-block;
  height: 200px;
  width: 320px;
  margin: 15px;
  border-radius: 8px;
}

@media screen and (max-width: 700px) {
  .container {
    width : 100%;
    position: relative;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    top: 0;
    left: 0;
  }

}

.atvImg {
  border-radius: 8px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(#000,0);
}



.atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition : all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
  box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.atvImg-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%; 
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  -webkit-transition : all 0.1s ease-out;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: 8px;
}

.atvImg-shadow {
  position: absolute;
  top: 5%; 
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-transition : all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  border-radius: 8px;
  background: -webkit-linear-gradient(315deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
  background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}
.promocard{
  height: 180px;
  width: 350px;
  background: url(/public/script/img/card.jpg);
  border-radius: 5px;
}
.carddata{
  padding: 10px;

}

.cardlogo{
  height: 50px;
  width: 100px;
  float: right;
}
.cardlogo img{
  min-height: 50px;
min-width: 100px;

}


.ta-editor.form-control{
  height: auto;
}

/*REPLY*/

/*h3.second_heading{
margin-left: 0;
margin-top: 30px;
font-size: 20px;
width: 250px;
height: 50px;
padding-top: 10px;
padding-left: 55px;

}*/
/*#middle{
border: 1px solid lightgray;
width: 1000px;
height: 200px;
background-color: lightyellow;
margin-left: 45px;
text-align: left;
margin-top: 10px;
box-shadow: 0 2px 0 lightgray;
}*/

#inner_reply{

margin-left: 800px;
margin-top: 160px;
width: 100px;
height: 30px;
background-color: #2c95dc;
text-align: center;
font-size: 18px;
color: white;
border-radius: 18px;
}
#middle
{
    border: 1px solid lightgray;
    width: 750px;
    height: 200px;
    background-color: lightyellow;
    margin-left: 5px;
    text-align: left;
    margin-top: 5px;
    box-shadow: 2px 2px 0 lightgrey;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
/*body {
  margin: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #f2fbff;
}
em {
  font-style: italic;
}
h1 {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 16px;
  margin-bottom: 15px;
}
*/




/*new invoice style */
.panel {
    margin-bottom: 14px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    padding: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.invoice .invoice-header {
    padding: 30px 15px;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(85%, #ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 85%, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 85%, #f2f2f2);
    background-image: -o-linear-gradient(#ffffff, #ffffff 85%, #f2f2f2);
    background-image: linear-gradient(#ffffff, #ffffff 85%, #f2f2f2);
    background-repeat: no-repeat;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dbdbdb;
}
.gutter.row {
    margin-right: -7px;
    margin-left: -7px;
}
.invoice a .logo {
    width: 110px;
    margin: 5px 0;
}
/*.logo {
    margin: 0;
    float: left;
    position: relative;
    line-height: 50px;
}*/
.invoice a {
    display: block;
}

a {
    color: #353535;
    text-decoration: none;
}
.right-text {
    text-align: right;
}
.no-margin {
    margin: 0 !important;
}
.text-info {
    color: #2698e2;
}
.invoice address h4 {
    margin-bottom: 10px;
}
.table-bordered {
    border: 1px solid #e0e0e0;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #e0e0e0;
}
.table>thead>tr>th {
    border-bottom: 2px solid #b3b3b3;
    font-weight: 600;
    background: #ededed;
}
.table>thead>tr>th, .table>thead>tr>td {
    font-size: 15px;
    font-weight: 400;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #ededed;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 12px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #e0e0e0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #ededed;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 12px;
}


.invoicecustomerinfo{
    border: 1px solid;
    border-color: #27257c;
    padding: 3px;
    background-color: #c4c4e6;
    color: #09076b;
    font-weight: 600;
}
/*body{
   unicode-bidi:bidi-override !important; 
}
*/


/*dotted line in invoice*/
/*div{
    height:1em;
}*/
.left,.right{
    padding:1px 0.5em;
    background:#c4c4e6;
    float:right;
}
.left{
    float:left;
    clear:both;
}

.dotted{
    border-bottom: 1px dotted grey;
    margin-bottom:2px;
}



.bottomdiv{
align-self: flex-end;
text-align: center;

}
