<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       
          <h3>View Tax </h3>
       
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Tax Informations <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxName">Tax Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="tax.taxName" id="taxName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">Country <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="tax.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityName">City <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="tax.cityName" id="cityName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">Country <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select ng-options="country.countryId as country.countryName for country in countries" ng-change="changeCountry(tax.countryId)" class="form-control" ng-model="tax.countryId">
                  </select>
                </div>
              </div> -->
             <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityId">City <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select ng-options="city.cityId as city.cityName for city in citiesbycountries" class="form-control" ng-model="tax.cityId">
                  </select>
                </div>
              </div> -->
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxPercentage">Tax Percentage <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="tax.taxPercentage" id="taxPercentage" required="required" class="form-control col-md-7 col-xs-12"  readonly="true"  />
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Tax Status <span class="required"></span>
                  </label>
                  <div ng-if="tax.status==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="tax.status==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>

              <!-- <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tax Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :tax.status==0  }" ng-click="tax.status=0"> Deactive</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :tax.status==1  }" ng-click="tax.status=1"> Active</div>
                </div>
              </div> -->
              <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
               <a href="#/admin/tax" button type="submit" class="btn btn-primary">Close</button></a>
              </div>
            </div>
          </div>
           </form>
          </div>
          
        </div>
        <hr>
       
      </div>
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <div ng-if="taxtid==0">
          <h3>إضافة الضرائب </h3>
        </div>
        <div ng-if="taxtid!=0">
          <h3>تحرير الضريبة </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right"> معلومات حول الضرائب<small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
             <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.taxName" id="taxName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxName">سم الضريبة    <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">دولة   <span class="required">*</span>
                </label>
               
              </div>
               <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.cityName" id="cityName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityName">مدينة   <span class="required">*</span>
                </label>
                
              </div>
            
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.taxPercentage" id="taxPercentage" required="required" class="form-control col-md-7 col-xs-12"  readonly="true"  />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxPercentage">نسبة الضرائب  <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                <div ng-if="tax.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value="غير نشطة  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="tax.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value="شطة  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة  <span class="required"></span>
                  </label>
                  
                </div>

            
              <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
               <a href="#/admin/tax" button type="submit" class="btn btn-primary">أغلق  </button></a>
              </div>
            </div>
          </div>
           </form>
            <!-- <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.taxName" id="taxName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxName">سم الضريبة     <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <select ng-options="country.countryId as country.countryNameAr for country in countries" ng-change="changeCountry(tax.countryId)" class="form-control" ng-model="tax.countryId">
                  </select>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">دولة   <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <select ng-options="city.cityId as city.cityNameAr for city in citiesbycountries" class="form-control" ng-model="tax.cityId">
                  </select>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityId">مدينة  <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="tax.taxPercentage" id="taxPercentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taxPercentage">نسبة الضرائب  <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :tax.status==0  }" ng-click="tax.status=0"> غير نشطة  </div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :tax.status==1  }" ng-click="tax.status=1"> شطة  </div>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة  </label>
               
              </div>
              <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addTax(tax)">سجيل  </button>
              </div>
            </div>
          </div>
           </form> -->
          </div>
          
        </div>
        <hr>
       
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
