<!-- page content -->
        <div class="right_col" role="main" style="min-height: 980px;"">


          <div class="">
            <!-- <div class="page-title">
              <div class="title_left">
                <h3>Invoice <small>Some examples to get you started</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Invoice  <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                     <!--  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li> -->
                      <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li> -->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="col-xs-12 invoice-header">
                          <h1>
                                          <i class="fa fa-globe"></i> Invoice.
                                          <small class="pull-right">Date: {{orderdetails.lastUpdatedTime|date}}</small>
                                      </h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                          From
                          <address>
                                          <strong>{{sellers.sellerName}}</strong>
                                          <br>{{sellers.address}}
                                          <br>{{sellers.cityName}}
                                          <br>{{sellers.countryName}}
                                           <br>Phone: {{sellers.phoneNumber}}
                                          <br>Email: {{sellers.emailId}}
                                          <br>Website: {{sellers.webAddress}}
                                      </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          To
                          <address>
                                          <strong>{{customers.customerName}}</strong>
                                          <br>{{customers.address}}
                                          <br>{{customers.cityName}}
                                          <br>{{customers.countryName}}
                                          <br>Phone: {{customers.phoneNo}}
                                          <br>Email: {{customers.emailid}}
                                      </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          <b>Invoice No: {{transaction.reciptNo}}</b>
                          <br>
                          <br>
                          <b>Order ID:</b> {{orderdetails.orderId}}
                          <br>
                          <b>Payment Mode:</b> <!-- 2/22/2014 -->
                          <br>
                          <b><!-- Account -->:</b> <!-- 968-34567 -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row">
                        <div class="col-xs-12 table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th class="text-center">Sl.No</th>
                                <th class="text-center">Item Name</th>
                                <th class="text-center">Price </th>
                                 <th class="text-center">Quantity </th>
                                 <th class="text-center">Amount </th>
                                <!-- <th style="width: 59%">Description</th>
                                <th>Subtotal</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="inv in orderdetails.orderDetailsVo">
                                <td  class="text-center">{{$index+1}}.</td>
                                <td class="text-center">{{inv.itemName}}</td>
                                <td class="text-center">{{inv.itemPrice}}</td>
                                <td class="text-center">{{inv.itemQuantity}}</td>
                                 <td class="text-center">{{inv.itemNetPrice}}</td>
                                <!-- <td>Call of Duty</td>
                                <td>455-981-221</td>
                                <td>El snort testosterone trophy driving gloves handsome gerry Richardson helvetica tousled street art master testosterone trophy driving gloves handsome gerry Richardson
                                </td>
                                <td>$64.50</td> -->
                              </tr>
                              <!-- <tr>
                                  

                                  <td colspan="4" class="text-right" ><b> Total</b></td>
                                  <td  class="text-center"><b>{{orderdetails.netPrice}} </b>  </td>
                              </tr> -->
                              <tr>
                                  

                                  <td colspan="4" class="text-right" ><b> Disount</b></td>
                                  <td  class="text-center"><b>{{transaction.discount}} </b>  </td>
                              </tr>
                              <tr>
                                  

                                  <td colspan="4" class="text-right" ><b> Tax</b></td>
                                  <td  class="text-center"><b>{{orderdetails.tax}} </b>  </td>
                              </tr>

                              <tr>
                                  

                                  <td colspan="4" class="text-right" ><b>Grand Total</b></td>
                                  <td  class="text-center"><b>{{orderdetails.netPrice}} </b>  </td>
                              </tr>

                              <!-- <tr>
                                <td>1</td>
                                <td>Need for Speed IV</td>
                                <td>247-925-726</td>
                                <td>Wes Anderson umami biodiesel</td>
                                <td>$50.00</td>
                              </tr> -->
                              <!-- <tr>
                                <td>1</td>
                                <td>Monsters DVD</td>
                                <td>735-845-642</td>
                                <td>Terry Richardson helvetica tousled street art master, El snort testosterone trophy driving gloves handsome letterpress erry Richardson helvetica tousled</td>
                                <td>$10.70</td>
                              </tr> -->
                              <!-- <tr>
                                <td>1</td>
                                <td>Grown Ups Blue Ray</td>
                                <td>422-568-642</td>
                                <td>Tousled lomo letterpress erry Richardson helvetica tousled street art master helvetica tousled street art master, El snort testosterone</td>
                                <td>$25.99</td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      
                      <!-- /.row -->

                      <!-- this row will not appear when printing -->
                      <div class="row no-print">
                        <div class="col-xs-12">
                          <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                         <!--  <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button> -->
                         <!--  <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button> -->
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!-- <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer> -->
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>