<section class="content-header">
	<h1>
		Zones<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Zones</li>
	</ol>
</section>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-lg-2">
								<button class="btn btn-block btn-primary"
								data-ng-click="showAddZone()">Add Zone</button>
							</div>
							<div class="col-lg-3 pull-right">
								<a class="btn btn-block btn-primary"
								href="#zones">Show in List</a>
							</div>
						</div>
							
					</div>
					<div class="box-body no-padding">
						<div my-map=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade modal-primary" id="addZoneModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form name="zoneForm" data-ng-submit="addZone()" novalidate="novalidate">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
					<h4 class="modal-title">Add Zone</h4>
				</div>
				<div class="modal-body">
					<div class="row">			
						<div class="col-lg-10">
							<div class="input-group">
								<input class="form-control" data-ng-map-autocomplete="ng-map-autocomplete" data-ng-model="autocomplete" data-options="options" data-details="details"
									name="zoneSearch" id="zoneSearch" placeholder="Enter zone name" type="text"/> <span
									class="input-group-btn">
									<button class="btn btn-info btn-flat" data-ng-click="dataChanged()" type="button">Fetch!</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row" data-ng-if="wrongPlace">
						<div class="col-lg-12">
							<p class="text-red">Select an accurate place</p>
						</div>
					</div>
					<br></br>
					<div class="row">			
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.zoneName.$invalid &amp;&amp; !zoneForm.zoneName.$pristine}">
								<label for="zoneName">Zone Name</label> <input
									class="form-control" data-ng-model="zone.zoneName"
									name="zoneName" id="zoneName" placeholder="Enter zoneName" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.zoneName.$invalid &amp;&amp; !zoneForm.zoneName.$pristine"
									class="help-block">Zone Name is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.zoneCode.$invalid &amp;&amp; !zoneForm.zoneCode.$pristine}">
								<label for="zoneCode">Zone Code</label> <input
									class="form-control" data-ng-model="zone.zoneCode"
									name="zoneCode" id="zoneCode" placeholder="Enter zone code" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.zoneCode.$invalid &amp;&amp; !zoneForm.zoneCode.$pristine"
									class="help-block">Zone Code is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.country.$invalid &amp;&amp; !zoneForm.country.$pristine}">
								<label for="country">Country</label> <input
									class="form-control" data-ng-model="zone.country"
									name="country" id="country" placeholder="Enter country" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.country.$invalid &amp;&amp; !zoneForm.country.$pristine"
									class="help-block">Country is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.state.$invalid &amp;&amp; !zoneForm.state.$pristine}">
								<label for="state">State</label> <input
									class="form-control" data-ng-model="zone.state"
									name="state" id="state" placeholder="Enter state" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.state.$invalid &amp;&amp; !zoneForm.state.$pristine"
									class="help-block">State is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.district.$invalid &amp;&amp; !zoneForm.district.$pristine}">
								<label for="district">District</label> <input
									class="form-control" data-ng-model="zone.district"
									name="district" id="district" placeholder="Enter district" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.district.$invalid &amp;&amp; !zoneForm.district.$pristine"
									class="help-block">District is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.pincode.$invalid &amp;&amp; !zoneForm.pincode.$pristine}">
								<label for="pincode">Pincode</label> <input
									class="form-control" data-ng-model="zone.pincode"
									name="pincode" id="pincode" placeholder="Enter pincode" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.pincode.$invalid &amp;&amp; !zoneForm.pincode.$pristine"
									class="help-block">Pincode is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.latitude.$invalid &amp;&amp; !zoneForm.latitude.$pristine}">
								<label for="latitude">Latitude</label> <input
									class="form-control" data-ng-model="zone.latitude"
									name="latitude" id="latitude" placeholder="Enter latitude" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.latitude.$invalid &amp;&amp; !zoneForm.latitude.$pristine"
									class="help-block">Latitude is mandatory.</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								data-ng-class="{ 'has-error' : zoneForm.longitude.$invalid &amp;&amp; !zoneForm.longitude.$pristine}">
								<label for="longitude">Longitude</label> <input
									class="form-control" data-ng-model="zone.longitude"
									name="longitude" id="longitude" placeholder="Enter longitude" type="text"
									required="required" readonly="readonly"/>
								<span data-ng-show="zoneForm.longitude.$invalid &amp;&amp; !zoneForm.longitude.$pristine"
									class="help-block">Longitude is mandatory.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline pull-left"
						data-dismiss="modal">Close</button>
					<button type="submit" data-ng-disabled="groupForm.$invalid" class="btn btn-outline">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>