<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 1200px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Manage Account Informations </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> Edit Your Profile</h3>
        </div>
        <div class="panel-body">
          <form method="post" enctype="multipart/form-data" id="form-user" class="form-horizontal">
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-username">Account Name En</label>
              <div class="col-sm-10">
                <input type="text" name="username" ng-model="seller.sellerName" placeholder="Username" id="sellerName" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-username">Account Name Ar</label>
              <div class="col-sm-10">
                <input type="text" name="username" ng-model="seller.sellerNameAr" placeholder="sellerNameAr" id="sellerNameAr" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-firstname">E mail ID</label>
              <div class="col-sm-10">
                <input type="text" name="emailId" ng-model="seller.emailId" placeholder="First Name" id="emailId" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="phoneNumber">Phone Number</label>
              <div class="col-sm-10">
                <input type="text" name="phoneNumber" ng-model="seller.phoneNumber" placeholder="Last Name" id="phoneNumber" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="telephoneNo">Telephone Number</label>
              <div class="col-sm-10">
                <input type="text" name="telephoneNo" ng-model="seller.telephoneNo" placeholder="Last Name" id="telephoneNo" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-lastname">Contact Name</label>
              <div class="col-sm-10">
                <input type="text" name="lastname" ng-model="seller.contactName" placeholder="Last Name" id="input-lastname" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="address">Address En</label>
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
            </div>
            
              <div class="form-group required">
              <label class="col-sm-2 control-label" for="addressAr">Address Ar</label>
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.addressAr" id="addressAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
            </div>

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="description">Description En</label>
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="descriptionAr">Description Ar</label>
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-lastname">Country</label>
              <div class="col-sm-10">
                <select ng-model="seller.countryId" ng-options="country.countryId as country.countryName for country in activecountries" class="form-control" ng-change="getcityByCountryId(seller.countryId)">
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-lastname">City</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="seller.cityId" ng-options="city.cityId as city.cityName for city in citiesbycountries">
                </select>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-lastname">Website</label>
              <div class="col-sm-10">
                <input type="text" name="webAddress" ng-model="seller.webAddress" placeholder="webAddress" id="webAddress" class="form-control">
              </div>
            </div>
           
          </form>
           <div class="row">
              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" ng-click="updateShopasdetails(seller);">Update Info</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
     <div class="clearfix"></div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
    <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 1200px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>إدارة الحساب إدارة معلومات الحساب  </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i>عدل ملفك الشخصي  </h3>
        </div>
        <div class="panel-body">
          <form method="post" enctype="multipart/form-data" id="form-user" class="form-horizontal">
            <div class="form-group required">
               <div class="col-sm-10">
                <input type="text" name="username" ng-model="seller.sellerName" placeholder="Username" id="sellerName" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="input-username">اسم الحساب باللغة الإنجليزية </label>
             
            </div>
            <div class="form-group required">
               <div class="col-sm-10">
                <input type="text" name="username" ng-model="seller.sellerNameAr" placeholder="sellerNameAr" id="sellerNameAr" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="input-username">اسم الحساب باللغة العربية </label>
             
            </div>
            <div class="form-group required">
               <div class="col-sm-10">
                <input type="text" name="emailId" ng-model="seller.emailId" placeholder="First Name" id="emailId" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="input-firstname">عنوان الايميل </label>
             
            </div>
            <div class="form-group required">
               <div class="col-sm-10">
                <input type="text" name="phoneNumber" ng-model="seller.phoneNumber" placeholder="Last Name" id="phoneNumber" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="phoneNumber">رقم الهاتف  </label>
             
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <input type="text" name="telephoneNo" ng-model="seller.telephoneNo" placeholder="Last Name" id="telephoneNo" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="telephoneNo">رقم التلفون
 </label>
              
            </div>
            <div class="form-group required">
               <div class="col-sm-10">
                <input type="text" name="lastname" ng-model="seller.contactName" placeholder="Last Name" id="input-lastname" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="input-lastname">اسم المتصل  </label>
             
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
              <label class="col-sm-2 control-label" for="address">العنوان باللغة الإنجليزية </label>
              
            </div>
             <div class="form-group required">
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.addressAr" id="addressAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
              <label class="col-sm-2 control-label" for="addressAr">العنوان بالعربية </label>
              
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
              <label class="col-sm-2 control-label" for="description">الوصف باللغة الإنجليزية </label>
              
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <textarea type="text" data-ng-model="seller.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
              </div>
              <label class="col-sm-2 control-label" for="descriptionAr">الوصف باللغة العربية </label>
              
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <select ng-model="seller.countryId" ng-options="country.countryId as country.countryName for country in activecountries" class="form-control" ng-change="getcityByCountryId(seller.countryId)">
                </select>
              </div>
              <label class="col-sm-2 control-label" for="input-lastname">الدوله </label>
              
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <select class="form-control" ng-model="seller.cityId" ng-options="city.cityId as city.cityName for city in citiesbycountries">
                </select>
              </div>
              <label class="col-sm-2 control-label" for="input-lastname">مدينه </label>
              
            </div>
            <div class="form-group required">
              <div class="col-sm-10">
                <input type="text" name="webAddress" ng-model="seller.webAddress" placeholder="webAddress" id="webAddress" class="form-control">
              </div>
              <label class="col-sm-2 control-label" for="input-lastname">موقع الكتروني  </label>
              
            </div>
           
          </form>
           <div class="row">
              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" ng-click="updateShopasdetails(seller);">تحديث المعلومات </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
     <div class="clearfix"></div>
  </div>
</div>
</div>
<!-- /page content -->
