<div class="allshops">
    <!-- <div class="row">
<div class="col-md-12">
<img src="/public/script/www/img/online-store.png" style="width: 30px;">
 <h3 class="head">My Shop's</h3> </div>
 </div>
margin-left: 54px;
    padding-right: 125px;
 -->
    <div class="row">
        <div class="col-md-8">
            <div class="box-header head">
                <img src="/public/script/www/img/tags.png" style="width: 30px;">
                <h3 class="box-title">All Shop's</h3>
            </div>
        </div>
        <div class="col-md-4 list-style-type">
            <div ng-init="tableview=false;itembox=true" style="float: right;
    margin-top: 22px;">
                <!--  <button class="form-control btn btn-default"> -->
                <a ng-click="tableview=true" ng-class="{active:tableview}">
                    <span class="glyphicon glyphicon-th green-color"></span>
                </a>
                <a ng-click="tableview=false" ng-class="{active:!tableview}">
                    <span class="glyphicon glyphicon-th-list green-color"></span>
                </a>
                <!-- </button> -->
            </div>
        </div>
    </div>
    <!-- <div class="box-header">
             <img src="/public/script/www/img/online-store.png" style="width: 30px;"> <h3 class="box-title">My Shop's</h3>
              

             
            </div> -->
    <div class="box" ng-show="!tableview">
        <div ng-show="!shopList.length">
            <p style="text-align: center;"> No Data To Show</p>
        </div>
        <div ng-show="shopList.length">
            <!--  <div class="box-header">
             <img src="/public/script/www/img/online-store.png" style="width: 30px;"> <h3 class="box-title">My Shop's</h3>
              

             
            </div> -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <!-- <tr ng-show="!shopList.length">
                            <td>
                                No data.
                            </td>
                        </tr> -->
                        <tr>
                            <th>Shop Type Name</th>
                            <th>Shop Name</th>
                            <!--  <th>{{Shop City}}</th> -->
                            <th></th>
                            <th>Total Products</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="shop in shopList">
                            <td>{{shop.shopTypeName}}</td>
                            <td>{{shop.shopName}}</td>
                            <!--  <td>{{shop.city}}</td> -->
                            <td><a href="#/addshop/{{shop.shopId}}">Edit</a></td>
                            <td>10</td>
                            <td>
                                <!--   <button class="btn btn-default viewproduct" ng-click="getproducts(shop.shopId)">View products</button> -->
                                <a class="btn btn-default viewproduct" href="#/app/adminproducts/{{shop.shopId}}">View products</a>
                            </td>
                            <!-- ng-click="getproducts(0,shop.shopId);style1=style"  -->
                            <!--   href="#/app/adminshops"-->
                        </tr>
                    </tbody>
                </table>
            </div>
           <!--  <a ng-if="loaDing" ng-click="allshop()" style="cursor:pointer; text-decoration:none;">Load more</a>
            <p ng-if="!loaDing ">Completed......</p> -->
        </div>
    </div>
    <div class="all-shops" ng-show="tableview">
        <!-- <div class="col-md-12"> -->
        <div ng-show="!shopList.length">
            <p style="text-align: center;"> No Data To Show</p>
        </div>
        <div ng-show="shopList.length">
            <div class="item" ng-repeat="shop in shopList" ng-class="{ active:$index==0}">
                <div class="col-lg-2 col-md-3  col-sm-6 col-xs-12 product-box">
                    <div class="row">
                        <div class="thumbnail thumbnail-box">
                            <div class="similar-img" style="background-image: url(/public/script/www/img/add/3.jpg);">
                            </div>
                            <div class="caption">
                                <div class="row">
                                    <!-- <div class="col-md-8">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div>
                                                    <div class="col-md-4">
                                                    <button class="btn-success" ng-style="style1" ng-click="getproducts(0,shop.shopId);style1=style">View products</button></div> -->
                                    <!--  <h6><a href="#/addshop/{{shop.shopId}}">Edit</a></h6> -->
                                    <div class="row border-colour">Click for More</div>
                                    <!-- <div class="row border-colour"><button ng-click="getproducts(0,shop.shopId);style1=style" style="    background-color: #7dad47;" class="col-md-8">View products</button>
                                                    <button href="#/addshop/{{shop.shopId}}" class="col-md-4"
                                                    style="background-color: #ffc233;" >Edit</button>
                                                    </div> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                                        {{shop.shopTypeName}}</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                        <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&&mainCategoryId={{shop.shopType}}"><b >{{shop.shopName}}</b></a>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style">
                                        <p>{{shop.city}}</p>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style">
                                        <div class="row">
                                            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                <!-- <div class="phn-img" style="background-image: url(/public/script/www/img/color/phone-receiver.png");">
                                                
                                                </div> --><img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                                                <p>{{shop.phoneNo}}</p>
                                            </div>
                                            <div class="col-md-5"></div>
                                        </div>
                                    </div>
                                    <!-- <div class="ratings"> -->
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style">
                                        <p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#/addshop/{{shop.shopId}}">Edit</a>
                        <a class="btn btn-default viewproduct btn-view-product" href="#/app/adminproducts/{{shop.shopId}}">View products</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
