<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ng-if="catcid==0">
        <h3>Add Slider </h3>
      </div>
      <div ng-if="catcid!=0">
        <h3>Edit Slider </h3>
      </div>
     
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Slider Informations <small><!-- different form elements --></small></h2>
          
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titile">Title En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.titile" id="titile" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titileAr">Title Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.titileAr" id="titileAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subTitile">Sub Title  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.subTitile" id="subTitile" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subTitileAr">Sub Title Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.subTitileAr" id="subTitileAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="link">Link <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.link" id="link" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="text">Brief Description En<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.text" id="text" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textAr">Brief Description Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="slider.textAr" id="textAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
             
             
             
            
        
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==4  }" ng-click="slider.addStatus=4"> Cancelled</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==2  }" ng-click="slider.addStatus=2"> Active</div>
                   <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==3  }" ng-click="slider.addStatus=3"> Expired</div>
                </div>
              </div>
           
              <h2>Images</h2>
              <hr>
              <div class="col-md-4">
                <div class="fileupload file-uplaod-btn">
                  <div class="form-group">
                    <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                    <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Slider Image </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-model="slider.imageName">
                    <div class="img-wraps">
                      {{slider.imageName}}
                      <span class="closes" ng-if="!isFileuploadStart&& slider.imageName" title="Delete" ng-click="deleteimage(slider.imageName)">&times;</span>
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{slider.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& slider.imageName">
                      <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addSlider(slider);">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!--   </div> -->
        <!--    #######
                     

                      #####
                      -->
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
