<div ng-if="langval==1">
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
          <form name="myForm" enctype="multipart/form-data" ng-init="validationForm=false;">
            <div class="panel-heading">
              <h4 class="panel-title">Add Expense Head</h4>
            </div>
            <div class="panel-body">
              <div class="col-sm-12">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="reg_input_name" class="req">Expense Head Name </label>
                    <input size="84" maxlength="45" class="form-control" name="expenseName" type="text" ng-model="ExpenseHead.incomeExpenseName" required>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addstoreForm.status.$invalid &amp;&amp; !addstoreForm.status.$pristine}">
                <label for="status">Status</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="1">Active</label>
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="0">Discontinued</label>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form_sep">
                    <input class="btn btn-info" name="std_reg_submit" type="submit" value="Save" ng-click="addexpensedatahead(myForm);validationForm=true;"> </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <a href="">SI.No</a>
                </th>
                <th>
                  <a href="">Name</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="colorrow" ng-repeat="user in allexpenseHead" ng-class="{'red' : user.status==0}">
                <td>{{$index+1}}</td>
                <td>{{ user.incomeExpenseName}}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
 <!--          <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
          </pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- arabic -->


<div ng-if="langval==0">
<div dir="ltr">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
          <form name="myForm" enctype="multipart/form-data" ng-init="validationForm=false;">
            <div class="panel-heading">
              <h4 class="panel-title">Add Expense Head</h4>
            </div>
            <div class="panel-body">
              <div class="col-sm-12">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="reg_input_name" class="req">Expense Head Name </label>
                    <input size="84" maxlength="45" class="form-control" name="expenseName" type="text" ng-model="ExpenseHead.incomeExpenseName" required>
                  </div>
                </div>
              </div>
              <div class="form-group" data-ng-class="{ 'has-error' : addstoreForm.status.$invalid &amp;&amp; !addstoreForm.status.$pristine}">
                <label for="status">Status</label>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="1">Active</label>
                <label class="radio-inline">
                  <input type="radio" name="status" ng-model="ExpenseHead.status" value="0">Discontinued</label>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form_sep">
                    <input class="btn btn-info" name="std_reg_submit" type="submit" value="Save" ng-click="addexpensedatahead(myForm);validationForm=true;"> </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  <a href="">SI.No</a>
                </th>
                <th>
                  <a href="">Name</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="colorrow" ng-repeat="user in allexpenseHead" ng-class="{'red' : user.status==0}">
                <td>{{$index+1}}</td>
                <td>{{ user.incomeExpenseName}}</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
 <!--          <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
          </pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>