<ion-view class="container" title="Profile">
<!-- <ion-nav-bar class="bar-positive">          
    <ion-nav-buttons side="left">
    <button class="button button-clear"  ng-click="goBack()" >
    <i class="icon ion-ios-arrow-back"></i>
    Back</button>
    </ion-nav-buttons>

 
    </ion-nav-bar> -->








      <div id="form-views" ui-view></div>


 
  </ion-view>