<ion-nav-bar class="bar-positive">
<ion-nav-back-button class="button button-clear"
    ng-click="goBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
   <ion-nav-buttons side="left"> 
           <a ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></a>
      </ion-nav-buttons>
</ion-nav-bar>

    <ion-content class="has-header">
     <form id="signup-form" ng-submit="">
        <div class="list">
            <div class="card">
                <div class="item item-divider">
                    Add price details
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Price</span>
                    <input type="number" ng-model="addposr.price" placeholder="Enter ">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">offer</span>
                    <input type="number" ng-model="addPost.offer" placeholder="Eg: 40% ">
                </label>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Workig days
                </div>
                <ion-list>
                    <ion-checkbox ng-model="days.sun">Sunday</ion-checkbox>
                    <ion-checkbox ng-model="days.mon">Monday</ion-checkbox>
                    <ion-checkbox ng-model="days.thu">Tuesday</ion-checkbox>
                    <ion-checkbox ng-model="filter.wed">Wednesday</ion-checkbox>
                    <ion-checkbox ng-model="days.thur">Thursday</ion-checkbox>
                    <ion-checkbox ng-model="filter.fri">Friday</ion-checkbox>
                    <ion-checkbox ng-model="filter.sat">Saturday</ion-checkbox>
                </ion-list>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Job deatils
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Salary Range (Rs)
                    </div>
                    <select>
                        <option value="1">0 -5000</option>
                        <option value="2">5000-10000</option>
                        <option value="3">10000-20000</option>
                        <option value="4">20000+</option>
                    </select>
                </label>
                <ion-list>
                    <ion-radio ng-model="choice" ng-value="'full'">Full time</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'part'">Part time</ion-radio>
                    <ion-radio ng-model="choice" ng-value="'cont'">Contract</ion-radio>
                </ion-list>
            </div>

            <input type="Submit" ng-click ="addPostFun(addPost)" class="item button button-block button-positive" value="Submit">
        </div>
</form>

    </ion-content>

