
     <form id="signup-form" ng-submit="">
        <div class="card">
            <div class="item item-divider">
                Contact
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contact person</span>
                <input type="text" ng-model="addPost.person" placeholder="Enter ">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone</span>
                <input type="number" ng-model="addPost.phone" placeholder="Enter ">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" ng-model="addPost.email" placeholder="Enter post code ">
            </label>
        </div>
        <div class="card">
            <div class="item item-divider">
                Location
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <textarea type="text" ng-model="addPost.address" placeholder="Title"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Street</span>
                <textarea type="text" ng-model="addPost.street" placeholder="Title"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Postcode</span>
                <input type="text" ng-model="addPost.postcode" placeholder="Enter post code ">
            </label>
        </div>
        <a ui-sref="addPost.extra" lass="item button button-full button-positive ">
  Next  <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </a>
  </form>


