<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Revenue Management </h3>
        </div>
     
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <table class="table table-responsive table-striped">
                  <tr>
                    <th>Sl.No</th>
                    <th>Order ID</th>
                    <th>Order Date</th>
                <!--     <th> </th> -->
                    <th>Amount</th>
                  <!--   <th> Status</th> -->
                    
                  </tr>
                  <tr ng-repeat="rev in allorders">
                    <td>{{$index+1+orderPageVo.currentIndex}}</td>
                    <td>{{rev.orderId}}</td>
                    <td>{{rev.lastUpdatedTime|date}}</td>
                    <td>{{rev.netPrice}} SAR</td>
                  <!--   <td>{{}}</td>
                    <td>{{}}</td> -->
                    
                  
                  </tr>
                  <tr ng-if="ofr.length==0">
                    <td colspan="7" class="text-center"> <strong><h3>There Is No Matching Data </h3></strong> </td>
                  </tr>
                </table>
              </div>

                <div class="row">
                  <div class="col-sm-6 text-left">Showing {{$index+1+orderPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                  <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
        <!-- END WRAPPER -->
      </div>
      <!-- /form input knob -->
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
     <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3>إدارة العائدات </h3>
        </div>
      <!--   <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input class="form-control  " placeholder="Search..." type="text" data-ng-model="offerSearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              
              <div class="panel-body">
                <table class="table table-responsive table-striped">
                  <tr>
                    <th class="text-center">رقم</th>
                    <th class="text-center">رقم الطلب </th>
                    <th class="text-center">تاريخ الطلب </th>
                <!--     <th> </th> -->
                    <th class="text-center">كمية </th>
                  <!--   <th> Status</th> -->
                    
                  </tr>
                  <tr ng-repeat="rev in allorders">
                    <td class="text-center">{{$index+1+orderPageVo.currentIndex}}</td>
                    <td class="text-center">{{rev.orderId}}</td>
                    <td class="text-center">{{rev.lastUpdatedTime|date}}</td>
                    <td class="text-center">{{rev.netPrice}} ريال سعودي</td>
                  <!--   <td>{{}}</td>
                    <td>{{}}</td> -->
                    
                  
                  </tr>
                  <tr ng-if="rev.length==0">
                    <td colspan="7" class="text-center"> <strong><h3>  لايوجد بيانات  </h3></strong> </td>
                  </tr>
                </table>
              </div>
                     <div class="row">
                  <div class="col-sm-6 text-left">Showing {{$index+1+orderPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                  <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
        <!-- END WRAPPER -->
      </div>
      <!-- /form input knob -->
    </div>
    </div>
  </div>
</div>
<!-- /page content -->
