
<div class="container">
  <div class="row">
           <div class="col-md-2 ">
           </div>
        
       <div class="col-md-7 ">

  <div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 5px;text-align: center;">  <h3>Order Details</h3> </div>
     <div class="panel-body">
       
     <div class="box box-info">
        
            <div class="box-body">
                     



            <!--   rating -->

            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

<div class="col-sm-5 col-xs-6 tital " >Order ID :</div><div class="col-sm-7 col-xs-6 ">{{orderdetails.orderId}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div> 
    <div class="col-sm-5 col-xs-6 tital " >Customer Name :</div><div class="col-sm-7 col-xs-6 ">{{orderdetails.customerName}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div> 
<div class="col-sm-5 col-xs-6 tital " >Store Name :</div><div class="col-sm-7 col-xs-6 ">{{orderdetails.storeName}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>       

<div class="col-sm-5 col-xs-6 tital " >Product Name :</div><div class="col-sm-7 col-xs-6 ">{{orderdetails.itemName}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Item Price :</div><div class="col-sm-7"> {{orderdetails.itemPrice}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Number of Item :</div><div class="col-sm-7"> {{orderdetails.itemQuantity}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " >Total Price :</div><div class="col-sm-7">{{orderdetails.itemNetPrice}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " >Description:</div><div class="col-sm-7">{{orderdetails.description}}</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<!-- <div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7">Calicut</div> -->
<!-- 
  <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " >City:</div><div class="col-sm-7">{{store.city}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Country:</div><div class="col-sm-7">{{store.country}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >E-mail Id:</div><div class="col-sm-7">{{store.emailId}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Location:</div><div class="col-sm-7">Indian</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " >E-mail Id:</div><div class="col-sm-7">{{store.emailId}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>



<div class="col-sm-5 col-xs-6 tital " >Website:</div><div class="col-sm-7">{{store.webAddress}}</div> -->




            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div> 
<!--  <div class="col-md-3">
  <div class="panel panel-default">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1344.2148702716677!2d75.8510763870738!3d11.230388158992465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65baaec09074b%3A0x59717339c969959c!2sHidile!5e0!3m2!1sen!2sin!4v1521016927982" width="100%"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

</div>  -->
    
     
       
   </div>
</div>