<div class="row">
    <div class="col-md-6">
        <br>
        <br>
        <form ng-submit="addAdvFrom()">
            <div class="form-group">
                <label>Heading</label>
                <input type="text" required="" class="form-control" ng-model="adv.heading" name="">
            </div>
            <div class="form-group">
                <label>Hyper link</label>
                <input type="link" required="" class="form-control" ng-model="adv.link" name="">
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-12">Start time:</label>
                <div class="input-group ">
                    <span class="input-group-addon" id=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                    <input type="date" class="form-control" required="" ng-model="adv.startTime" name="" id="" >
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-12">End time:</label>
                <div class="input-group">
                    <span class="input-group-addon" id=""><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                    <input  type="date" class="form-control" required="" ng-model="adv.endTime" name="" id="">
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-12">Amount:</label>
                <input class="form-control" required="" ng-model="adv.amout" name="" id="" type="number">
            </div>
            <br/>
            <input class="btn btn-warning" type="submit" name="" value="submit">
        </form>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="btn btn-info" ngf-select="upload($file)">Upload on file select</div>
                <br>
                <div ng-if="adv.imageurl" class="panel panel-default">
                    <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>
                    <img style="max-width: 100%;" ng-src="{{adv.imageurl}}" class="thumbnail"> {{adv.imageurl}}
                    <div class="panel-body">
                    </div>
                </div>
                <br/>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
                        <span class="sr-only">{{progressPercentage}} Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
