<!-- page content -->
<div ng-if="langval==1">
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Subcategory Management </h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
              <div class="col-lg-3">
                <a href="#/admin/addsubcategory/0" class="btn btn-new" role="button">Add Subcategory</a>
              </div>
              <div class="col-lg-3 pull-right">
                <a href="#/admin/deactivatedsubcategories" class="btn btn-block btn-success" role="button">Deactivated
                            Subcategories</a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-responsive table-striped">
                <tr>
                  <th>#</th>
                  <th>Subcategory Name </th>
                  <th>Category Name </th>
                  <th>Subcategory Status </th>
                  <th>Actions</th>
                </tr>
                <tr ng-repeat="subcategory in subcat = (subcategories | filter : {'status' : '1'} | filter:ItemtypeSearch)">
                  <td>{{$index+1}}.</td>
                  <td>{{subcategory.subCategoryName}}</td>
                  <td>{{subcategory.catName}}</td>
                  <td data-ng-if="subcategory.status==0">
                    <div class="tools action-buttons" style="display:block;">
                      <span class="label label-danger label-lg ng-scope">Discontinued</span>
                    </div>
                  </td>
                  <td data-ng-if="subcategory.status==1">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-success label-lg ng-scope">Active</span>
                    </div>
                  </td>
                  <th>&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="viewsubcategory(subcategory)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="subcategorymanage(subcategory)" href=""><i class="fa fa-pencil text-aqua"></i></a></th>
                </tr>
                <tr ng-if="subcat.length == 0">
                  <td colspan="7" class="text-center"> <strong><h3>There Is No Matching Data </h3></strong> </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
    </div>
    <!-- /form input knob -->
  </div>
</div>
</div>
<!-- /page content -->


<!-- ARABIC -->


<!-- page content -->
 <div ng-if="langval==0">
    <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       <!--  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
          </div>
        </div> -->
          <div class="col-md-5 col-sm-5 col-xs-12 form-group">
              <div class="input-group">
                <input class="form-control  " placeholder="بحث..." type="text" data-ng-model="ItemtypeSearch" style="box-shadow: inset 0 1px 0 rgba(0,0,0,.075); border-radius: 0 25px 25px 0; padding-right: 20px; border: 1px solid rgba(221,226,232,.49); height: 37px;" />
                <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat" style=" border-top-left-radius: 25px;  border-bottom-left-radius: 25px; margin-top: 2px; margin-bottom: 0px;"><i class="fa fa-search"></i></button>
                            </span>
              </div>
            </div>
        
      </div>
      <div class="title_right">
        <h3>إدارة الفه الفرعيه </h3>


      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="row">
                <div class="col-lg-3 ">
                <a href="#/admin/deactivatedsubcategories" class="btn btn-block btn-success" role="button">فئات فرعيه غير نشطة</a>
              </div>
              <div class="col-lg-3 pull-right">
                <a href="#/admin/addsubcategory/0" class="btn btn-new" role="button">إضافة فئه فرعيه</a>
              </div>
              
            </div>
            <div class="panel-body">
              <table class="table table-responsive table-striped">
                <tr>
                  <th class="text-right">#</th>
                  <th class="text-right">اسم الفئه الفرعيه </th>
                  <th class="text-right">اسم الفئه </th>
                  <th class="text-right">حالة الفئه الفرعيه </th>
                  <th class="text-right">الاجراءت</th>
                </tr>
                <tr ng-repeat="subcategory in subcat = (subcategories | filter : {'status' : '1'} | filter:ItemtypeSearch)">
                  <td>{{$index+1}}.</td>
                  <td>{{subcategory.subCategoryNameAr}}</td>
                  <td>{{subcategory.catName}}</td>
                  <td data-ng-if="subcategory.status==0">
                    <div class="tools action-buttons" style="display:block;">
                      <span class="label label-danger label-lg ng-scope">ير نشطة<   </span>
                    </div>
                  </td>
                  <td data-ng-if="subcategory.status==1">
                    <div class="tools action-buttons" style="display: block;">
                      <span class="label label-success label-lg ng-scope">شطة </span>
                    </div>
                  </td>
                  <th class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="viewsubcategory(subcategory)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="subcategorymanage(subcategory)" href=""><i class="fa fa-pencil text-aqua"></i></a></th>
                </tr>
                <tr ng-if="subcat.length == 0">
                  <td colspan="7" class="text-center"> <strong><h3>لا يوجد بيانات مطابقة  </h3></strong> </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
    </div>
    <!-- /form input knob -->
  </div>
</div>
<!-- /page content -->
</div>
</div>
