<div ng-if="langval==1">
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>View Subcategory </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Subcategory Informations <small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="catName">Category Name <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.catName" id="catName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryName">Subcategory Name En<span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.subCategoryName" id="subCategoryName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryNameAr">Subcategory Name Ar<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.subCategoryNameAr" id="subCategoryNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">Description En <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="subcategory.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">Description Ar <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="subcategory.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">Rank <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Subcategory Status <span class="required"></span>
                </label>
                <div ng-if="subcategory.status==0" class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <div ng-if="subcategory.status==1" class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <h2>Images</h2>
                  <hr>
                  <div class="col-lg-3 col-md-3 col-sm-6" ng-model="subcategory.imageName">
                    <div class="img-wraps">
                      {{subcategory.imageName}}
                      <!--  <span class="closes" ng-if="!isFileuploadStart&& category.imageName" title="Delete" ng-click="deleteimage(category.imageName)">&times;</span> -->
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{subcategory.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& subcategory.imageName">
                      <!-- <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div> -->
                    </div>
                  </div>
                  <!-- <hr> -->
                </div>
              </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <br>
                    <a href="#/admin/subcategory" button type="submit" class="btn btn-primary">Close</button></a>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /page content -->

<!-- ARABIC -->

<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <h3>عرض   فئه فرعية </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right">معلومات  ئه فرعية <small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="subcategory.catName" id="catName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="catName">الفئه <span class="required"></span>
                </label>
                
              </div>
             <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryName">اسم الفئه الفرعيه  باللغة الإنجليزية  <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="subcategory.subCategoryName" id="subCategoryName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
              </div> -->
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="subcategory.subCategoryNameAr" id="subCategoryNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subCategoryNameAr">اسم الفئه الفرعيه   بالعربية   <span class="required">*</span>
                </label>
               
              </div>
          <!--     <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription"> وصف الفئه الفرعيه بالعربية   <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="subcategory.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" rows="6"></textarea>
                </div>
              </div> -->
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="subcategory.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">صف الفئه الفرعيه باللغة الإنجليزية   <span class="required"></span>
                </label>
               
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="subcategory.rank" id="rank" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rank">مرتبة  <span class="required"></span>
                </label>
               
              </div>
              <div class="form-group">
                <div ng-if="subcategory.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" value="ير نشطه  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                 <div ng-if="subcategory.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" value="شطه  " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة الفئه الفرعيه  <span class="required"></span>
                </label>
                
               
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <h2>صور  </h2>
                  <hr>
                  <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="subcategory.imageName">
                    <div class="img-wraps">
                      {{subcategory.imageName}}
                      <!--  <span class="closes" ng-if="!isFileuploadStart&& category.imageName" title="Delete" ng-click="deleteimage(category.imageName)">&times;</span> -->
                      <img style="min-width:100%" ng-src="{{imageUrl}}{{subcategory.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& subcategory.imageName">
                      <!-- <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div> -->
                    </div>
                  </div>
                  <!-- <hr> -->
                </div>
              </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="box-footer">
                    <br>
                    <a href="#/admin/subcategory" button type="submit" class="btn btn-primary">Close</button></a>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
