
            
            
                <h3>Responsed seller Item Requests</h3>
                <div class="row">
                <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/selleritemrequests" class="btn btn-block btn-success " role="button">Back to Requests</a>
                                    </div>
                
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">
                                    
                                    
                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="itemrequestSearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive table-striped">

                                        <tr>
                                            <th>#</th>
                                            <th>seller Name </th>
                                            <th>Item Name </th>
                                             <th>PhoneNumber </th>
                                             <th>Requested On </th>
                                             <th>Activated On</th>
                                            <th>Actions </th>
                                                                                     
                                            
                                            
                                        </tr>


                                        <tr ng-repeat=" itemrequest in itemrequests | filter : {'status' : '0'}" >



                                        <td>{{$index+1}}.</td>
                                        <td>{{itemrequest.sellerName}}</td>
                                        <td>{{itemrequest.itemName}}</td>
                                        <td>{{itemrequest.phoneNumber}}</td>
                                        <td>{{itemrequest.createdTime| date}}</td>
                                        <td>{{itemrequest.lastUpdatedTime| date}}</td>
                                        <!-- <td data-ng-if="itemrequest.status==0">
                                            <div class="tools action-buttons" style="display: block;">
                                            <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                             </div>
                                        </td> -->
                                        <td data-ng-if="itemrequest.status==0">
                                             <div class="tools action-buttons" style="display: block;">
                                             <span class="label label-success label-lg ng-scope">Activated</span>
                                            </div>
                                        </td>

                                        
                                        </tr>
                                        
                                         

                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>
           
      