<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            
              <h3>View Country </h3>
           
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Country Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">Country Name En <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12"  readonly="true" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryNameAr">Country Name Ar<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.countryNameAr" id="countryNameAr" required="required" class="form-control col-md-7 col-xs-12"  readonly="true" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currency">Currency <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="country.currency" id="currency" required="required" class="form-control col-md-7 col-xs-12"  readonly="true" />
                    </div>
                  </div>
                     <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Country Status <span class="required"></span>
                  </label>
                  <div ng-if="country.countryStatus==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="country.countryStatus==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>

                  <!-- <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Country Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==0  }" ng-click="country.countryStatus=0"> Deactive</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==1  }" ng-click="country.countryStatus=1"> Active</div>
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <h2>Flag</h2>
                    <hr>
                  
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6" ng-model="country.countryFlag">
                          <div class="img-wraps">
                            {{country.countryFlag}}
                            
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{country.countryFlag}}" class="img-thumbnail" ng-if="!isFileuploadStart&& country.countryFlag">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                         <a href="#/admin/country" button type="submit" class="btn btn-primary">Close</button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- /page content -->

<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
          
              <h3>عرض الدولة </h3>
           
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="x_panel">
              <div class="x_title">
                <h2 class="pull-right">معلومات عن البلد <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <!-- <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.countryName" id="countryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryName">اسم الدوله باللغة الإنجليزية <span class="required">*</span>
                    </label>
                    
                  </div> -->
                  <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.countryNameAr" id="countryNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryNameAr">اسم البلد <span class="required">*</span>
                    </label>
                   
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="country.currency" id="currency" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currency">عملة <span class="required">*</span>
                    </label>
                    
                  </div>
                    <div class="form-group">
                       <div ng-if="country.countryStatus==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
                    <input type="text" value="غير نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="country.countryStatus==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value=" نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة فئه الدوله <span class="required"></span>
                  </label>
                 
                </div>

                 <!--  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==0  }" ng-click="country.countryStatus=0"> غير نشطة  </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==1  }" ng-click="country.countryStatus=1"> شطة  </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة فئه الدوله </label>
                    
                  </div> -->
                  <div class="col-md-12">
                    <h2>علم</h2>
                    <hr>
                   
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="country.countryFlag">
                          <div class="img-wraps">
                            {{country.countryFlag}}
                           
                            <img style="min-width:100%" ng-src="{{imageUrl}}{{country.countryFlag}}" class="img-thumbnail" ng-if="!isFileuploadStart&& country.countryFlag">
                            <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                         <a href="#/admin/country" button type="submit" class="btn btn-primary">أغلق  </button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
