
<div ng-if="langval==1">
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ng-if="catcid==0">
          <h3>Add Slider </h3>
        </div>
        <div ng-if="catcid!=0">
          <h3>Edit Slider </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Slider Informations <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="col-md-10 col-md-offset-1">
                  <div class="fileupload file-uplaod-btn">
                    <div class="form-group">
                      <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                      <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Slider Image </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class=" col-md-offset-1 col-lg-10 col-md-10 col-sm-6" ng-model="slider.imageName" style="margin-top: 20px;">
                      <div class="img-wraps">
                        {{slider.imageName}}
                        <span class="closes" ng-if="!isFileuploadStart&& slider.imageName" title="Delete" ng-click="deleteimage(slider.imageName)">&times;</span>
                        <img style="min-width:100%" ng-src="{{imageUrl}}{{slider.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& slider.imageName">
                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==2  }" ng-click="slider.addStatus=2"> Active</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==4  }" ng-click="slider.addStatus=4"> Cancelled</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==3  }" ng-click="slider.addStatus=3"> Expired</div>
                    </div>
                  </div>


                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="addSlider(slider);">Submit</button>
                    </div>
                  </div>
                </div>
            </div>
            <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- ARABIC -->

<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <div ng-if="catcid==0">
          <h3>أضف شريط التمرير </h3>
        </div>
        <div ng-if="catcid!=0">
          <h3>تحرير المنزلق </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">معلومات حول صورة المنزلق <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="col-md-10 col-md-offset-1">
                  <div class="fileupload file-uplaod-btn">
                    <div class="form-group">
                      <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                      <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لرفع صورة المنزلق  </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class=" col-md-offset-1 col-lg-10 col-md-10 col-sm-6" ng-model="slider.imageName" style="margin-top: 20px;">
                      <div class="img-wraps">
                        {{slider.imageName}}
                        <span class="closes" ng-if="!isFileuploadStart&& slider.imageName" title="Delete" ng-click="deleteimage(slider.imageName)">&times;</span>
                        <img style="min-width:100%" ng-src="{{imageUrl}}{{slider.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& slider.imageName">
                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                    </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==2  }" ng-click="slider.addStatus=2"> نشيط </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==4  }" ng-click="slider.addStatus=4"> ألغيت </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :slider.addStatus==3  }" ng-click="slider.addStatus=3"> منتهية الصلاحية </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> حالة </label>
                  </div>

            <!--         <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==0  }" ng-click="country.countryStatus=0"> غير نشطة  </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :country.countryStatus==1  }" ng-click="country.countryStatus=1"> شطة  </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة فئه الدوله  <span class="required">*</span></label>
                    
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="addSlider(slider);">خضع </button>
                    </div>
                  </div>
                </div>
            </div>
            <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>