<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Home Data Management </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <div class="row">
                <div class="col-lg-12">
                  <div class="panel">
                    <div class="panel-heading">
                      <h3 class="panel-title"></h3>
                      <div class="container">
                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" ng-click="getallorders(1)" data-target="#home">Home Sliders</a></li>
                        <!--   <li><a data-toggle="tab" ng-click="getallconfirmedorders(1)" data-target="#Banners">Banners</a></li> -->
                        </ul>
                        <div class="tab-content">
                          <div id="home" class="tab-pane fade in active">
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-lg-2 ">
                                  <a href="#/admin/addslider/0" class="btn btn-new " role="button"><b> + </b> Add Slider Images </a>
                                </div>
                              </div>
                              <br>
                              <div class="col-md-11 ">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-list"></i> Slider Images</h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="col-lg-12">
                                      <div class="sliderbox" ng-repeat="slider in sliderimages">
                                        <div class="row">
                                          <img style="height: 200px; width: 100%;" src="{{imageUrl}}{{slider.imageName}}">
                                      </div>
                                          <div class="row" style="padding-top: 15px;">
                                            <div class="col-md-3">
                                              <div class="sliderdetails">
                                                <h5 ng-if="slider.addStatus==2">Status : <span class="label label-success label-lg ng-scope">Active</span></h5>
                                                <h5 ng-if="slider.addStatus==3">Status : <span class="label label-warning label-lg ng-scope">Deactivated</span></h5>
                                                <h5 ng-if="slider.addStatus==4">Status : <span class="label label-danger label-lg ng-scope">Deleted</span></h5>
                                              </div>
                                            </div>
                                            <div class="col-md-9 pull-right" style="text-align: right;">
                                              <a ng-click="slidermanage(slider)" href="" class="btn btn-info " role="button" style="width: 94px;"> Edit  </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                           <!--  <div id="Banners" class="tab-pane fade">
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-lg-2 ">
                                    <a href="#/admin/addbanner/0" class="btn btn-new " role="button"><b> + </b> Add Banner Images </a>
                                  </div>
                                </div>
                                <br>
                                <div class="col-md-11 ">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h3 class="panel-title"><i class="fa fa-list"></i> Banner Images</h3>
                                    </div>
                                    <div class="panel-body">
                                      <div class="col-lg-12">
                                        <div class="sliderbox" ng-repeat="banner in bannerimages">
                                          <div class="row">
                                            <img style="height: 200px; width: 100%;" src="{{imageUrl}}{{banner.imageName}}">
                                      </div>
                                            <div class="row" style="padding-top: 15px;">
                                              <div class="col-md-2">
                                                <div class="sliderdetails">
                                                  <h5 ng-if="banner.addStatus==2">Status : <span class="label label-success label-lg ng-scope">Active</span></h5>
                                                  <h5 ng-if="banner.addStatus==3">Status : <span class="label label-warning label-lg ng-scope">Deactivated</span></h5>
                                                  <h5 ng-if="banner.addStatus==4">Status : <span class="label label-danger label-lg ng-scope">Deleted</span></h5>
                                                </div>
                                              </div>
                                              <div class="col-md-10" style="text-align: right;">
                                                <a ng-click="bannermanage(banner)" href="" class="btn btn-info " role="button" style="width: 94px;"> Edit  </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ARABIC -->
    <div ng-if="langval==0">
      <div dir="rtl">
        <div class="rightarab_col" role="main" style="min-height: 980px;">
          <div class="">
            <div class="page-title">
              <div class="title_right pull-right">
                <h3>إدارة البيانات المنزلية</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel">
                          <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                            <div class="container">
                              <ul class="nav nav-tabs">
                                <li class="active pull-right"><a data-toggle="tab" ng-click="getallorders(1)" data-target="#home">المنزل المتزلجون</a></li>
                                <li class="pull-right"><a data-toggle="tab" ng-click="getallconfirmedorders(1)" data-target="#Banners">راية  </a></li>
                              </ul>
                              <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                  <div class="panel-body">
                                    <div class="row">
                                      <div class="col-lg-2 pull-right">
                                        <a href="#/admin/addslider/0" class="btn btn-new " role="button"><b> + </b> أضف الصور المنزلقة  </a>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="col-md-11 pull-right ">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;صور المنزلق  </h3>
                                        </div>
                                        <div class="panel-body">
                                          <div class="col-lg-12">
                                            <div class="sliderbox" ng-repeat="slider in sliderimages">
                                              <div class="row">
                                                <img style="height: 200px; width: 100%;" src="{{imageUrl}}{{slider.imageName}}">
                                      </div>
                                                <div class="row">
                                                  <div class="col-md-5">
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <a ng-click="slidermanage(slider)" href="" class="btn btn-info " role="button" style="width: 94px;"> صحح   </a>
                                                      </div>
                                                    </div>
                                                    
                                                  
                                                  </div>
                                                  <div class="col-md-7">
                                                    <div class="sliderdetails">
                                                      
                                                      <h5 ng-if="slider.addStatus==2"><b>حالة  : </b><span class="label label-success label-lg ng-scope">نشيط</span></h5>
                                                      <h5 ng-if="slider.addStatus==3"><b>حالة : </b><span class="label label-warning label-lg ng-scope">إبطال مفعولها </span></h5>
                                                      <h5 ng-if="slider.addStatus==4">حالة : <span class="label label-danger label-lg ng-scope">حذف  </span></h5>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="Banners" class="tab-pane fade">
                                    <div class="panel-body">
                                      <div class="row">
                                        <div class="col-lg-2 pull-right">
                                          <a href="#/admin/addbanner/0" class="btn btn-new " role="button"><b> + </b> أضف صور بانر </a>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="col-md-11 pull-right">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-list"></i> صور لافتة  </h3>
                                          </div>
                                          <div class="panel-body">
                                            <div class="col-lg-12">
                                              <div class="sliderbox" ng-repeat="banner in bannerimages">
                                                <div class="row">
                                                  <img style="height: 200px; width: 100%;" src="{{imageUrl}}{{banner.imageName}}">
                                      </div>
                                                  <div class="row">
                                                    <div class="col-md-5">
                                                      <div class="row">
                                                        <div class="col-md-6">
                                                          <a ng-click="bannermanage(banner)" href="" class="btn btn-info " role="button" style="width: 94px;">  صحح     </a>
                                                        </div>
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="col-md-7">
                                                      <div class="sliderdetails">
                                                      
                                                        <h5 ng-if="banner.addStatus==2"><b>حالة  : </b><span class="label label-success label-lg ng-scope">نشيط</span></h5>
                                                        <h5 ng-if="banner.addStatus==3"><b>حالة : </b><span class="label label-warning label-lg ng-scope">إبطال مفعولها </span></h5>
                                                        <h5 ng-if="banner.addStatus==4">حالة : <span class="label label-danger label-lg ng-scope">حذف  </span></h5>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
