<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Promoters & PromoCode Management </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- /form input knob -->
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <!-- new code -->
              <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" ng-click="getallpromoters(1)" data-target="#home">Promoters</a></li>
                  <li><a data-toggle="tab" ng-click="getallpromocode()" data-target="#Confirmed">PromoCodes</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                    <div class="panel-body">
                  <!--     <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                          <div class="input-group">
                            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="orderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </div> -->
                      <!-- table start -->
                       <div class="row">
                <div class="col-lg-2">
                  <a href="#/admin/savepromoter/0" class="btn btn-new" role="button">Create Promoter</a>
                </div>
              </div>
                      <div class="col-md-11 ">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i>Promoters</h3>
                          </div>
                           
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td> Sl.No </td>
                                    <td>Name</td>
                                    <td>E mail ID</td>
                                    <td>Phone Number </td>
                                  
                                    <td>Status</td>
                                     <td>Actions</td>
                                <!--     <td class="text-center">Valid To</td> -->
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  <!--  <tbody> -->
                                  <tr ng-repeat="promoter in promorters">
                                 
                                          <td class="text-left">{{$index+1+promorterPageVo.currentIndex}}</td>
                               
                                    <td class=" ">{{promoter.customerName}}</td>
                                    <td class=" ">{{promoter.emailid}} </td>
                                    <td class=" ">{{promoter.phoneNo}}</td>
                                   <td data-ng-if="promoter.status==0">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="promoter.status==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">Active</span>
                                      </div>
                                    </td>
                                    <th><!-- <a ng-click="viewpromoterdetails(promoter)" href="">View</a> -->
                                        <a ng-click="viewpromoterdetails(promoter)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="promotermanage(promoter)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                                      <span ng-if="code.status==0">
                                <a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-success label-lg ng-scope">Activate</span>
                                      </a>
                                      </span>
                                      <span ng-if="code.status==1"><a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-danger label-lg ng-scope">Deactivate</span>
                                      <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                                      </span>
                                    </th>
                                  </tr>
                                  <!--   </tbody> -->
                                 <!--  <tr ng-if="nodata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No New Orders</h3></strong> </td>
                                  </tr> -->
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallpromoters($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                </li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                    <!--   <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                          <div class="input-group">
                            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="confirmedorderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </div> -->
                        <div class="row">
                <div class="col-lg-2">
                  <a href="#/admin/addpromocode/0" class="btn btn-new" role="button">Create PromoCode</a>
                </div>
              </div>
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Confirmed Order List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                             <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Promo Code </td>
                                    <td class="text-center"> Flat Offer </td>
                                    <td class="text-center"> Percentage </td>
                                    <td class="text-center"> Promoter</td>
                                    <td class="text-center">Valid From </td>
                                    <td class="text-center">Valid To</td>
                                    <td class="text-center">Status</td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  <!--  <tbody> -->
                                  <tr ng-repeat="code in promocodes">
                                     <td class="text-center">{{$index+1}}</td>
                                    <td class=" ">{{code.promocode}}</td>
                                    <td class=" ">{{code.flatOffer}} SAR </td>
                                    <td class=" ">{{code.percentage}} %</td>
                                    <td class=" ">{{code.customerName}}</td>
                                    <td class=" ">{{code.validFrom}}</td>
                                    <td class="a-right a-right ">{{code.validTo | date}}</td>
                                    <td data-ng-if="code.status==0">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">Deactivated</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="code.status==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">Active</span>
                                      </div>
                                    </td>
                                    <th><a ng-click="viewpromocodedetails(code)" href=""><i class="fa fa-history"></i></a>&nbsp;&nbsp;
                                       <a ng-click="viewpromocode(code)" href=""> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;<a ng-click="promocodemanage(code)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                                      <span ng-if="code.status==0">
                                <a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-success label-lg ng-scope">Activate</span>
                                      </a>
                                      </span>
                                      <span ng-if="code.status==1"><a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-danger label-lg ng-scope">Deactivate</span>
                                      <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                                      </span>

                                    </th>
                                  </tr>
                                  <!--   </tbody> -->
                                  <!-- <tr ng-if="nodata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No New Orders</h3></strong> </td>
                                  </tr> -->
                                </tbody>
                              </table>
                              <!-- <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul> -->
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
               
                 
                </div>
              </div>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
    </div>
    <!-- /form input knob -->
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3>المروجين والرموز الترويجية</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <!-- new code -->
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="active pull-right"><a data-toggle="tab" ng-click="getallpromoters(1)" data-target="#home">المروجين  </a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallpromocode()" data-target="#Confirmed">الرموز الترويجية </a></li>
                   
                  </ul>
                  <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                    <div class="panel-body">
                  <!--     <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                          <div class="input-group">
                            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="orderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </div> -->
                      <!-- table start -->
                       <div class="row">
                <div class="col-lg-2 pull-right">
                  <a href="#/admin/savepromoter/0" class="btn btn-new" role="button">إنشاء محفز جديد </a>
                </div>
              </div>
                      <div class="col-md-11 pull-right">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list" style="padding-left: 15px;"></i>المروجين </h3>
                          </div>
                           
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td> رقم </td>
                                    <td>اسم </td>
                                    <td>عنوان الايميل </td>
                                    <td>رقم الهاتف  </td>
                                  
                                    <td>الحالة </td>
                                     <td>الاجراءت </td>
                                <!--     <td class="text-center">Valid To</td> -->
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  <!--  <tbody> -->
                                  <tr ng-repeat="promoter in promorters">
                                    <td class="">{{$index+1+promorterPageVo.currentIndex}}</td>
                                    <td class=" ">{{promoter.customerName}}</td>
                                    <td class=" ">{{promoter.emailid}} </td>
                                    <td class=" ">{{promoter.phoneNo}}</td>
                                   <td data-ng-if="promoter.status==0">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">غير نشطة</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="promoter.status==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">نشطة</span>
                                      </div>
                                    </td>
                                    <th class="" style="float: right;">
                                         <a ng-click="viewpromoterdetails(promoter)"> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="promotermanage(promoter)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                                      <span ng-if="code.status==0">
                                <a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-success label-lg ng-scope">نشيط</span>
                                      </a>
                                      </span>
                                      <span ng-if="code.status==1"><a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-danger label-lg ng-scope">غير نشطه</span>
                                      <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                                      </span>
                                    </th>
                                  </tr>
                                  <!--   </tbody> -->
                                 <!--  <tr ng-if="nodata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No New Orders</h3></strong> </td>
                                  </tr> -->
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallpromoters($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                </li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                    <!--   <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                          <div class="input-group">
                            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="confirmedorderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </div> -->
                        <div class="row">
                <div class="col-lg-2 pull-right">
                  <a href="#/admin/addpromocode/0" class="btn btn-new" role="button">إنشاء الرمز الترويجي </a>
                </div>
              </div>
                      <!-- table start -->
                      <div class="col-md-11 pull-right">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list" style="padding-left: 15px;"></i> الرموز الترويجية </h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                             <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> رقم</td>
                                    <td class="text-center"> رمز ترويجي  </td>
                                    <td class="text-center"> عرض مسطح  </td>
                                    <td class="text-center"> النسبة المئوية  </td>
                                    <td class="text-center"> المروجين  </td>
                                    <td class="text-center">صالح من تاريخ  </td>
                                    <td class="text-center">صالحة ل </td>
                                    <td class="text-center">حالة </td>
                                    <td class="text-center">الاجراءت </td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  <!--  <tbody> -->
                                  <tr ng-repeat="code in promocodes">
                                    <td class="a-center ">
                                      {{$index+1}}
                                    </td>
                                    <td class=" ">{{code.promocode}}</td>
                                    <td class=" ">{{code.flatOffer}} SAR </td>
                                    <td class=" ">{{code.percentage}} %</td>
                                    <td class=" ">{{code.customerName}}</td>
                                    <td class=" ">{{code.validFrom | date}}</td>
                                    <td class="a-right a-right ">{{code.validTo | date}}</td>
                                    <td data-ng-if="code.status==0">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">غير نشطة </span>
                                      </div>
                                    </td>
                                    <td data-ng-if="code.status==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">نشيط </span>
                                      </div>
                                    </td>
                                    <th>
                                      <a ng-click="viewpromocodedetails(code)" href=""><i class="fa fa-history"></i></a>&nbsp;&nbsp;
                                       <a ng-click="viewpromocode(code)" href=""> <i class="fa fa-eye text-green"></i></a>&nbsp;&nbsp;<a ng-click="promocodemanage(code)" href=""><i class="fa fa-pencil text-aqua"></i></a>
                                      <span ng-if="code.status==0">
                                <a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-success label-lg ng-scope">نشط </span>
                                      </a>
                                      </span>
                                      <span ng-if="code.status==1"><a ng-click="changepromocodestatus(code)" href=""> <span
                                    class="label label-danger label-lg ng-scope">غير نشطه </span>
                                      <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                                      </span>
                                    </th>
                                  </tr>
                                  <!--   </tbody> -->
                                  <!-- <tr ng-if="nodata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No New Orders</h3></strong> </td>
                                  </tr> -->
                                </tbody>
                              </table>
                              <!-- <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul> -->
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                   
                  
                  
                  </div>
                </div>
              </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
      </div>
      <!-- /form input knob -->
    </div>
  </div>
</div>
<!-- /page content -->
<!-- table end -->
