<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
         <!--  <div ng-if="ofid==0"> -->
          <div ng-if="catcid==0">
            <h3>Create New Promoter </h3>
          </div>
          <div ng-if="catcid==1">
            <h3>Edit Promoter </h3>
          </div>
          
         <!--  </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Promoter Informations <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <!-- <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerName">Promocode <span class="required">*</span>
                  </label>
                  <button type="submit" class="btn btn-primary" ng-click="getPromoCode();">Generate Promocode</button>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="PromoCode.generatedcode" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div> -->
              <!--   <hr style="color: black"> -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customerName">Promoter Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="text" placeholder="" data-ng-model="Promoter.customerName" id="customerName" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNo">Phone Number <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="number" placeholder="" data-ng-model="Promoter.phoneNo" id="phoneNo" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailid">E mail ID <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="email" placeholder="" data-ng-model="Promoter.emailid" id="emailid" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="Promoter.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Country<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="country.countryId as country.countryName for country in countries" ng-change="getcityByCountryId(Promoter.country)"class="form-control" ng-model="Promoter.country">
                    </select>
                  </div>
                </div>
                    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">City<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-options="city.cityId as city.cityName for city in citiesbycountries" class="form-control" ng-model="Promoter.city">
                    </select>
                  </div>
                </div>
                    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipCode">Zip Code<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="text" placeholder="" data-ng-model="Promoter.zipCode" id="zipCode" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="password" placeholder="" data-ng-model="Promoter.password" id="password" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div>
                <div class="form-group">
                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password2">Confirm Password<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="password" placeholder="" data-ng-model="password2" id="password2"  ng-change="checkpasswords(Promoter.password,password2)"  required="required" class="form-control col-md-7 col-xs-12"/>
                   <span ng-if="display==1">
                     <span ng-show=" displaymsg==3" class="red-text" > <h4 style="
    color: red;
   /* background-color: #e4d3d3;*/
    font-size:  21px;
">Please Enter Above Mentioned Password</h4></span>
                <span  ng-if=" displaymsg==2" class="red-text" ><h4 style="
    color: red;
  /*  background-color: #e4d3d3;*/
    font-size:  21px;
"> Password is Matched</h4></span>
                     
                   </span>
                  </div>
                           <!--  <div class="right-inner-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                                <input class="form-control input-lg" placeholder="Re-Enter Your Password" ng-model="password2" ng-change="checkpasswords(tutorreg.password,password2)" type="password">
                            </div> -->
                        </div>
                      <!--   <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-12 col-md-6 col-sm-6 col-xs-12" ng-if="display==1">
                              <span ng-show=" displaymsg==3" class="red-text" > <h4 style="
    color: red;
    background-color: #e4d3d3;
    font-size:  21px;
">Please Enter Above Mentioned Password</h4></span>
                <span  ng-if=" displaymsg==2" class="red-text" ><h4 style="
    color: red;
    background-color: #e4d3d3;
    font-size:  21px;
"> Password is Matched</h4></span>
                            
                        </div> -->
                <!--  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipCode">Zip Code<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <input type="text" placeholder="" data-ng-model="Promoter.zipCode" id="zipCode" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                </div> -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==0  }" ng-click="Promoter.status=0"> Deactive</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==1  }" ng-click="Promoter.status=1"> Active</div>
                    </div>
                  </div>
                 <!--  <div text-angular></div> -->

                  <h2>Images</h2>
                  <hr>
                  <div class="col-md-4">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Promoter Image </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6" ng-model="Promoter.profileImage">
                        <div class="img-wraps">
                          {{Promoter.profileImage}}
                          <span class="closes" ng-if="!isFileuploadStart&& Promoter.profileImage" title="Delete" ng-click="deleteimage(Promoter.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{Promoter.profileImage}}" class="img-thumbnail" ng-if="!isFileuploadStart&& Promoter.profileImage">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                       <!--   <hr>
                    <br>
                    <h2>Pick The Location of Promoter</h2>
                    <div map-lazy-load="https://maps.google.com/maps/api/js?libraries=places&sensor=fals&key=AIzaSyCkP4aAsJ9NtkNT31JNxiCElYTDzlaVRBg&v=3" map-lazy-load-params="{{googleMapsUrl}}">
                      <ng-map center="34.0479,100.6197" on-click="pinClickedshop(this)" zoom="2">
                        <marker position="[{{Promoter.latitude}}, {{Promoter.longitude}}]" title="how"></marker>
                        
                      </ng-map>
                    </div> -->
                <!--     <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerNameAr">Offer Name Ar <span class="required">*</span>
                </label> <button type="submit" class="btn btn-primary" ng-click="addOffer(offer);">Generate Promo Code</button>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerNameAr" id="offerNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div> -->
                <!--   <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.description" id="description" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div> -->
                <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descriptionAr">Description Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea type="text" data-ng-model="offer.descriptionAr" id="descriptionAr" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
              </div> -->
               <!--  <div ng-if="field2==0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Offer Percentage <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                </div>
                <div ng-if="field2==1">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Offer Percentage <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" ng-change="selectone(PromoCode.percentage)" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                </div>
                <h4 style="text-align: center;">OR</h4>
                <div ng-if="field1==0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">Flat Offer<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                </div> -->
            <!--     <div ng-if="field1==1">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">Flat Offer <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" ng-change="selectonetwo(PromoCode.flatOffer)" data-ng-model="PromoCode.flatOffer" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">Required Minimum Amount <span class="required">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">Valid From <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" data-ng-model="PromoCode.validFrom" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">Valid To <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" data-ng-model="PromoCode.validTo" id="validTo" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div> -->
                <!--     <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">Required Minimum Amount <span class="required">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div> -->
                <!--    <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">Commision <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div> -->
                <!--  <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Service Category / Product Category</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==1  }" ng-click="category.serviceOrProduct=1"> product</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :category.serviceOrProduct==0 }" ng-click="category.serviceOrProduct=0"> Service</div>
                </div>
              </div> -->
             <!--    <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==0  }" ng-click="PromoCode.status=0"> Deactive</div>
                    <div class="btn btnserviceorproduct" ng-class="{'active' :PromoCode.status==1  }" ng-click="PromoCode.status=1"> Active</div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="savePromoter(Promoter);">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->


<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
         <!--  <div ng-if="ofid==0"> -->
          <div ng-if="catcid==0">
            <h3>إنشاء جديد المروج  </h3>
          </div>
          <div ng-if="catcid==1">
            <h3>تحرير المروج  </h3>
          </div>
          
         <!--  </div> -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">معلومات حول المروج <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="text" placeholder="" data-ng-model="Promoter.customerName" id="customerName" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customerName">اسم العملاء  <span class="required">*</span>
                  </label>
                  
                </div>
                  <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="number" placeholder="" data-ng-model="Promoter.phoneNo" id="phoneNo" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNo">رقم الهاتف  <span class="required">*</span>
                  </label>
                 
                </div>
                 <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="email" placeholder="" data-ng-model="Promoter.emailid" id="emailid" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailid">عنوان الايميل  <span class="required">*</span>
                  </label>
                  
                </div>
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <textarea type="text" data-ng-model="Promoter.address" id="address" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">عنوان  <span class="required">*</span>
                </label>
               
              </div>
                  <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <select ng-options="country.countryId as country.countryNameAr for country in countries" ng-change="getcityByCountryId(Promoter.country)"class="form-control" ng-model="Promoter.country">
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">الدوله <span class="required">*</span>
                  </label>
               
                </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <select ng-options="city.cityId as city.cityNameAr for city in citiesbycountries" class="form-control" ng-model="Promoter.city">
                    </select>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">مدينه<span class="required">*</span>
                  </label>
                
                </div>
                    <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                   <input type="text" placeholder="" data-ng-model="Promoter.zipCode" id="zipCode" required="required" class="form-control col-md-7 col-xs-12"/>
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipCode">رقم المنطقة <span class="required">*</span>
                  </label>
                 
                </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==0  }" ng-click="Promoter.status=0"> غير نشطة </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :Promoter.status==1  }" ng-click="Promoter.status=1"> نشطة </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> حالة </label>
                    
                  </div>
                 <!--  <div text-angular></div> -->

                  <h2>صور </h2>
                  <hr>
                  <div class="col-md-4 pull-right">
                    <div class="fileupload file-uplaod-btn">
                      <div class="form-group">
                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp;+ انقر هنا لتحميل صورة المروج  </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="Promoter.profileImage">
                        <div class="img-wraps">
                          {{Promoter.profileImage}}
                          <span class="closes" ng-if="!isFileuploadStart&& Promoter.profileImage" title="Delete" ng-click="deleteimage(Promoter.imageName)">&times;</span>
                          <img style="min-width:100%" ng-src="{{imageUrl}}{{Promoter.profileImage}}" class="img-thumbnail" ng-if="!isFileuploadStart&& Promoter.profileImage">
                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                     
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary" ng-click="savePromoter(Promoter);">قدم </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</div>