<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
         <!--  <div ng-if="ofid==0"> -->
            <h3>View PromoCode </h3>
          
          
      
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>PromoCode Informations<small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
         
                <hr style="color: black">
              <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promocode">PromoCode<span class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="promocode" ng-model="PromoCode.promocode" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promotername">Promorter Name<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="promotername" ng-model="PromoCode.customerName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
               
                
                <div ng-if="PromoCode.percentage!=0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Offer Percentage <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                </div>
           
                <div ng-if="PromoCode.flatOffer!=0">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">Flat Offer <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="PromoCode.flatOffer" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">Required Minimum Amount <span class="required"></span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12"readonly="true" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">Valid From <span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="PromoCode.validFrom | date" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" readonly="true"  />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">Valid To <span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="PromoCode.validTo |date" id="validTo" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
            <!--     <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="offerStarts">Offer Start Date <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="offer.offerStarts|date" id="offerStarts" readonly="true" class="form-control col-md-7 col-xs-12" />
                </div>
              </div> -->

                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">PromoCode Status <span class="required"></span>
                  </label>
                  <div ng-if="PromoCode.status==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="PromoCode.status==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>
              
             
           
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->


<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
<div class="">
      <div class="page-title">
        <div class="title_right pull-right">
         <!--  <div ng-if="ofid==0"> -->
            <h3>عرض الرمز الترويجي  </h3>
          
          
      
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">تشكيلات حول الرمز الترويجي <small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
         
                <hr style="color: black">
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="promocode" ng-model="PromoCode.promocode" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promocode">الرموز الترويجية <span class="required"></span>
                    </label>
                   
                  </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" placeholder="Offer Percentage is Choosed" id="promotername" ng-model="PromoCode.customerName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="promotername">اسم المروج  <span class="required">*</span>
                    </label>
                  
                  </div>
               
                
                <div ng-if="PromoCode.percentage!=0">
                  <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" placeholder="Offer Rate is Choosed" data-ng-model="PromoCode.percentage" id="percentage" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">نسبة العرض   <span class="required">*</span>
                    </label>
                  
                  </div>
                </div>
           
                <div ng-if="PromoCode.flatOffer!=0">
                  <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="PromoCode.flatOffer" id="flatOffer" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatOffer">عرض مسطح  <span class="required">*</span>
                    </label>
                
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="number" data-ng-model="PromoCode.minimumAmount" id="minimumAmount" required="required" class="form-control col-md-7 col-xs-12"readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minimumAmount">الحد الأدنى المطلوب المبلغ  <span class="required"></span>
                  </label>
                 
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" data-ng-model="PromoCode.validFrom|date" id="validFrom" required="required" class="form-control col-md-7 col-xs-12" readonly="true"  />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validFrom">صالح من تاريخ  <span class="required"></span>
                  </label>
                
                </div>
                <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" data-ng-model="PromoCode.validTo|date" id="validTo" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validTo">صالحة ل  <span class="required"></span>
                  </label>
               
                </div>
           

                 <div class="form-group">
                     <div ng-if="PromoCode.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value="غير نشطه " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="PromoCode.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value="نشطة " id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة<span class="required"></span>
                  </label>
               
                </div>
              
             
           
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
</div>