<!-- page content -->
<div ng-if="langval==1">
 
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>View Promoter </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
      <div class="col-lg-4">
        <div class="block">
          <div class="block-title">
            <h2><i class="fa fa-file-o"></i> <strong>Promoter</strong> Info</h2>
          </div>
          <div class="block-section text-center">
            <a href="javascript:void(0)">
<img src="{{imageUrl}}{{promoter.profileImage}}" alt="Profile Image" class="img-circle" style="
    width: 75px;
    height: 75px;
">
</a>
            <h3>
<strong>{{promoter.customerName}}</strong><br><small></small>
</h3>
          </div>
          <table class="table table-borderless table-striped table-vcenter">
            <tbody>
              <tr>
                <td class="text-right"><strong>Phone Number</strong></td>
                <td>{{promoter.phoneNo}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>E-mail ID</strong></td>
                <td>{{promoter.emailId}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>City</strong></td>
                <td>{{promoter.cityName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Country</strong></td>
                <td>{{promoter.countryName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Address</strong></td>
                <td>{{promoter.address}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Status</strong></td>
                <td ng-if="promoter.status==0"><span class="label label-danger"><i class="fa fa-check"></i> Deactivated</span></td>
                <td ng-if="promoter.status==1"><span class="label label-success"><i class="fa fa-check"></i> Active</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="block">
          <div class="block-title">
            <div class="block-options pull-right">
              <span class="label label-success"><strong><!-- $ 2125,00 --></strong></span>
            </div>
            <h2><i class="fa fa-truck"></i> <strong>Orders by Promo Code</strong> (<strong>Total Purchased Amount : {{totalamount}} SAR </strong>)</h2>
          </div>
          <table class="table table-bordered table-striped table-vcenter">
            <tbody>
              <tr>
                <th>Sl.No</th>
                <th>Order ID</th>
                <th>No.of Items</th>
                <th>Net Price</th>
                <th>Customer Name</th>
                <th>Ordered Date</th>
                <!-- <th>Order ID</th> -->
               <!--  <th>Action</th> -->
              </tr>
              <tr ng-repeat="custcmptorder in listoforders">
                <td class="text-center" style="width: 15%;"><strong>{{$index+1+promoterdetailsPageVo.currentIndex}}</strong></td>
                <td class="text-center" style="width: 15%;"><strong>{{custcmptorder.orderId}}</strong></td>
                <td class="hidden-xs" style="width: 15%;">{{custcmptorder.numberOfItems}} Products</td>
                <td class="text-right hidden-xs" style="width: 100px;;"><strong>{{custcmptorder.netPrice}} SAR</strong></td>
                <td class="text-left" style="width: 100px;;"><strong>{{custcmptorder.customerName}}</strong></td>
               <!--  <td ng-if="custcmptorder.orderstatus==1"><span class="label label-warning">Ordered</span></td>
                <td ng-if="custcmptorder.orderstatus==2"><span class="label label-info">Confirmed</span></td>
                <td ng-if="custcmptorder.orderstatus==3"><span class="label label-warning">Rejected</span></td>
                <td ng-if="custcmptorder.orderstatus==4"><span class="label label-success">Delivered</span></td>
                <td ng-if="custcmptorder.orderstatus==5"><span class="label label-danger">Deleted</span></td>
                <td ng-if="custcmptorder.orderstatus==6"><span class="label label-warning">Ready to Delivery</span></td> -->
                <!-- <td class="hidden-xs">Paypal</td> -->
                <td class="text-left">{{custcmptorder.lastUpdatedTime | date}}</td>
               <!--  <td class="text-center" style="width: 70px;">
                  <div class="btn-group btn-group-xs">
                    <a ng-click="vieworderdetails(custcmptorder)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                   
                  </div>
                </td> -->
              </tr>
              <tr ng-if="nototalcompletedorders==1">
                <td colspan="8" class="text-center"> <strong><h3>No Data</h3></strong> </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li ng-repeat="i in getNumberforordercount(noPagesoder) track by $index" ng-click="getpromocodedetailsbypromoter($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
          </ul>
        </div>
        <!-- BOOKINGS -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- ARABIC -->
 <div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <h3>عرض المروج  </h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- /form input knob -->
    <div class="row">
   
      <div class="col-lg-8">
        <div class="block">
          <div class="block-title">
            <div class="block-options pull-right">
              <span class="label label-success"><strong><!-- $ 2125,00 --></strong></span>
            </div>
            <h2><i class="fa fa-truck"></i> <strong>أأوامر برومو كود </strong> (<strong>إجمالي قيمة الشراء: {{totalamount}} ريال سعودي</strong>)</h2>
          </div>
          <table class="table table-bordered table-striped table-vcenter">
            <tbody>
              <tr>
                <th class="text-center" >رقم</th>
                <th class="text-center" >رقم الطلب </th>
                <th class="text-center" >عدد العناصر </th>
                <th class="text-center" >السعر الصافي </th>
                <th class="text-center" >اسم الزبون </th>
                <th class="text-center" >تاريخ أمر </th>
             
              </tr>
              <tr ng-repeat="custcmptorder in listoforders">
                <td class="text-center" style="width: 15%;"><strong>{{$index+1+promoterdetailsPageVo.currentIndex}}</strong></td>
                <td class="text-center" style="width: 15%;"><strong>{{custcmptorder.orderId}}</strong></td>
                <td class="hidden-xs" style="width: 15%;">{{custcmptorder.numberOfItems}} منتجات </td>
                <td class="text-right hidden-xs" style="width: 100px;;"><strong>{{custcmptorder.netPrice}} ريال سعودي </strong></td>
                <td class="text-right hidden-xs" style="width: 100px;;"><strong>{{custcmptorder.customerName}}</strong></td>
                             <td class="hidden-xs text-center">{{custcmptorder.lastUpdatedTime | date}}</td>
            
              </tr>
              <tr ng-if="nototalcompletedorders==1">
                <td colspan="8" class="text-center"> <strong><h3>No Data</h3></strong> </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li ng-repeat="i in getNumberforordercount(noPagesoder) track by $index" ng-click="getpromocodedetailsbypromoter($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
          </ul>
        </div>
        <!-- BOOKINGS -->
      </div>
         <div class="col-lg-4">
        <div class="block">
          <div class="block-title">
            <h2><i class="fa fa-file-o"></i>معلومات   <strong>المروجين </strong> </h2>
          </div>
          <div class="block-section text-center">
            <a href="javascript:void(0)">
<img src="{{imageUrl}}{{promoter.profileImage}}" alt="Profile Image" class="img-circle" style="
    width: 75px;
    height: 75px;
">
</a>
            <h3>
<strong>{{promoter.customerName}}</strong><br><small></small>
</h3>
          </div>
          <table class="table table-borderless table-striped table-vcenter">
            <tbody>
              <tr>
                <td class="text-right"><strong> رقم الهاتف</strong></td>
                <td>{{promoter.phoneNo}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>عنوان الايميل </strong></td>
                <td>{{promoter.emailId}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>مدينه</strong></td>
                <td>{{promoter.cityName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>الدوله </strong></td>
                <td>{{promoter.countryName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>عنوان </strong></td>
                <td>{{promoter.address}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Status</strong></td>
                <td ng-if="promoter.status==0"><span class="label label-danger"><i class="fa fa-check"></i> غير نشطه </span></td>
                <td ng-if="promoter.status==1"><span class="label label-success"><i class="fa fa-check"></i> نشطة </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
