
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>CMS Data Management </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- /form input knob -->
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <!-- new code -->
              <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" data-target="#home">Terms and Condition</a></li>
                  <li><a data-toggle="tab" data-target="#about">About Us</a></li>
                  <li><a data-toggle="tab" data-target="#faq">FAQs</a></li>
                  <!--   <li><a data-toggle="tab" ng-click="getallshippedorders(1)" data-target="#Shipped">Shipped Orders</a></li> -->
                  <li><a data-toggle="tab"  data-target="#privacy">Privacy Policy</a></li>
                  <li><a data-toggle="tab"  data-target="#contact">Contact Us</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                    <div class="panel-body">
                  
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Terms and Conditions En</h2>
                      <div text-angular ng-model="cms.termsAndConditions"></div>
                    </div>
                  </div>

                   <div class="clearfix"></div>
                   <div class="row">
                    <div class="col-md-12">
                      <h2>Terms and Conditions Ar</h2>
                      <div text-angular ng-model="cms.termsAndConditionsAr"></div>
                    </div>
                  </div>
                      

                    </div>
                  </div>
                  <div id="about" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                        <div class="row">
                    <div class="col-md-12">
                      <h2>About Us En</h2>
                      <div text-angular ng-model="cms.aboutUs"></div>
                    </div>
                  </div>
 <div class="clearfix"></div>
 <div class="row">
                    <div class="col-md-12">
                      <h2>About Us Ar</h2>
                      <div text-angular ng-model="cms.aboutUsAr"></div>
                    </div>
                  </div>



             
                      
                    </div>
                  </div>
                  <div id="faq" class="tab-pane fade">
                    <div class="panel-body">
                      <div class="row">
                    <div class="col-md-12">
                      <h2>FAQs En</h2>
                      <div text-angular ng-model="cms.faqs"></div>
                    </div>
                  </div>

                   <div class="clearfix"></div>
                   <div class="row">
                    <div class="col-md-12">
                      <h2>FAQs Ar</h2>
                      <div text-angular ng-model="cms.faqsAr"></div>
                    </div>
                  </div>


                    </div>


                    
                  </div>
                  <div id="privacy" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                        <div class="row">
                    <div class="col-md-12">
                      <h2>Privacy Policy En</h2>
                      <div text-angular ng-model="cms.privacyPolicy"></div>
                    </div>
                  </div>
                       <div class="clearfix"></div>
                       <div class="row">
                    <div class="col-md-12">
                      <h2>Privacy Policy Ar</h2>
                      <div text-angular ng-model="cms.privacyPolicyAr"></div>
                    </div>
                  </div>


                    
                    </div>
                  </div>
                  <div id="contact" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                       <div class="row">
                    <div class="col-md-12">
                      <h2>Contact Us En</h2>
                      <div text-angular ng-model="cms.contactUs"></div>
                    </div>
                  </div>
                   <div class="clearfix"></div>
                    <div class="row">
                    <div class="col-md-12">
                      <h2>Contact Us Ar</h2>
                      <div text-angular ng-model="cms.contactUsAr"></div>
                    </div>
                  </div>
                  <br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="addCmsdata(cms);">Submit</button>
                      </div>

                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
    </div>
    <!-- /form input knob -->
  </div>
</div>












