<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Low Stock Reports </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label" for="input-date-start">Stock Range From</label>
                <div class="input-group ">
                  <input type="text" name="filter_date_start" value="" placeholder="Enter Lower Limit" ng-model="filter.lowerlimit" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date-start">Stock Range To</label>
                <div class="input-group ">
                  <input type="text" name="filter_date_start" value="" placeholder="Enter Upper Limit" ng-model="filter.upperlimit" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-filter" class="btn btn-default" ng-click="filterlowstockreport(filter)"><i class="fa fa-filter"></i> Filter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3 col-sm-12">
          <div>
            <span class="pull-right">
                        <button ng-click="downloadlowstockreport()">Download as Pdf</button>
                       </span>
          </div>
          <div id="printlowstockreport">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Low Stock Report</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="text-left">Sl.No</td>
                        <td class="text-left">Product Name</td>
                        <td class="text-left">Category</td>
                        <td class="text-left">Subcategory</td>
                        <td class="text-left">Stock</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in lowstockproducts">
                        <td>{{$index+1+lowstockPageVo.currentIndex}}.</td>
                        <td class="text-left">{{product.productName}}</td>
                        <td class="text-left">{{product.categoryName}}</td>
                        <td class="text-left">{{product.subcategoryName}}</td>
                        <td class="text-left">{{product.numberOfItemsRemaining}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left" style="
    margin-top:  25px;
">Showing {{$index+1+lowstockPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                  <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getlowstock($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ARABIC -->

<div ng-if="langval==0">
	<div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3>تقارير قليلة المخزون
 </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="control-label" for="input-date-start">نطاق المخزون (من) </label>
                <div class="input-group ">
                  <input type="text" name="filter_date_start" value="" placeholder="أدخل الحد الأدنى
 " ng-model="filter.lowerlimit" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date-start">نطاق المخزون (إلى)
 </label>
                <div class="input-group ">
                  <input type="text" name="filter_date_start" value="" placeholder="أدخل الحد الأعلى" ng-model="filter.upperlimit" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-filter" class="btn btn-default" ng-click="filterlowstockreport(filter)"><i class="fa fa-filter"></i> فلتر </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9  col-sm-12">
          <div>
            <span class="" style="float: left;">
                        <button ng-click="downloadlowstockreport()">تنزيل بتنسيق PDF
 </button>
                       </span>
          </div>
          <div id="printlowstockreport">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقارير قليلة المخزون
 </h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="text-left"><strong>رقم  </strong></td>
                        <td class="text-center"><strong>اسم المنتج
</strong></td>
                        <td class="text-center"><strong>فئة  </strong></td>
                        <td class="text-center"><strong>فئه فرعية </strong></td>
                        <td class="text-center"><strong>مخزون  </strong></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in lowstockproducts">
                        <td>{{$index+1+lowstockPageVo.currentIndex}}.</td>
                        <td class="text-right">{{product.productNameAr}}</td>
                        <td class="text-right">{{product.categoryNameAr}}</td>
                        <td class="text-right">{{product.subcategoryNameAr}}</td>
                        <td class="text-right">{{product.numberOfItemsRemaining}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                	<div class="col-sm-6 text-left ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getlowstock($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 text-right" style="
    margin-top:  25px;
">عرض    {{$index + 1 + lowstockPageVo.currentIndex}} إلى {{finalcount}} من  {{totalnumber}} ({{noPages}} صفحات  )
</div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>