<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Order Reports </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
            </div>
            <div class="panel-body">
                 <div class="form-group">
                <label class="control-label" for="input-date-start">Date Start</label>
                <div class="input-group ">
                  <input type="date" name="filter_date_start" value="" placeholder="Enter Lower Limit" ng-model="filter.startdate" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date-start">Date End</label>
                <div class="input-group ">
                  <input type="date" name="filter_date_start" value="" placeholder="Enter Upper Limit" ng-model="filter.enddate" id="input-date-start" class="form-control">
                </div>
              </div>
                 <div class="form-group">
                    <label class="control-label" for="input-status">Status</label>
                    <select name="filter_order_status_id" id="input-status" ng-model="filter.status" class="form-control">
                      <option value="0">All</option>
                      <option value="1">ORDERED</option>
                      <option value="2">CONFIRMED</option>
                      <option value="3">REJECTED</option>
                      <option value="4">DELIVERED</option>
                      <option value="10">SHIPPED</option>
                      <option value="6">PICKED</option>
                     
                    </select>
                  </div>
         
              <div class="form-group text-right">
                <button type="button" id="button-filter" class="btn btn-default" ng-click="filterorderreport(filter)"><i class="fa fa-filter"></i> Filter</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3 col-sm-12">
          <div>
            <span class="pull-right">
                        <button ng-click="downloadorderreport()">Download as Pdf</button>
                       </span>
          </div>
          <div id="printorderreport">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i>Order Report</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="text-center">Sl.No</td>
                        <td class="text-center">Order ID</td>
                        <td class="text-center">Order Date</td>
                        <td class="text-center">No.of Products</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Status</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="orderli in allorders">
                        <!--   <tr data-ng-repeat="order in neworders"> -->
                        <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                        <td class="text-left">{{orderli.orderId}}</td>
                        <td class="text-left">{{orderli.lastUpdatedTime|date}}</td>
                        <td class="text-left">{{orderli.numberOfItems}}</td>
                        <td class="text-left">{{orderli.netPrice | number :2 }} SAR</td>
                        <td data-ng-if="orderli.orderstatus==1">                                 
                           ORDERED                                
                        </td>
                        <td data-ng-if="orderli.orderstatus==2">
                                    
                          CONFIRMED 
                       </td>
                           <td data-ng-if="orderli.orderstatus==3">
                                    
                          REJECTED 
                       </td>
                          <td data-ng-if="orderli.orderstatus==4">
                                    
                          DELIVERED 
                       </td>
                          <td data-ng-if="orderli.orderstatus==10">
                                    
                          SHIPPED 
                       </td>
                          <td data-ng-if="orderli.orderstatus==6">
                                    
                          PICKED 
                       </td>
                          
                              
                      </tr>
                        <tr ng-if="nodata==1">
                    <td colspan="7" class="text-center"> <strong><h3>No Data Exist</h3></strong> </td>
                  </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left">Showing {{$index+1+orderPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3> تقرير الطلب
 </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div id="filter-report" class="col-md-3  col-sm-12 hidden-sm hidden-xs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
            </div>
            <div class="panel-body">
                 <div class="form-group">
                <label class="control-label" for="input-date-start">تاريخ البدء </label>
                <div class="input-group ">
                  <input type="date" name="filter_date_start" value="" placeholder="Enter Lower Limit" ng-model="filter.startdate" id="input-date-start" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date-start">تاريخ الانتهاء </label>
                <div class="input-group ">
                  <input type="date" name="filter_date_start" value="" placeholder="Enter Upper Limit" ng-model="filter.enddate" id="input-date-start" class="form-control">
                </div>
              </div>
                 <div class="form-group">
                    <label class="control-label" for="input-status">حالة </label>
                    <select name="filter_order_status_id" id="input-status" ng-model="filter.status" class="form-control">
                      <option value="0">كل شىء </option>
                      <option value="1">  أمر   </option>
                      <option value="2">  تم تأكيد  </option>
                      <option value="3"> مرفوض  </option>
                      <option value="4">تم التوصيل  </option>
                      <option value="10"> شحنها  </option>
                      <option value="6"> اختار  </option>
                     
                    </select>
                  </div>
         
              <div class="form-group text-right">
                <button type="button" id="button-filter" class="btn btn-default" ng-click="filterorderreport(filter)"><i class="fa fa-filter"></i> فلتر </button>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-9   col-sm-12">
            <div>
              <span class="">
                        <button ng-click="downloadorderreport()" style="float: left;">تنزيل بتنسيق PDF </button>
                       </span>
            </div>
            <div id="printorderreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i> <span>تقرير الطلب
 </span></h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="text-left">رقم </td>
                        <td class="text-left">رقم الطلب  </td>
                        <td class="text-left">تاريخ الطلب </td>
                        <td class="text-left">عدد المنتجات </td>
                        <td class="text-left">كمية </td>
                        <td class="text-left">حالة </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="orderli in allorders">
                        <!--   <tr data-ng-repeat="order in neworders"> -->
                        <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                        <td class="text-left">{{orderli.orderId}}</td>
                        <td class="text-left">{{orderli.lastUpdatedTime|date}}</td>
                        <td class="text-left">{{orderli.numberOfItems}}</td>
                        <td class="text-left">{{orderli.netPrice}} SAR</td>
                        <td data-ng-if="orderli.orderstatus==1">                                 
                           أمر                                 
                        </td>
                        <td data-ng-if="orderli.orderstatus==2">
                                    
                          تم تأكيد  
                       </td>
                           <td data-ng-if="orderli.orderstatus==3">
                                    
                          مرفوض  
                       </td>
                          <td data-ng-if="orderli.orderstatus==4">
                                    
                          تم التوصيل  
                       </td>
                          <td data-ng-if="orderli.orderstatus==10">
                                    
                          شحنها  
                       </td>
                          <td data-ng-if="orderli.orderstatus==6">
                                    
                          اختار  
                       </td>
                          
                              
                      </tr>
                        <tr ng-if="nodata==1">
                    <td colspan="7" class="text-center"> <strong><h3>لا توجد بيانات موجودة </h3></strong> </td>
                  </tr>
                    </tbody>
                  </table>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 text-left">عرض {{$index + 1 + lowstockPageVo.currentIndex}} إلى {{finalcount}} من {{totalnumber}} ({{noPages}} صفحات )</div>
                     <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
