<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Transaction Report </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="control-label" for="input-date-start">Date Start</label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">Date End</label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">Price Starts</label>
                    <div class="input-group date">
                      <input type="text" name="filter_date_end" ng-model="filter.pricestart" placeholder="Start Price" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">Price Ends</label>
                    <div class="input-group date">
                      <input type="text" name="filter_date_end" ng-model="filter.priceends" placeholder="End Price" data-date-format="YYYY-MM-DD" id="priceends" class="form-control">
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label class="control-label" for="input-group">Group By</label>
                    <select name="filter_group" id="input-group" class="form-control">
                      <option value="year">Years</option>
                      <option value="month">Months</option>
                      <option value="week" selected="selected">Weeks</option>
                      <option value="day">Days</option>
                    </select>
                  </div> -->
                  <div class="form-group">
                    <label class="control-label" for="input-status">Type</label>
                    <select name="filter_order_status_id" id="input-status" class="form-control" ng-model="filter.tranmode">
                      <option value="23">All </option>
                       <option value="21">Cash On Delivery </option>
                        <option value="22">Online Payment </option>
                    </select>
                  </div>
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filtertransactionreport(filter)"><i class="fa fa-filter"></i> Filter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
              <div>
                <span class="pull-right">
                        <button ng-click="downloadtransactionreport()">Download as Pdf</button>
                       </span>
              </div>
              <div id="exporttransactionreport">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Transaction Report</h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <td class="text-center"><strong>Sl.No </strong></td>
                            <td class="text-center"><strong>Transaction Date </strong></td>
                            <td class="text-center"><strong>Transaction ID </strong></td>
                            <td class="text-center"><strong>Transaction Mode </strong></td>
                            <td class="text-center"><strong>Amount </strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="transaction in transactionreport">
                            <td>{{$index+1+transactionreportPageVo.currentIndex}}.</td>
                            <td class="text-left">{{transaction.lastUpdatedTime|date}}</td>
                            <td class="text-left">{{transaction.transactionId}}</td>

                            <td ng-if="transaction.transactionMode==21" class="text-left" >Cash On Delivery</td>
                               <td ng-if="transaction.transactionMode==22" class="text-left" >Online Payment</td>
                            <td class="text-left">{{transaction.netAmount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  
                    <div class="row">
                      <div class="col-md-6 text-left" style="
    margin-top:  25px;
">Showing {{$index+1+transactionreportPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)
                      </div>
                      <div class="col-md-6 text-right ">
                        <ul class="pagination">
                          <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="gettransactionreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
  <!-- ARABIC -->
  <!-- page content -->
  <!-- ARABIC -->
  <div ng-if="langval==0">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div dir="rtl">
        <div class="">
          <div class="page-title">
            <div class="title_right pull-right">
              <h3>تقرير المعاملات  </h3>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="container-fluid">
            <div>
              <!--   CUSTOMER PAID REPORT -->
              <div class="row">
                <div id="filter-report" class="col-md-3  col-sm-12 hidden-sm hidden-xs">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر </h3>
                    </div>
                  
                    <div class="panel-body">
                      <div class="form-group">
                        <label class="control-label" for="input-date-start">تاريخ البدء </label>
                        <div class="input-group date">
                          <input type="date" name="filter_date_start" ng-model="filter.startdate" placeholder="Date Start" data-date-format="DD-MM-YYYY" id="startdate" class="form-control">
                          <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="input-date-end">التاريخ النهائي </label>
                        <div class="input-group date">
                          <input type="date" name="filter_date_end" ng-model="filter.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="enddate" class="form-control">
                          <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="input-date-end">يبدأ السعر </label>
                        <div class="input-group date">
                          <input type="text" name="filter_date_end" ng-model="filter.pricestart" placeholder="أدخل سعر البدء " data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="input-date-end">السعر ينتهي </label>
                        <div class="input-group date">
                          <input type="text" name="filter_date_end" ng-model="filter.priceends" placeholder="أدخل سعر نهاية " data-date-format="YYYY-MM-DD" id="priceends" class="form-control">
                        </div>
                      </div>
                     <!--  <div class="form-group">
                        <label class="control-label" for="input-status">حالة </label>
                        <select name="filter_order_status_id" id="input-status" class="form-control" ng-model="filter.status">
                          <option value="">All </option>
                        </select>
                      </div> -->
                       <div class="form-group">
                    <label class="control-label" for="input-status">وضع المعاملة </label>
                    <select name="filter_order_status_id" id="input-status" class="form-control" ng-model="filter.tranmode">
                      <option value="23">كل  </option>
                       <option value="21">الدفع عند التسليم  </option>
                        <option value="22">الدفع الالكتروني  </option>
                    </select>
                  </div>
                      <div class="form-group text-right">
                        <button type="button" id="button-filter" class="btn btn-default" ng-click="filtertransactionreport(filter)"><i class="fa fa-filter"></i> فلتر </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9  col-sm-12">
                  <div>
                    <span class="" style="float: left;">
                        <button ng-click="downloadtransactionreportar()">تنزيل بتنسيق PDF</button>
                       </span>
                  </div>
                 
                    <div class="panel panel-default">
                       <div id="printtransactionreportar">
                      <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير المعاملات  </h3>
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td class="text-center"><strong>رقم  </strong></td>
                                <td class="text-center"><strong>تتاريخ المعاملة  </strong></td>
                                <td class="text-center"><strong>رقم المعاملة </strong></td>
                                <td class="text-center"><strong>وضع المعاملات  </strong></td>
                                <td class="text-center"><strong>كمية </strong></td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="transaction in transactionreport">
                                <td>{{$index+1+transactionreportPageVo.currentIndex}}</td>
                                <td class="text-right">{{transaction.lastUpdatedTime|date}}</td>
                                <td class="text-right">{{transaction.transactionId}}</td>
                               <td ng-if="transaction.transactionMode==21" class="text-right" >الدفع عند التسليم   </td>
                               <td ng-if="transaction.transactionMode==22" class="text-right" >الدفع الالكتروني  </td>
                                <td class="text-right">{{transaction.netAmount}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">Showing 1 to 1 of 1 (1 Pages)</div>
                  </div> -->
                        <div class="row">
                          <!--  <div class="col-md-6 text-left" style="
    margin-top:  25px;
">Showing {{$index+1+transactionreportPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)
                  </div> -->
                          <div class="col-md-6 text-left ">
                            <ul class="pagination">
                              <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="gettransactionreport($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                            </ul>
                          </div>
                          <!--   ####### -->
                          <div class="col-sm-6 text-right">عرض {{$index + 1 + transactionreportPageVo.currentIndex}} إلى {{finalcount}} من {{totalnumber}} ({{noPages}} صفحات )
                          </div>
                          <!-- ########## -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
  <!-- ARABIC -->
  <!-- page content -->
