<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>User Reports </h3>
        </div>
      
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Choose the Report Type</h3>
          </div>
          <div class="panel-body">
            <div class="well">
              <div class="input-group">
                <select name="report" class="form-control" ng-model="customerOrderReport" ng-change="viewcustomerorders(customerOrderReport)">
                  <!-- <option>Customer Activity Report</option> -->
                  <option value=""> - Select Any One - </option>
                  <option value="1">Customer Orders Report</option>
                  <option value="2">Customer Paid Amount Report</option>
                  <!-- <option >Customer Reward Points Report</option> -->
                </select>
                <span class="input-group-addon"><i class="fa fa-eye text-green "></i> View</span></div>
            </div>
          </div>
        </div>
        <div>
          <div ng-if="customerOrderReport==1">
            <div class="row">
              <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                  </div>
                  <div class="panel-body">
             
                    <div class="form-group">
                      <label>Status</label>
                      <select class="form-control" ng-model="filteruserorder.status">
                        <option value="1">Ordered</option>
                        <option value="2">Confirmed</option>
                        <option value="3">Rejected</option>
                        <option value="4">Delivered</option>
                        <option value="6">Picked</option>
                        <option value="3">Rejected</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-start">Date Start</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="input-date-end">Date End</label>
                      <div class="input-group date">
                        <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                    </div>
                    <div class="form-group text-right">
                      <button type="button" id="button-filter" class="btn btn-default" ng-click="filteruserorderreports(filteruserorder)"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div>
                  <span class="pull-right">
                        <button ng-click="downloadCustomerOrderreport()">Download as Pdf</button>
                       </span>
                </div>
                <div id="downloadCustOrderRpt">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Customer Order Report</h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left">Sl.No</td>
                              <td class="text-center">Customer Name</td>
                              <td class="text-center">E-Mail</td>
                               <td class="text-center">Order Date</td>
                              <td class="text-center">Status</td>
                              <td class="text-center">Order ID</td>
                              <td class="text-center">No.of Items</td>
                              <td class="text-center">Total</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in customerorders">
                              <!-- <td></td> -->
                              <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                              <td>{{order.customerName}}</td>
                              <td>{{order.emailId}}</td>
                             <td>{{order.lastUpdatedTime| date}}</td>
                              <td data-ng-if="order.orderstatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-warning label-lg ng-scope">ORDERED</span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==2">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-info label-lg ng-scope">CONFIRMED</span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==3">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==4">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-success label-lg ng-scope">DELIVERED</span>
                                </div>
                              </td>
                              <td><a href="" ng-click="vieworderdetails(order)"> {{order.orderId}}</a></td>
                              <td>{{order.numberOfItems}}</td>
                              <td>{{order.netPrice | number:2}} SAR</td>
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No results!</td>
                            </tr>
                          </tbody>
                        </table>
                        <ul class="pagination">
                          <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--  ############ -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   CUSTOMER PAID REPORT -->
        <div ng-if="customerOrderReport==2">
          <div class="row">
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input class="form-control  " placeholder="Search By Name, Mobile Number, e-mail ID..." type="text" data-ng-model="find.customerName" ng-change="findcustomerwithcustomerName(find.customerName)" />
                  <span class="input-group-btn ">
                        <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                      </span>
                </div>
              </div>
            </div>
            <div class="col-md-11 col-sm-12">
              <div>
                  <span class="pull-right">
                        <button ng-click="downloadcustomerpaidamountreport()">Download as Pdf</button>
                       </span>
                </div>
                <div id="exportthisfield">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Customer Paid Amount Report</h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td class="text-center">Sl.No</td>
                          <td class="text-center">Customer Name</td>
                          <td class="text-center">E-Mail</td>
                          <td class="text-center">Phone Number</td>
                          <td class="text-center">Status</td>
                          <td class="text-center">Total Pay (SAR)</td>
                          <!-- <td class="text-right">Action</td>
 -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="customer in completecustomers">
                          <!-- <td></td> -->
                          <td>{{$index+1+customerPageVo.currentIndex}}.</td>
                          <td>{{customer.customerName}}</td>
                          <td>{{customer.emailId}}</td>
                          <td>{{customer.phoneNo}}</td>
                          <td data-ng-if="customer.status==1">
                            <div class="tools action-buttons" style="display: block;">
                              <span class="label label-success label-lg ng-scope">Active</span>
                            </div>
                          </td>
                          <td data-ng-if="customer.status==0">
                            <div class="tools action-buttons" style="display: block;">
                              <span class="label label-warning label-lg ng-scope">Deactive</span>
                            </div>
                          </td>
                          <!--   <td a href="" ng-click="vieworderdetails(order)"> {{order.orderId}}</td> -->
                          <td>{{customer.totalPay | number:2}}</td>
                          <!-- <td class="text-center" colspan="6">No results!</td> -->
                        </tr>
                        <tr ng-if="nodata==1">
                    <td colspan="7" class="text-center"> <strong><h3>No Data Exist</h3></strong> </td>
                  </tr>
                     <!--    <tr ng-if="nodata==1">
                          <td class="text-center" colspan="7">No results!</td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                  <ul class="pagination">
                    <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getcompletecustomers($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                    </li>
                  </ul>
                  <!-- <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">Showing 0 to 0 of 0 (0 Pages)</div>
                  </div> -->
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  <div class="clearfix"></div> -->
    <!--  <div class="clearfix"></div> -->
    <!-- /form input knob -->
  </div>
</div>
<!-- /page content -->
<!-- <div class="clearfix"></div> -->
</div>
<!-- page content -->
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3>تقارير المستخدم </h3>
          </div>
          <!-- <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input class="form-control  " placeholder="Search..." type="text" data-ng-model="categorySearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
            </div>
          </div>
        </div> -->
        </div>
        <div class="clearfix"></div>
        <div class="container-fluid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-bar-chart"></i> اختر نوع التقرير  </h3>
            </div>
            <div class="panel-body">
              <div class="well">
                <div class="input-group">
                  <select name="report" class="form-control" ng-model="customerOrderReport" ng-change="viewcustomerorders(customerOrderReport)">
                    <!-- <option>Customer Activity Report</option> -->
                    <option value=""> - اختر أي واحد - </option>
                    <option value="1">تقرير طلبات العملاء</option>
                    <option value="2">تقرير المبلغ المدفوع للعميل</option>
                    <!-- <option >Customer Reward Points Report</option> -->
                  </select>
                  <span class="input-group-addon"><i class="fa fa-eye text-green "></i> شاهد </span></div>
              </div>
            </div>
          </div>
          <div>
            <div ng-if="customerOrderReport==1">
              <div class="row">
               
                <div id="filter-report" class="col-md-3  col-sm-12 hidden-sm hidden-xs">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-filter"></i> ترشح </h3>
                    </div>
                    <div class="panel-body">
                      <!-- <div class="form-group">
                        <label class="control-label"> زبون </label>
                        <select class="form-control" ng-model="filteruserorder.customerId" ng-options="customer.userId as customer.customerName for customer in customers">
                        </select>
                      </div> -->
                      <div class="form-group">
                        <label>حالة </label>
                        <select class="form-control" ng-model="filteruserorder.status">
                          <option value="1">طلب </option>
                          <option value="2">تم تأكيد </option>
                          <option value="3">مرفوض </option>
                          <option value="4">تم التوصيل </option>
                          <option value="6">التقطت </option>
                          <option value="3">مرفوض </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="input-date-start">تاريخ البدء </label>
                        <div class="input-group date">
                          <input type="date" name="filter_date_start" ng-model="filteruserorder.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                          <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                        <div class="input-group date">
                          <input type="date" name="filter_date_end" ng-model="filteruserorder.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                          <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                      </div>
                      <div class="form-group text-right">
                        <button type="button" id="button-filter" class="btn btn-default" ng-click="filteruserorderreports(filteruserorder)"><i class="fa fa-filter"></i> فلتر </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9  col-sm-12">
                   <div>
                  <span class="" style="float: left;">
                        <button ng-click="export()">تنزيل بتنسيق PDF</button>
                       </span>
                </div>
                <div id="exportthis">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير طلب العميل </h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-left"><strong>رقم  </strong></td>
                              <td class="text-left"><strong>اسم الزبون  </strong></td>
                              <td class="text-left"><strong>البريد الإلكتروني  </strong></td>
                              <td class="text-left"><strong>حالة </strong></td>
                              <td class="text-left"><strong>رقم الأمر  </strong></td>
                              <td class="text-center"><strong>عدد العناصر  </strong></td>
                              <td class="text-right">م<strong>جموع  </strong></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="order in customerorders">
                              <!-- <td></td> -->
                              <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                              <td>{{order.customerName}}</td>
                             <td>{{order.emailId}}</td> 
                              <td data-ng-if="order.orderstatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-warning label-lg ng-scope">أمر  </span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==2">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-info label-lg ng-scope">تم تأكيد  </span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==3">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-danger label-lg ng-scope">مرفوض    </span>
                                </div>
                              </td>
                              <td data-ng-if="order.orderstatus==4">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-success label-lg ng-scope">تم التوصيل  </span>
                                </div>
                              </td>
                              <td><a href="" ng-click="vieworderdetails(order)"> {{order.orderId}}</a></td>
                              <td>{{order.numberOfItems}}</td>
                              <td>ر.س.‏ {{order.netPrice}}</td>
                            </tr>
                            <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <ul class="pagination">
                        <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!--   CUSTOMER PAID REPORT -->
            <div ng-if="customerOrderReport==2">
              <div class="row">
               <!--  <div class="title_right">
                  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input class="form-control  " placeholder="Search By Name, Mobile Number, e-mail ID..." type="text" data-ng-model="find.customerName" ng-change="findcustomerwithcustomerName(find.customerName)" />
                      <span class="input-group-btn ">
                        <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                </div> -->
                 <div class="title_left">
                  <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                    <div class="input-group">
                      <input class="form-control  " placeholder="بحث..." type="text" data-ng-model="find.customerName" ng-change="findcustomerwithcustomerName(find.customerName)" style="
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 0 25px 25px 0;
    padding-right: 20px;
    border: 1px solid rgba(221,226,232,.49);
    height: 37px;
  
" />
                      <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat" style="    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 2px;
    margin-bottom: 0px;
"><i class="fa fa-search"></i></button>
                            </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div>
                  <span class="" style="float: left;">
                        <button ng-click="downloadcustomerpaidamountreportar()">تنزيل بتنسيق PDF</button>
                       </span>
                </div>
                <div id="exporttoprint">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart"></i> تقرير عن مبلغ العميل المدفوع </h3>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td class="text-center"><strong>رقم </strong></td>
                              <td class="text-center">ا<strong>سم الزبون </strong></td>
                              <td class="text-center">ا<strong>لبريد الإلكتروني  </strong></td>
                              <td class="text-center"><strong>رقم الهاتف  </strong></td>
                              <td class="text-center"><strong>حالة </strong></td>
                              <td class="text-center"><strong>الراتب الاجمالي  </strong></td>
                              <!-- <td class="text-right">Action</td>
 -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="customer in completecustomers">
                              <!-- <td></td> -->
                              <td class="text-center">{{$index+1+orderPageVo.currentIndex}}</td>
                              <td class="text-center">{{customer.customerName}}</td>
                              <td class="text-center">{{customer.emailId}}</td>
                              <td class="text-center">{{customer.phoneNo}}</td>
                              <td class="text-center" data-ng-if="customer.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-success label-lg ng-scope">نشط </span>
                                </div>
                              </td>
                              <td class="text-center" data-ng-if="customer.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                  <span class="label label-warning label-lg ng-scope">غير نشطه</span>
                                </div>
                              </td>
                              <!--   <td a href="" ng-click="vieworderdetails(order)"> {{order.orderId}}</td> -->
                              <td class="text-center">{{customer.totalPay}}</td>
                              <!-- <td class="text-center" colspan="6">No results!</td> -->
                            </tr>
                             <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr>
                           <!--  <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                      <ul class="pagination">
                        <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getcompletecustomers($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                        </li>
                      </ul>
                      <!-- <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">Showing 0 to 0 of 0 (0 Pages)</div>
                  </div> -->
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  <div class="clearfix"></div> -->
        <!--  <div class="clearfix"></div> -->
        <!-- /form input knob -->
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
<!-- ARABIC -->
<!-- page content -->
<div class="clearfix"></div>
