
                <h3>Edit seller</h3>
                <div class="row">
                    <div class="col-lg-3 pull-right">
                        <a href="#/admin/seller" class="btn btn-block btn-primary " role="button">Back to sellers</a>
                    </div>

                </div>

                <div class="row">

                    
                        <div class="panel">
                            <div class="panel-heading">
                                <!--	<h2 class="panel-title "><b>Add Item Type </b></h2>-->
                            </div>
                            <form role="form" name="addsellerForm" data-ng-submit="addseller ()">
                                <div class="panel-body">
                                    <div class="col-lg-3">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.sellerName.$invalid &amp;&amp; !addsellerForm.sellerName.$pristine}">
                                            <label for="sellerName">seller Name</label> <input class="form-control" data-ng-model="seller.sellerName" name="sellerName" id="sellerName" placeholder="Enter sellerName" type="text" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.sellerNamear.$invalid &amp;&amp; !addsellerForm.sellerNamear.$pristine}">
                                            <label for="sellerNamear">&nbsp;&nbsp;&nbsp;&nbsp;  اسم المحل</label> <input class="form-control" data-ng-model="seller.sellerNamear" name="sellerNamear" id="sellerNamear" placeholder="اسم المحل" type="text" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.address.$invalid &amp;&amp; !addsellerForm.address.$pristine}">
                                            <label for="address">seller Address &nbsp;&nbsp;&nbsp;&nbsp; عنوان المحل </label>
                                            <textarea class="form-control" data-ng-model="seller.address" name="address" id="address" placeholder="seller Address" required="required" rows="3"></textarea>

                                        </div>
                                         <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.addressar.$invalid &amp;&amp; !addsellerForm.addressar.$pristine}">
                                            <label for="addressar"> عنوان المحل </label>
                                            <textarea class="form-control" data-ng-model="seller.addressar" name="addressar" id="addressar" placeholder="عنوان المحل" required="required" rows="3"></textarea>

                                        </div>
                                        
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.city.$invalid &amp;&amp; !addsellerForm.city.$pristine}">
                                            <label for="city">City </label> <input class="form-control" data-ng-model="seller.city" name="city" id="city" placeholder="Enter city" type="text" required="required" />
                                        </div>
                                        
                                        </div>
                                    <div class="col-lg-3">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.cityar.$invalid &amp;&amp; !addsellerForm.cityar.$pristine}">
                                            <label for="cityar">مدينة</label> <input class="form-control" data-ng-model="seller.cityar" name="cityar" id="cityar" placeholder="مدينة" type="text" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.country.$invalid &amp;&amp; !addsellerForm.country.$pristine}">
                                            <label for="country">Country </label> <input class="form-control" data-ng-model="seller.country" name="country" id="country" placeholder="Enter country" type="text" required="required" />
                                        </div>
                                        
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.countryar.$invalid &amp;&amp; !addsellerForm.countryar.$pristine}">
                                            <label for="countryar">الدولة</label> <input class="form-control" data-ng-model="seller.countryar" name="countryar" id="countryar" placeholder="الدولة" type="text" required="required" />
                                        </div>
                                        
                                    
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.contactperson.$invalid &amp;&amp; !addsellerForm.contactperson.$pristine}">
                                            <label for="contactperson">Contact Person </label> <input class="form-control" data-ng-model="seller.contactperson" name="contactperson" id="contactperson" placeholder="Enter Contact Person Name" type="text" required="required" />
                                        </div>
                                        
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.contactpersonar.$invalid &amp;&amp; !addsellerForm.contactpersonar.$pristine}">
                                            <label for="contactpersonar">الشخص الذي يمكن الاتصال به</label> <input class="form-control" data-ng-model="seller.contactpersonar" name="contactpersonar" id="contactpersonar" placeholder="الشخص الذي يمكن الاتصال به" type="text" required="required" />
                                        </div>
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.mobileNumber.$invalid &amp;&amp; !addsellerForm.mobileNumber.$pristine}">
                                            <label for="mobileNumber">Mobile Number  &nbsp;&nbsp;&nbsp;&nbsp;  رقم الجوال</label> <input class="form-control" data-ng-model="seller.mobileNumber" name="mobileNumber" id="mobileNumber" placeholder="Enter MobileNumber" type="number"min="0" max="9" required="required" />
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.telephoneNumber.$invalid &amp;&amp; !addsellerForm.telephoneNumber.$pristine}">
                                            <label for="telephoneNumber">Telephone Number &nbsp;&nbsp;&nbsp;&nbsp;رقم هاتف</label> <input class="form-control" data-ng-model="seller.telephoneNumber" name="telephoneNumber" id="telephoneNumber" placeholder="Enter TelephoneNumber" type="number" required="required" />
                                        </div>
                                        
                                        
                                        <div class="form-group" data-ng-class="{ 'has-error' : addsellerForm.emailid.$invalid &amp;&amp; !addsellerForm.emailid.$pristine}">
                                            <label for="emailid">Email Id &nbsp;&nbsp;&nbsp;&nbsp; البريد الإلكتروني</label> <input class="form-control" data-ng-model="seller.emailid" name="emailid" id="emailid" placeholder="Enter Email Id" type="email" required="required" />
                                        </div>
                                        
								<div class="input-group">
									<input class="form-control"
										data-ng-map-autocomplete="ng-map-autocomplete"
										data-ng-model="autocomplete" data-options="options"
										data-details="details" name="locationSearch"
										id="locationSearch" placeholder="Enter location name"
										type="text" /> <span class="input-group-btn">
										<button class="btn btn-info btn-flat"
											data-ng-click="dataChanged(1)" type="button">Fetch!</button>
									</span>
								</div>
							
							<div class="row" data-ng-if="wrongPlace">
								<p class="text-red">Select an accurate place</p>
							</div>
                                  <div class="form-group"
									data-ng-class="{ 'has-error' : addsellerForm.latitude.$invalid &amp;&amp; !addsellerForm.latitude.$pristine}">
									<label for="latitude">Latitude </label> <input
										class="form-control"
										data-ng-model="seller.location.latitude"
										name="latitude" id="latitude" placeholder="Enter latitude"
										type="text" required="required" readonly="readonly" /> <span
										data-ng-show="addsellerForm.latitude.$invalid &amp;&amp; !addsellerForm.latitude.$pristine"
										class="help-block">Latitude is mandatory.</span>
								</div>  
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : addsellerForm.longitude.$invalid &amp;&amp; !addsellerForm.longitude.$pristine}">
									<label for="longitude">Longitude </label> <input
										class="form-control"
										data-ng-model="seller.location.longitude"
										name="longitude" id="longitude" placeholder="Enter longitude"
										type="text" required="required" readonly="readonly" /> <span
										data-ng-show="addsellerForm.longitude.$invalid &amp;&amp; !addsellerForm.longitude.$pristine"
										class="help-block">Longitude is mandatory.</span>
								</div>
                                        
							</div>
							
                                        
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : addsellerForm.status.$invalid &amp;&amp; !addsellerForm.status.$pristine}">
									<label for="status">seller Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="status" ng-model="seller.status">Active</label>
                                        <label class="radio-inline"><input type="radio" name="status"ng-model="seller.status">Discontinued</label>
                                        
                                       
								</div>
                                        <div class="form-group">
                                            <label for="sellerlogo">seller Logo  &nbsp;&nbsp;&nbsp;&nbsp; شعارالمحل</label> <input type="file" id="sellerlogo" name="sellerlogo" data-file-model="seller.sellerlogo" data-ng-model="seller.sellerlogo" /><br>

                                        </div>
                                        <div class="box-footer ">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>



                                    </div>




                                    
                                </div>
                        </div>
                        </form>
                    </div>
                        

