<div class="container">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success alert-dismissable fade in" ng-if="alertMessage.errorCode==0">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alertMessage.errorMessage}}
        </div>
        <div class="alert alert-danger alert-dismissable fade in" ng-if="alertMessage.errorCode<0">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alertMessage.errorMessage}}
        </div>
      </div>
    </div>
  </div>
  <form name="form" ng-submit="submitproductdata(form,productVo)" novalidate="">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">Product name</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" id="exampleInputEmail1" ng-model="productVo.productName" placeholder="Enter name" required>
              <!--  <span class="error" ng-show="form.input.$error.required">
        Required!
    </span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">Shop name</label>
            </div>
            <div class="col-md-9">
              <select ng-model="Shop" class="form-control" ng-change="getcategoyfromshopid(Shop)" ng-options="Shop as Shop.shopName for Shop in shopofuser" required></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">Category</label>
            </div>
            <div class="col-md-9">
              <select class="form-control" ng-model="productVo.categoryId" ng-change="getsubcategory(productVo.mainCateogoryId,productVo.categoryId)" ng-options="key as value for (key, value) in categories" required></select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">Subcategory</label>
            </div>
            <div class="col-md-9">
              <select class="form-control" ng-model="productVo.subcategoryId" ng-options="subcat.subcategoryId as subcat.subcategoryName for subcat in subcategories" required></select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">Discription</label>
            </div>
            <div class="col-md-9">
              <textarea class="form-control" id="exampleInputEmail1" ng-model="productVo.discription" placeholder="Discribe your product here" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label for="exampleInputEmail1">price</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="productVo.price" placeholder="xx.xx" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
     <!--  <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Upload Image</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="file" accept="image/*" ngf-max-size="5MB" ng-model="file" name="file" multiple="multiple" ngf-select="upload($file,1)">
              <div class="list col-md-2" ng-if="tag.modeType == 5 && productVo.featureOrPhotos" ng-repeat="tag in productVo.featureOrPhotos">
                <img ng-src="{{tag.data}}" width="50" height="50"><a href="" ng-click="prouductfeatureremove(tag,5)">X</a></div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>
                <h4>Features</h4></label>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="feature" ng-model="checkListItem" placeholder="Add Item...">
            </div>
            <div class="col-md-2">
              <button type="button" ng-click="prouductfeatureadd(checkListItem,6)" class="btn btn-info">Add</button>
            </div>
            <br>
            <br>
            <div class="col-md-3">
              <div class="list" ng-repeat="tag in productVo.featureOrPhotos">
                <br>
                <span class="list-border" ng-if="tag.modeType == 6">{{tag.data}}
                                <a  href="" ng-click="prouductfeatureremove(tag,7)">X</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row well">
          <div class="form-group">
            <div class="col-md-3">
              <label>Upload image</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="file" ng-model="file" name="file" multiple ngf-select="upload($file,1)">
              <div class="progressbar">
                <div style="width:{{progressPercentage}}%; height:11px; background: #79a747"></div>
              </div>
              <div class="row">
                <div class="list col-md-2" ng-if="tag.modeType == 5 && productVo.featureOrPhotos" ng-repeat="tag in productVo.featureOrPhotos">
                  <div class="image-upload" style="background-image: url({{fileupConstant}}/{{tag.data}})">
                    <a class="close-btn-upload" href="" ng-click="prouductfeatureremove(tag,5)">X</a>
                  </div>
                </div>
              </div>
              <!-- <img ng-src="{{tag.data}}" width="50" height="50"><a href="" ng-click="shopfeatureremove(tag,5)">X</a>{{progressPercentage}}
              <span ng-if="filecmplt">{{progressPercentage}} FILE UPLOADED</span>
              <span ng-if="!filecmplt">{{progressPercentage}} FILE NOT UPLOADED</span>
              <span ng-if="filenotUplaod">{{progressPercentage}} FILE CAN'T UPLOADED</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-1">
        <div class="form-group">
          <!-- <input type="submit" class="btn btn-info" value="Submit"> -->
          <button type="submit" class="form-control btn btn-info" ng-disabled="form.$invalid">Submit</button>
          <!-- <button type="submit ">submit</button> -->
        </div>
      </div>
    </div>
  </form>
</div>
