<div class="container">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success alert-dismissable fade in" ng-if="alertMessage.errorCode==0">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alertMessage.errorMessage}}
        </div>
        <div class="alert alert-danger alert-dismissable fade in" ng-if="alertMessage.errorCode==4">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{alertMessage.errorMessage}}
        </div>
      </div>
    </div>
  </div>
  <form name="form" ng-submit="" novalidate="">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Shop name</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="shopname" ng-model="shopVo.shopName" placeholder="Enter shop name" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Phone no</label>
            </div>
            <div class="col-md-9">
              <input type="text" name="" class="form-control" ng-model="shopVo.phoneNo" placeholder="Enter phone no" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Address</label>
            </div>
            <div class="col-md-9">
              <textarea placeholder="Enter address" class="form-control" ng-model="shopVo.address" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Description</label>
            </div>
            <div class="col-md-9">
              <textarea placeholder="Describe your shop" class="form-control" ng-model="shopVo.description" required></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>webAddress</label>
            </div>
            <div class="col-md-9">
              <input type="text" name="" class="form-control" ng-model="shopVo.webAddress" placeholder="Enter webAddress" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Email</label>
            </div>
            <div class="col-md-9">
              <input type="text" name="" class="form-control" ng-model="shopVo.emailId" placeholder="Enter email" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Working hours</label>
            </div>
            <div class="col-md-9">
              <input type="number" class="form-control" string-to-number ng-model="shopVo.workingHours" placeholder="Enter Working hours" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>Shop type</label>
            </div>
            <div class="col-md-9">
              <select class="form-control" ng-model="shopVo.shopType" ng-change="getcategory(shopVo.shopType)" ng-options="cat.maincategoryId as cat.mainCategoryName for cat in maincategories" required>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3">
              <label>
                <h4>Categories</h4></label>
            </div>
            <div class="form-group form-group-multiple-selects col-xs-11 col-sm-8 col-md-9">
              <div class="input-group input-group-multiple-select col-xs-12">
                <select ng-model="category" ng-change="shopfeatureadd(category,7)" class="form-control" ng-options="cat as cat.categoryName for cat in categories" required>
                </select>
                <span class="input-group-addon input-group-addon-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                </span>
              </div>
              <!--  <div class="col-md-4"> -->
              <div ng-repeat="tag in shopVo.featureOrPhotos">
                <br>
                <span class="list-border" ng-if="tag.modeType==7">{{tag.extraData}} <a class="featur-tag" href="" ng-click="shopfeatureremove(tag,7)">X</a></span>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <div class="col-md-4">
              <label>Home delivary available</label>
            </div>
            <div class="col-md-1">
              <input type="checkbox" ng-model="shopVo.delivaryStatus" checked="true">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row well">
          <div class="form-group">
            <div class="col-md-3">
              <label>Upload image</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="file" ng-model="file" name="file" multiple ngf-select="upload($file,2)">
              <div class="progressbar">
                <div style="width:{{progressPercentage}}%; height:11px; background: #79a747"></div>
              </div>
              <div class="row">
                <div class="list col-md-2 col-lg-2 col-sm-4 col-xs-4" ng-if="tag.modeType == 5 && shopVo.featureOrPhotos" ng-repeat="tag in shopVo.featureOrPhotos">
              
                  <div class="image-upload" style="background-image: url({{fileupConstant}}/{{tag.data}})">
                    <a class="close-btn-upload" href="" ng-click="shopfeatureremove(tag,5)">X</a>
                  </div>
                </div>
              </div>
              <!-- <img ng-src="{{tag.data}}" width="50" height="50"><a href="" ng-click="shopfeatureremove(tag,5)">X</a>{{progressPercentage}}
              <span ng-if="filecmplt">{{progressPercentage}} FILE UPLOADED</span>
              <span ng-if="!filecmplt">{{progressPercentage}} FILE NOT UPLOADED</span>
              <span ng-if="filenotUplaod">{{progressPercentage}} FILE CAN'T UPLOADED</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-1">
    <button class="form-control" ng-click="submitshopdata(form,shopVo)" ng-disabled="form.$invalid">submit</button>
  </div>
</div>
</form>
</div>
