
<h3>Deactivated Categories</h3>

<div class="row">
    <div class="col-lg-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div class="row">
                    <div class="col-lg-2">


                        <a href="#/admin/addcategory/0" class="btn btn-block btn-success"
                            role="button">Add Category</a>
                    </div>
                    <div class="col-lg-2 pull-right">
                        <div class="input-group">
                            <input class="form-control  " placeholder="Search..." type="text"
                                data-ng-model="categorySearch" /> <span
                                class="input-group-btn ">
                                <button type="button" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-responsive table-striped">


                        <tr>
                            <th>#</th>
                            <th>Category Name</th>
                            <th>Category Status</th>

                            <th>Menu Color</th>
                            <th>Can Deliver</th>
                            <th>Actions</th>
                        </tr>

                        <tr ng-repeat="category in categories | filter : {'status' : '0'} | filter:categorySearch" >

                            <td>{{$index+1}}.</td>
                            <td>{{category.categoryName}}</td>
                            <td data-ng-if="category.status==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Discontinued</span>
                                </div>

                            </td>
                            <td data-ng-if="category.status==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Active</span>
                                </div>
                            </td>

                            <td>
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-mylabel label-lg ng-scope"
                                        style="background-color: {{category.color}}">Color</span>
                                </div>
                            </td>


                            <td data-ng-if="category.delivaryStatus==0">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-danger label-lg ng-scope">Pickup
                                        from the Store</span>
                                </div>

                            </td>
                            <td data-ng-if="category.delivaryStatus==1">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Delivery Available</span>
                                </div>
                            </td>

                            <th>
                                <!-- <a data-ng-click="showActivateCategory(category)"><i class="fa fa-check text-green"></i></a><a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; -->
                                <a ng-click="categorymanage(category)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Edit</span>
                                <!-- <i class="fa fa-pencil text-aqua"></i> --></a>
                            <!-- <a ng-click="showDiscontinueCategory(category)"><i class="fa fa-trash-o text-aqua"></i></a> -->
                            </th>



                        </tr>

                    </table>
                </div>
            </div>
            <!-- END TABLE STRIPED -->
        </div>
    </div>

    <!-- END WRAPPER -->

    <div class="modal fade modal-success" id="activateCategoryModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Activate Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" name="categoryId"
                                data-ng-modal="activateCategory.categoryId" /> Are you sure to
                            Activate Category?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                        data-dismiss="modal">Close</button>
                    <button type="submit" data-ng-click="activateCategorySubmit()"
                        class="btn btn-outline">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-danger" id="changeCategorystatusModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Change Status</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" name="status"
                                data-ng-modal="category.status" /> Are you sure to Change
                            Status?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                        data-dismiss="modal">Close</button>
                    <button type="submit" data-ng-click="changeStatus(category)"
                        class="btn btn-outline">Confirm</button>
                </div>
            </div>
        </div>
    </div>