<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>View Category </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Category Informations <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName">Category Name En <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="category.categoryName" id="categoryName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">Description En <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea type="text" data-ng-model="category.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">Commision <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Category Status <span class="required"></span>
                  </label>
                  <div ng-if="category.status==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="category.status==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>
                <h2>Images</h2>
                <hr>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6" ng-model="category.imageName">
                      <div class="img-wraps">
                        {{category.imageName}}
                        <img style="min-width:100%" ng-src="{{imageUrl}}{{category.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& category.imageName">
                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-footer">
                      <a href="#/admin/category" button type="submit" class="btn btn-primary">Close</button></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

  <!-- /page content -->
  <div ng-if="langval==0">
    <div dir="rtl">
      <div class="rightarab_col" role="main" style="min-height: 980px;">
        <div class="">
          <div class="page-title">
            <div class="title_right pull-right">
              
                <h3> فئة المشاهدة </h3>           
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2 class="pull-right">فئة المعلومات <small><!-- different form elements --></small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br>
                  <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <!-- <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="category.categoryName" id="categoryName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryName">اسم الفئه باللغة الإنجليزية <span class="required">*</span>
                      </label>
                    </div> -->
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="text" data-ng-model="category.categoryNameAr" id="categoryNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryNameAr">اسم الفئه بالعربية <span class="required">*</span>
                      </label>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <textarea type="text" data-ng-model="category.discription" id="discription" required="required" class="form-control col-md-7 col-xs-12" required="required" rows="6"></textarea>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discription">وصف التصنيف باللغة الإنجليزية <span class="required">*</span>
                      </label>
                    </div> -->
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <textarea type="text" data-ng-model="category.discriptionAr" id="discriptionAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" rows="6"></textarea>
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discriptionAr">وصف التصنيف بالعربية <span class="required">*</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <input type="number" data-ng-model="category.commision" id="commision" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                      </div>
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="commision">العمولات <span class="required">*</span>
                      </label>
                    </div>
                    <div class="form-group">
                       <div ng-if="category.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
                    <input type="text" value="غير نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="category.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value=" نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة الفئه <span class="required"></span>
                  </label>
                 
                </div>
                <h2>صور</h2>
                <hr>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-model="category.imageName">
                      <div class="img-wraps">
                        {{category.imageName}}
                        <img style="min-width:100%" ng-src="{{imageUrl}}{{category.imageName}}" class="img-thumbnail" ng-if="!isFileuploadStart&& category.imageName">
                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="isFileuploadStart" isFileuploadStart>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                   
                    <div class="row">
                      <div class="col-md-12">
                        <div class="box-footer">
                         <a href="#/admin/category" button type="submit" class="btn btn-primary">أغلق  </button></a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
