<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Return Orders  </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- /form input knob -->
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <!-- new code -->
              <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" ng-click="getallproductreturns(1)" data-target="#home">New Returns</a></li>
                  <li><a data-toggle="tab" ng-click="getallconfirmedreturns(1)" data-target="#Confirmed">Accepted Returns</a></li>
                  <li><a data-toggle="tab" ng-click="getallrejectedreturns(1)" data-target="#Rejected">Rejected Returns</a></li>
                  <li><a data-toggle="tab" ng-click="getallcompletedreturns(1)" data-target="#Delivered">Completed Returns</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                    <div class="panel-body">
                      <!--  <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                      <!-- table start -->
                      <div class="col-md-11 ">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> New Returns List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer Name</td>
                                    <td class="text-center">Phone Number</td>
                                    <td class="text-center"> Requested Date </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr data-ng-repeat="return in allreturnorders">
                                    <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{return.orderId}}</td>
                                    <td class="text-center">{{return.customerName}}</td>
                                    <td class="text-center">{{return.phoneNo}}</td>
                                     <td class="text-center">{{return.lastUpdatedTime | date}}</td>
                                    <td data-ng-if="return.status==10">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="return.status==11">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="return.status==12">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="return.status==13">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                      </div>
                                    </td>
                                   
                                    <th>
                                      <a ng-click="confirmedreturnorder(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Confirm</span>
                               </a>
                                      <a ng-click="viewreturnorderdetailsbyseller(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                                      <!-- <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a> -->
                                      <a ng-click="RejectReturn(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span>
                                
                                  </th>
                                 
                                </tr>
                                <tr ng-if="noorderstoship==1">
                                  <td colspan="8" class="text-center"> <strong><h3>There Is No New Return Requests</h3></strong> </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallproductreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                      </li>
                                      </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                    <!-- <h3>Menu 1</h3> -->
                    <div class="panel-body">
                      <div class="col-lg-3 pull-right ">
                        <div class="input-group">
                          <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                          <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                        </div>
                      </div>
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Accepted Return List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer Name</td>
                                    <td class="text-center">Phone Number</td>
                                    <td class="text-center"> Requested Date </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr data-ng-repeat="returnconf in allacceptedreturs">
                                    <td>{{$index+1+orderreturnconfirmPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{returnconf.orderId}}</td>
                                    <td class="text-center">{{returnconf.customerName}}</td>
                                    <td class="text-center">{{returnconf.phoneNo}}</td>
                                    <td data-ng-if="returnconf.status==10">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnconf.status==11">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnconf.status==12">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnconf.status==13">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{returnconf.lastUpdatedTime | date}}</td>
                                    <th>
                                      <a ng-click="viewreturnorderdetailsbyseller(returnconf)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                            <a ng-click="returedtheorder(returnconf)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Returned</span>
                           </a>
                                      <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                      <!--  <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a> -->
                                      <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                    </th>
                                  </tr>
                                  <tr ng-if="noallacceptedreturs==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Accepted Requests</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Rejected" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                      <div class="col-lg-3 pull-right ">
                        <!-- <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div> -->
                      </div>
                      <!-- table start -->
                      <div class="col-md-11 ">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Rejected Return List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer Name</td>
                                    <td class="text-center">Phone Number</td>
                                    <td class="text-center"> Requested Date </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr data-ng-repeat="returnrej in allrejectedreturs">
                                    <td>{{$index+1+orderreturnrejectedPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{returnrej.orderId}}</td>
                                    <td class="text-center">{{returnrej.customerName}}</td>
                                    <td class="text-center">{{returnrej.phoneNo}}</td>
                                    <td data-ng-if="returnrej.status==10">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnrej.status==11">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnrej.status==12">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returnrej.status==13">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{returnrej.lastUpdatedTime | date}}</td>
                                    <th>
                                      <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                      <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                                      <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                    </th>
                                  </tr>
                                  <tr ng-if="noallallrejectedreturs==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Rejected Requests</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallrejectedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Delivered" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                      <div class="col-lg-3 pull-right ">
                        <!-- <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div> -->
                      </div>
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Completed Return List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer Name</td>
                                    <td class="text-center">Phone Number</td>
                                    <td class="text-center"> Requested Date </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr data-ng-repeat="returncomp in allcompletedreturs">
                                    <td>{{$index+1+orderreturncompletedPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{returncomp.orderId}}</td>
                                    <td class="text-center">{{returncomp.customerName}}</td>
                                    <td class="text-center">{{returncomp.phoneNo}}</td>
                                    <td data-ng-if="returncomp.status==10">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returncomp.status==11">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returncomp.status==12">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="returncomp.status==15">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">RETURNED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{returncomp.lastUpdatedTime | date}}</td>
                                    <th>
                                      <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                      <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                                      <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                    </th>
                                  </tr>
                                  <tr ng-if="noallcompletedreturs==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Completed Requests</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallcompletedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
      </div>
      <!-- /form input knob -->
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3>أوامر العودة  </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <!-- new code -->
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="active pull-right"><a data-toggle="tab" ng-click="getallproductreturns(1)" data-target="#home">عوائد جديدة  </a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallconfirmedreturns(1)" data-target="#Confirmed">قبول المقبولة  </a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallrejectedreturns(1)" data-target="#Rejected">إرجاع مرفوض   </a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallcompletedreturns(1)" data-target="#Delivered">العودة المكتملة  </a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      <!--  <h3>HOME</h3> -->
                      <div class="panel-body">
                        <!--  <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> قائمة إرجاع جديدة </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                    <tr>
                                      <td class="text-center"> رقم  </td>
                                      <td class="text-center">رقم الأمر  </td>
                                      <td class="text-center"> اسم الزبون  </td>
                                      <td class="text-center">رقم الهاتف  </td>
                                      <td class="text-center">التاريخ المطلوب </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center">الاجراءت</td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr data-ng-repeat="return in allreturnorders">
                                      <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{return.orderId}}</td>
                                      <td class="text-center">{{return.customerName}}</td>
                                      <td class="text-center">{{return.phoneNo}}</td>
                                      <td data-ng-if="return.status==10">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">طلب  </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="return.status==11">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="return.status==12">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="return.status==13">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{return.lastUpdatedTime | date}}</td>
                                      <th>
                                        <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a>
                                        <a ng-click="viewreturnorderdetailsbyseller(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد  </span>
                           </a>
                                        <!-- <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a> -->
                                        <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">رفض   </span>
                                
                                  </th>
                                 
                                </tr>
                                <tr ng-if="noorderstoship==1">
                                  <td colspan="8" class="text-center"> <strong><h3>لا يوجد طلبات عودة جديدة  </h3></strong> </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallproductreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                        </li>
                                        </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Confirmed" class="tab-pane fade">
                      <!-- <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <div class="col-lg-3 pull-right ">
                          <div class="input-group">
                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                          </div>
                        </div>
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> عائدات</h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                   <!--  <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer Name</td>
                                      <td class="text-center">Phone Number</td>
                                      <td class="text-center"> Requested Date </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center">Actions</td>
                                    
                                    </tr> -->
                                     <tr>
                                      <td class="text-center"> رقم  </td>
                                      <td class="text-center">رقم الأمر  </td>
                                      <td class="text-center"> اسم الزبون  </td>
                                      <td class="text-center">رقم الهاتف  </td>
                                      <td class="text-center">التاريخ المطلوب </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center">الاجراءت</td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr data-ng-repeat="returnconf in allacceptedreturs">
                                      <td>{{$index+1+orderreturnconfirmPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{returnconf.orderId}}</td>
                                      <td class="text-center">{{returnconf.customerName}}</td>
                                      <td class="text-center">{{returnconf.phoneNo}}</td>
                                      <td data-ng-if="returnconf.status==10">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnconf.status==11">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">قبلت</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnconf.status==12">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnconf.status==13">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{returnconf.lastUpdatedTime | date}}</td>
                                      <th>
                                        <a ng-click="viewreturnorderdetailsbyseller(returnconf)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                                        <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                        <!--  <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a> -->
                                        <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                      </th>
                                    </tr>
                                    <tr ng-if="noallacceptedreturs==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا يوجد أي طلبات مقبولة</h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Rejected" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <div class="col-lg-3 pull-right ">
                          <!-- <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div> -->
                        </div>
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> عودة  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                   <!--  <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer Name</td>
                                      <td class="text-center">Phone Number</td>
                                      <td class="text-center"> Requested Date </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center">Actions</td>
                                     
                                    </tr> -->
                                     <tr>
                                      <td class="text-center"> رقم  </td>
                                      <td class="text-center">رقم الأمر  </td>
                                      <td class="text-center"> اسم الزبون  </td>
                                      <td class="text-center">رقم الهاتف  </td>
                                      <td class="text-center">التاريخ المطلوب </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center">الاجراءت</td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr data-ng-repeat="returnrej in allrejectedreturs">
                                      <td>{{$index+1+orderreturnrejectedPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{returnrej.orderId}}</td>
                                      <td class="text-center">{{returnrej.customerName}}</td>
                                      <td class="text-center">{{returnrej.phoneNo}}</td>
                                      <td data-ng-if="returnrej.status==10">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnrej.status==11">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnrej.status==12">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">مرفوض   </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returnrej.status==13">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">CANCELLED</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{returnrej.lastUpdatedTime | date}}</td>
                                      <th>
                                        <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                        <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد </span>
                           </a>
                                        <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                      </th>
                                    </tr>
                                    <tr ng-if="noallallrejectedreturs==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا يوجد أي طلبات مرفوضة  </h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallrejectedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Delivered" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <div class="col-lg-3 pull-right ">
                          <!-- <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div> -->
                        </div>
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> قائمة بالعائدات المكتملة  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                    <!-- <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer Name</td>
                                      <td class="text-center">Phone Number</td>
                                      <td class="text-center"> Requested Date </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center">Actions</td>
                                     
                                    </tr> -->
                                     <tr>
                                      <td class="text-center"> رقم  </td>
                                      <td class="text-center">رقم الأمر  </td>
                                      <td class="text-center"> اسم الزبون  </td>
                                      <td class="text-center">رقم الهاتف  </td>
                                      <td class="text-center">التاريخ المطلوب </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center">الاجراءت</td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr data-ng-repeat="returncomp in allcompletedreturs">
                                      <td>{{$index+1+orderreturncompletedPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{returncomp.orderId}}</td>
                                      <td class="text-center">{{returncomp.customerName}}</td>
                                      <td class="text-center">{{returncomp.phoneNo}}</td>
                                      <td data-ng-if="returncomp.status==10">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REQUESTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returncomp.status==11">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ACCEPTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returncomp.status==12">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="returncomp.status==15">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-success label-lg ng-scope">عاد</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{returncomp.lastUpdatedTime | date}}</td>
                                      <th>
                                        <!-- <a ng-click="AllocateDeliverBoyforreturn(return)" href=""> <span
                                    class="label label-info label-lg ng-scope">Allocate</span>
                               </a> -->
                                        <a ng-click="" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد</span>
                           </a>
                                        <!--  <a ng-click="AllocateDeliverBoy(return)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span> -->
                                      </th>
                                    </tr>
                                    <tr ng-if="noallcompletedreturs==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا يوجد عائدات مكتملة</h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallcompletedreturns($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END TABLE STRIPED -->
            </div>
          </div>
        </div>
        <!-- /form input knob -->
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
<!-- table end -->
