
<div class="right_col" role="main" style="min-height: 100vh;">
  <div class="">
   
    <div class="clearfix"></div>


<!-- <div class="row text-center">
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-success">
<h4 class="widget-content-light"><strong>ORDER ID</strong></h4>
</div>
<div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">{{order.lastUpdatedTime| date}}</span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-success">
<h4 class="widget-content-light"><i class="fa fa-paypal"></i> <strong>Confirmation</strong></h4>
</div>
<div ng-if="order.status!=1"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-check"></i></span></div>
<div ng-if="order.status==1"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-refresh fa-spin"></i></span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-warning">
<h4 class="widget-content-light"><i class="fa fa-archive"></i> <strong>Packaging</strong></h4>
</div>
<div class="widget-extra-full"><span class="h2 text-warning"><i class="fa fa-refresh fa-spin"></i></span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-muted">
<h4 class="widget-content-light"><i class="fa fa-truck"></i> <strong>Delivery</strong></h4>
</div>
<div ng-show="order.orderstatus!=4"class="widget-extra-full"><span class="h2 text-muted animation-pulse"><i class="fa fa-ellipsis-h"></i></span></div>
<div ng-show="order.orderstatus=4"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-check"></i></span></div>

</div>
</div>
</div>
 -->
<div class="block">
<div class="block-title">
<h2><i class="fa fa-shopping-cart"></i> <strong>Return Products</strong></h2>
</div>
<div class="table-responsive">
<table class="table table-bordered table-vcenter">
<thead>
<tr>
<th class="text-center" style="width: 100px;">Sl.No</th>
<th>Product Name</th>
<!-- <th class="text-center">Stock</th> -->
<th class="text-center">QTY</th>
<th class="text-right" style="width: 10%;">UNIT COST</th>
<th class="text-right" style="width: 10%;">TOTAL PRICE</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="items in orderdetails">
<td class="text-center"><strong>{{$index+1}}</strong></td>
<td>{{items.itemName}}</td>
<!-- <td class="text-center"><strong>720</strong></td> -->
<td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
<td class="text-right"><strong>{{items.itemPrice}} QAR</strong></td>
<td class="text-right"><strong>{{items.itemNetPrice}}</strong></td>
</tr>
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8726</strong></a></td>
<td><a href="page_ecom_product_edit.php">Forza Motorsport 5</a></td>
<td class="text-center"><strong>368</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8760</strong></a></td>
<td><a href="page_ecom_product_edit.php">Playstation 4</a></td>
<td class="text-center"><strong>652</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$399,00</strong></td>
<td class="text-right"><strong>$399,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8728</strong></a></td>
<td><a href="page_ecom_product_edit.php">Killzone: Shadow Fall</a></td>
<td class="text-center"><strong>368</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8763</strong></a></td>
<td><a href="page_ecom_product_edit.php">Little Big Planet 3</a></td>
<td class="text-center"><strong>150</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<tr class="active">
<td colspan="4" class="text-right text-uppercase"><strong>Grand Total:</strong></td>
<td class="text-right"><strong>{{order.netPrice}} QAR</strong></td>
</tr>
<!-- <tr>
<td colspan="5" class="text-right text-uppercase"><strong>Total Paid:</strong></td>
<td class="text-right"><strong>$975,00</strong></td>
</tr>
<tr class="active">
<td colspan="5" class="text-right text-uppercase"><strong>Total Due:</strong></td>
<td class="text-right"><strong>$0,00</strong></td>
</tr> -->
</tbody>
</table>
</div>
</div>






</div>

</div>