<div ng-if="langval==1">
   
<div class="right_col" role="main" style="min-height: 100vh;">
  <div class="">
   
    <div class="clearfix"></div>


<!-- <div class="row text-center">
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-success">
<h4 class="widget-content-light"><strong>ORDER ID</strong></h4>
</div>
<div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">{{order.lastUpdatedTime| date}}</span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-success">
<h4 class="widget-content-light"><i class="fa fa-paypal"></i> <strong>Confirmation</strong></h4>
</div>
<div ng-if="order.status!=1"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-check"></i></span></div>
<div ng-if="order.status==1"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-refresh fa-spin"></i></span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-warning">
<h4 class="widget-content-light"><i class="fa fa-archive"></i> <strong>Packaging</strong></h4>
</div>
<div class="widget-extra-full"><span class="h2 text-warning"><i class="fa fa-refresh fa-spin"></i></span></div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="widget">
<div class="widget-extra themed-background-muted">
<h4 class="widget-content-light"><i class="fa fa-truck"></i> <strong>Delivery</strong></h4>
</div>
<div ng-show="order.orderstatus!=4"class="widget-extra-full"><span class="h2 text-muted animation-pulse"><i class="fa fa-ellipsis-h"></i></span></div>
<div ng-show="order.orderstatus=4"class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-check"></i></span></div>

</div>
</div>
</div>
 -->
 <div class="row">
<div class="col-sm-6">
<div class="block">
<div class="block-title">
<h2><i class="fa fa-building-o"></i> <strong>Customer</strong> Details</h2>
</div>
<h4><strong>{{customerifo.customerName}}</strong></h4>
<address>
{{customerifo.address}}<br>
{{customerifo.cityName}}<br>
{{customerifo.countryName}}<br>
<i class="fa fa-phone"></i> {{customerifo.phoneNo}}<br>
<i class="fa fa-envelope-o"></i> {{customerifo.emailId}}
</address>
</div>
</div>
<div class="col-sm-6">
<div class="block">
<div class="block-title">
<h2><i class="fa fa-building-o"></i> <strong>Shipping</strong> Address</h2>
</div>
<h4><strong><span style=" margin-right:  30px;">Location </span> : {{shippingDetails.address1}}</strong></h4>
<address>
<span><strong style=" margin-right:  16px;">Building Name </strong></span> : {{shippingDetails.address2}}<br>
<span><strong style=" margin-right:  45px;">Landmark </strong></span> : {{shippingDetails.landMark}}<br>
<span><strong style=" margin-right:  55px;">PinCode </strong></span> : {{shippingDetails.pincode}}<br><br>
<i class="fa fa-phone"></i> {{shippingDetails.phoneNumber}}<br>
<!-- <i class="fa fa-envelope-o"></i> {{shippingDetails.emailId}} -->
</address>
</div>
</div>
</div>
<div class="block">
<div class="block-title">
<h2><i class="fa fa-shopping-cart"></i> <strong>Products</strong></h2>
</div>
<div class="table-responsive">
<table class="table table-bordered table-vcenter">
<thead>
<tr>
<th class="text-center" style="width:5%;">Sl.No</th>
<th style="width: 30%;">Product Name</th>
<!-- <th class="text-center">Stock</th> -->
<th class="text-center" style="width: 5%;">QTY</th>
<th class="text-center" style="width: 6%;">UNIT COST</th>
<th class="text-center" style="width: 5%;">TAX</th>
<th class="text-center" style="width: 15%;">OFFER</th>
<th class="text-center" style="width: 10%;">TOTAL PRICE</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-center"><strong>{{$index+1}}</strong></td>
<td>{{order.itemName}}</td>
<!-- <td class="text-center"><strong>720</strong></td> -->
<td class="text-center"><strong>{{order.itemQuantity}}</strong></td>
<td class="text-right"><strong>{{order.itemPrice}} SAR</strong></td>
<td class="text-center"><strong>{{order.taxName}}<br>({{order.taxPercentage}}%)<!-- {{items.itemQuantity}} --></strong></td>
<!-- <td class="text-center"><strong>ONAM OFFER DUMMY<br>(5%)</strong></td> -->
<td ng-if ="items.offerId==0"class="text-center"><strong>---<br><!-- {{items.itemQuantity}} --></strong></td>
<td ng-if ="items.offerId!=0"class="text-center"><strong>YES<br><!-- {{items.itemQuantity}} --></strong></td>
<td class="text-right"><strong>{{order.itemNetPrice}} SAR</strong></td>
</tr>
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8726</strong></a></td>
<td><a href="page_ecom_product_edit.php">Forza Motorsport 5</a></td>
<td class="text-center"><strong>368</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8760</strong></a></td>
<td><a href="page_ecom_product_edit.php">Playstation 4</a></td>
<td class="text-center"><strong>652</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$399,00</strong></td>
<td class="text-right"><strong>$399,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8728</strong></a></td>
<td><a href="page_ecom_product_edit.php">Killzone: Shadow Fall</a></td>
<td class="text-center"><strong>368</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<!-- <tr>
<td class="text-center"><a href="page_ecom_product_edit.php"><strong>PID.8763</strong></a></td>
<td><a href="page_ecom_product_edit.php">Little Big Planet 3</a></td>
<td class="text-center"><strong>150</strong></td>
<td class="text-center"><strong>1</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
<td class="text-right"><strong>$59,00</strong></td>
</tr> -->
<tr class="active">
<td colspan="6" class="text-right text-uppercase"><strong>Grand Total:</strong></td>
<td class="text-right"><strong>{{order.netPrice}} SAR</strong></td>
</tr>
<!-- <tr>
<td colspan="5" class="text-right text-uppercase"><strong>Total Paid:</strong></td>
<td class="text-right"><strong>$975,00</strong></td>
</tr>
<tr class="active">
<td colspan="5" class="text-right text-uppercase"><strong>Total Due:</strong></td>
<td class="text-right"><strong>$0,00</strong></td>
</tr> -->
</tbody>
</table>
</div>
</div>


<div class="clearfix"></div>






</div>

</div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
   <div dir=rtl>
<div class="rightarab_col" role="main" style="min-height: 100vh;">
  <div class="">
   
    <div class="clearfix"></div>


 <div class="row">
 	<div class="col-sm-6">
<div class="block">
<div class="block-title">
<h2><i class="fa fa-building-o"></i> عنوان  <strong> الشحن  </strong></h2>
</div>
<h4><strong><span style=" margin-left:   30px;">موقع   </span> : {{shippingDetails.address1}}</strong></h4>
<address>
<span><strong style=" margin-left:   18px;">اسم المبنى  </strong></span> : {{shippingDetails.address2}}<br>
<!-- <span><strong style=" margin-left:   45px;">Landmark </strong></span> : {{shippingDetails.landMark}}<br> -->
<span><strong style=" margin-left:   9px;">معلم معروف  </strong></span> : {{shippingDetails.landMark}}<br>
<span><strong style=" margin-left:   4px;">الرمز البريدي  </strong></span> : {{shippingDetails.pincode}}<br><br>
<i class="fa fa-phone"></i> {{shippingDetails.phoneNumber}}<br>
<!-- <i class="fa fa-envelope-o"></i> {{shippingDetails.emailId}} -->
</address>
</div>
</div>
<div class="col-sm-6">
<div class="block">
<div class="block-title">
<h2><i class="fa fa-building-o"></i> تفاصيل <strong>زبون  </strong> </h2>
</div>
<h4><strong>{{customerifo.customerName}}</strong></h4>
<address>
{{customerifo.address}}<br>
{{customerifo.cityName}}<br>
{{customerifo.countryName}}<br>
<i class="fa fa-phone"></i> {{customerifo.phoneNo}}<br>
<i class="fa fa-envelope-o"></i> {{customerifo.emailId}}
</address>
</div>
</div>

</div>
<div class="block">
<div class="block-title">
<h2><i class="fa fa-shopping-cart"></i> <strong>منتجات</strong></h2>
</div>
<div class="table-responsive">
<table class="table table-bordered table-vcenter">
<thead>
<tr>
<th class="text-center" style="width: 100px;">رقم </th>
<th class="text-center">اسم المنتج
</th>
<!-- <th class="text-center">Stock</th> -->
<th class="text-center">كمية </th>
<th class="text-right" style="width: 10%;">تكلفة الوحدة
 </th>
 <th class="text-center" style="width: 5%;">ضريبة </th>
 <th class="text-center" style="width: 15%;">عرض  </th>
<th class="text-right" style="width: 10%;">السعر الكلي
</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="items in orderdetails">
<td class="text-center"><strong>{{$index+1}}</strong></td>
<td>{{items.itemName}}</td>
<!-- <td class="text-center"><strong>720</strong></td> -->
<td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
<td class="text-right"><strong>{{items.itemPrice}} SAR</strong></td>
<!-- <td class="text-center"><strong>VAT<br>(5%)</strong></td>
<td class="text-center"><strong>ONAM OFFER DUMMY<br>(5%)</strong></td> -->
<td class="text-center"><strong>{{order.taxName}}<br>({{order.taxPercentage}}%)<!-- {{items.itemQuantity}} --></strong></td>
<!-- <td class="text-center"><strong>ONAM OFFER DUMMY<br>(5%)</strong></td> -->
<td ng-if ="items.offerId==0"class="text-center"><strong>---<br><!-- {{items.itemQuantity}} --></strong></td>
<td ng-if ="items.offerId!=0"class="text-center"><strong>YES<br><!-- {{items.itemQuantity}} --></strong></td>
<td class="text-right"><strong>{{items.itemNetPrice}} SAR</strong></td>
</tr>

<tr class="active">
<td colspan="6" class="text-left text-uppercase"><strong>المبلغ الإجمالي  :</strong></td>
<td class="text-right"><strong>{{order.netPrice}} SAR</strong></td>
</tr>

</tbody>
</table>
</div>
</div>


<div class="clearfix"></div>






</div>

</div>
</div>
</div>
