<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 100vh;">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div style="margin-right: 16px;">
          <span class="pull-right">
                       <!--  <button ng-click="printDiv('exportthis');">Print</button> -->
                        <button ng-click="downloadreport()">Download as Pdf</button>
                       </span>
        </div>
      </div>
      <div class="downloadData">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-xs-12">
            <div class="invoice">
                <div class="panel">
                    <div class="invoice-header">
                        <!-- Row starts -->
                        <div class="row gutter">              
                            <div class="col-xs-4 col-sm-4 col-xs-4">
                                <div class="">
                                    <h4 class="no-margin" style="color: #ee2a32;"><strong>Asdaf Al Omar Trading Est</strong></h4>
                                    <p class="text-info" style="color: #27257c;font-weight: 600;">Fish,Meat,Vegetable&Fruits</p>
                                    <p class="text-info"style="color: #27257c;font-weight: 600;">C.R: 4030439115</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-xs-4" style="text-align: center;">
                                <a href="">
                                    <img src="public/script/img/logo .png" alt="Bluemoon Logo" class="">
                                </a>
                            </div>                       
                            <div class="col-xs-4 col-sm-4 col-xs-4">
                                <div class="">
                                    <h4 class="no-margin" style="color: #ee2a32;"><strong>Jeddah - East Bagdadiyah Dist.(2)</strong></h4>
                                    <p class="text-info" style="color: #27257c;    font-weight: 600;">P.O Box : 89090 Jeddah 23326-Kingdom of Saudi Arabia</p>
                                    <p class="text-info"style="color: #27257c;    font-weight: 600;">0533 53 4133, 0533 53 5666</p>
                                </div>
                            </div>                        
                        </div>
                        <div class="row gutter"> 
                            <div class="col-xs-4 col-sm-4 col-xs-4">
                                <table class="table table-bordered"> 
                                    <tbody>
                                        <tr>
                                            <td  style="border: 1px solid #ec454c;color: #27257c;padding: 1px;text-align: center;font-weight: 500;"><!-- {{arabictext.VATREGNO}}<br> -->VAT REG NO
                                            </td>
                                            <td  style="border: 1px solid #ec454c;color: #27257c;padding: 1px;text-align: center;font-weight: 500;"><span ng-hide="viewwebArabic==1">٣٠٢٢٣٤٤٨٧٩...٣ </span><span ng-show="viewwebArabic==1">٣...٣٠٢٢٣٤٤٨٧٩</span>
                                            </td>                                  
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;"><!-- {{arabictext.CUSTVATREGNO}}<br> -->CUST. VAT REG NO
                                            </td>
                                            <td  style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;">
                                            </td>                                       
                                        </tr>                                          
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-xs-4">
                                <table class="table table-bordered"> 
                                    <tbody>
                                      <tr style="background-color: #27257c;    color: #fff; height: 44px;text-align: center;font-size: 16px;font-weight: 500;">
                                        <td><!-- {{arabictext.VATINVOICE}} <br> -->VAT INVOICE</td>                                       
                                      </tr>                                          
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-xs-4">
                                <table class="table table-bordered"> 
                                    <tbody>
                                      <tr>
                                        <td  style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;"><!--    &nbsp;{{arabictext.INVNO}}&nbsp; &nbsp;<br>  &nbsp; -->INV. NO</td>
                                        <td  style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;">{{order.transaction.reciptNo}}</td>                                  
                                      </tr>
                                      <tr>
                                        <td style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;"><!--   {{arabictext.Date}}<br> --> Date</td>
                                        <td  style="border: 1px solid #ec454c;    color: #27257c;padding: 1px;   text-align: center;font-weight: 500;"> {{order.lastUpdatedTime|date}}</td>                                       
                                      </tr>                                          
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row gutter"> 
                            <div class="col-xs-12">
                                <div class="invoicecustomerinfo">                              
                                    <div class="left">Customer Name :</div>
                                    <div class="right">  ﻢﺳا  </div>
                                    <div class="dotted"> {{customerinfo.customerName}}</div>
                                    <div class="left">Address:</div>
                                    <div class="right">  ﻥاﻮﻨﻋ  </div>
                                    <div class="dotted">{{customerinfo.address}},{{customerinfo.cityName}},{{customerinfo.countryName}},{{customerinfo.phoneNo}}</div>
                                    <div class="left">Shipping Details :</div>
                                    <div class="right">  ﻦﺤﺸﻟا ﻞﻴﺻﺎﻔﺗ </div>
                                    <div class="dotted"> {{order.shippingDetails.customerName}}, {{order.shippingDetails.address1}}, {{order.shippingDetails.address2}}, {{order.shippingDetails.landMark}}- {{order.shippingDetails.pincode}}, {{order.shippingDetails.phoneNumber}}</div>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="row gutter"> 
                            <div class="col-xs-12">
                                <div class="invoicecustomerinfo">                              
                                    <div class="left">Shipping Details :</div>
                                    <div class="right">  ﻦﺤﺸﻟا ﻞﻴﺻﺎﻔﺗ </div>
                                    <div class="dotted"> {{order.shippingDetails.customerName}}, {{order.shippingDetails.address1}}, {{order.shippingDetails.address2}}, {{order.shippingDetails.landMark}}- {{order.shippingDetails.pincode}}, {{order.shippingDetails.phoneNumber}}</div>
                                    
                                </div>
                            </div>
                        </div> -->
                        <div class="panel-body">
                            <br>
                            <br>
                            <!-- Row starts -->
                            <div class="row gutter">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!-- ﻢﻗﺭ  <br> -->Sl.No
                                                    </th>
                                                    <th style="width:40%;background: #c4c4e6;color: #27257c;text-align: center;"><!--   &nbsp;{{arabictext.Description}} &nbsp;<br> -->Description
                                                    </th>                                 
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!-- {{arabictext.Quantity}}<br> -->Quantity
                                                    </th>
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!--   &nbsp;{{arabictext.UnitPrice}}&nbsp; <br> &nbsp; -->Unit Price
                                                    </th>
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!-- ﻢﺼﺧ  <br> -->Discount
                                                    </th>
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!-- ﺔﺒﻳﺮﺿ  <br> -->VAT
                                                    </th>
                                                    <th style="width:10%;background: #c4c4e6;color: #27257c;text-align: center;"><!-- {{arabictext.Total}}<br> -->Total
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="as in order.orderDetailsVo" ng-class="{'new-page' :($index+1)%15==0 }">
                                                    <td>{{$index+1}}</td>
                                                    <td class="text-center">{{as.itemName}}</td>
                                                   <!--  <td class="text-center">{{as.categoryName}}</td> -->
                                                    <td class="text-center">{{as.itemQuantity}}</td>
                                                    <td class="text-center"><!-- {{mydatatoshow[$index].price}} -->{{as.itemPrice | number:2}} SAR</td>
                                                    <td class="text-center">
                                                        <span ng-if="as.offerId==0">---</span>
                                                        <span ng-if="as.offerId!=0">
                                                            <span ng-if="as.offerPercentage==0">
                                                                {{as.offerRate | number:2}} SAR
                                                                
                                                            </span>
                                                             <span ng-if="as.offerRate==0">
                                                                {{as.offerPercentage}} %
                                                                
                                                            </span><br>
                                                           ({{as.offerName}})

                                                        </span>
                                                    </td>
                                                    <td class="text-center"><!-- {{(as.totalAmount-as.price)*as.itemQuantity}} -->
                                                        <span ng-if="as.taxId==0">---</span>
                                                        <span ng-if="as.taxId!=0">{{as.taxPercentage}} %</span>
                                                    </td>
                                                    <td class="text-center">{{as.itemNetPrice | number:2}}{{calculatingSubTotal($index+1,as.itemNetPrice)}} SAR</td>
                                              </tr>
                                             <!--  <tr  ng-class="{'new-page' :$index==4 }">
                                                <td>hi</td>
                                                <td>dfgd</td>
                                                <td>hhhhi</td>
                                                <td>ggggggg</td>
                                                <td>lll</td>
                                                <td>mmm</td>
                                                <td>vv</td>
                                                
                                              </tr> -->
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-xs-1"style="height: 170px;display: flex;">
                                              <div class="bottomdiv">
                                              </div>
                                            </div> 
                                            <div class="col-xs-2"style="height: 170px;display: flex;">
                                              <div class="bottomdiv">
                                                <p>....................</p>
                                                <h5>Salesman</h5>
                                              </div>
                                            </div>
                                            <div class="col-xs-2"style="height: 170px;display: flex;">
                                              <div class="bottomdiv">
                                              <p>....................</p>
                                              <h5>Cashier</h5>
                                              </div>
                                            </div>
                                            <div class="col-xs-2"style="height: 170px;display: flex;">
                                              <div class="bottomdiv">
                                              <p>....................</p>
                                              <h5>Reciever</h5>
                                              </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <table class="table table-bordered" style="margin-top: -17px;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 50%;    background-color: #d4d4f9;border: 2px solid;    border-color: #6d6d7d;">Total</th>
                                                            <th style="background-color: #ffff;border: 2px solid;    border-color: #6d6d7d;">{{order.netPrice-order.tax-order.totalShippingCharge  | number:2}} SAR</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="background-color: #d4d4f9;border: 2px solid;    border-color: #6d6d7d;" >Shipping Charge</th>
                                                            <th style="background-color: #ffff;border: 2px solid;    border-color: #6d6d7d;">
                                                                <span ng-if="order.totalShippingCharge==0">
                                                                    Free Shipping
                                                                </span>
                                                                <span ng-if="order.totalShippingCharge!=0">
                                                                     {{order.totalShippingCharge  | number:2}} SAR
                                                                </span>

                                                                
                                                           </th>
                                                        </tr>
                                                        <tr>
                                                            <th style="background-color: #d4d4f9;border: 2px solid;    border-color: #6d6d7d;" >VAT</th>
                                                            <th style="background-color: #ffff;border: 2px solid;    border-color: #6d6d7d;">{{order.tax | number:2}} SAR</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="background-color: #d4d4f9;border: 2px solid;    border-color: #6d6d7d;" >Net Amount</th>
                                                            <th style="background-color: #ffff;border: 2px solid;    border-color: #6d6d7d;">{{order.netPrice | number:2}} SAR</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
          </div>
         
        </div>
      </div>


      
      <div class="clearfix"></div>
    </div>
  </div>
</div>


