<section class="navbar">
    <div class="top-nav">
        <div class="container">
            <ul class="nav navbar-nav pull-left top-nav-left">
                <li>Purshurse & investment</li>
            </ul>
            <ul class="nav navbar-nav pull-right top-nav-right">
                <li class="item-img">
                    <span><img src="/public/script/www/img/logo.png"></span>
                </li>
                <li class="">Kera Wholesale</li>
                <li class="">Kera Signature</li>
                <li class="">Help center</li>
            </ul>
        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-4 top-nav-row">
                    <a href="#/home"><img width="300px" height="80px" src="/public/script/www/img/logo.png"></a>
                </div>
                <div class="col-md-6 top-nav-row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group nav-search">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept" ng-if="!type">Filter by</span>
                                        <span id="search_concept" ng-if="type">{{type}}</span><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="" ng-click="type='product'">Product</a></li>
                                        <li><a href="" ng-click="type='shop'">shop</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" class="search-float form-control" name="x" ng-model="key" placeholder="Search term...">
                                <span class="input-group-btn">
                           <button class="btn btn-default" type="button"><a href="#/app/search?key={{key}}&type={{type}}&mode=1" class="glyphicon glyphicon-search"></a></button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 top-nav-row">
                    <img src="/public/script/www/img/color/myaccount.png" style="width: 72px;">
                </div>
            </div>
            <div class="row">
                <ui-view name="menuContent"></ui-view>
            </div>
        </div>
    </div>
</section>
