


<!--   <div ng-if="langval==0"> -->
 <div class="login">
   
     

      <div class="login_wrapper" style="margin: 5% 5% auto auto;">
        <div class="animate form login_form" style="
   /* background: rgba(194, 202, 201, 0.498);*/
       background: rgba(160, 166, 175, 0.77);
    border:  1px;
    border-radius:  5px;
    padding:  15px;
    /* margin-right: 17px; */
    /* color: red; */
" >
          <section class="login_content">
            <form>
              <h1>Admin</h1>
              <div class="form-group">
                  <label for="signin-email" class="control-label sr-only">Email ID</label>
                  <input type="email" class="form-control" id="email"  ng-model="user.email" placeholder="Email ID ">
                </div>
              <div class="form-group">
                  <label for="signin-password" class="control-label sr-only">Password</label>
                  <input type="password" class="form-control" ng-model="user.password" id="password"  placeholder="Password " >
                </div>
              <div>
                <button type="submit" class="btn btn-login btn-lg btn-block" ng-click="login(user);">Login </button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <!-- <p class="change_link">New to site? -->
                 <!--  <a href="#signup" class="to_register"> Create Account </a>
                </p>
 -->
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="public/script/img/logo .png" style="width: 160px;height: 60px;"><!-- <i class="fa fa-shopping-cart"></i>  Pental --></h1>
                 <!--  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p> -->
                </div>
              </div>
            </form>
          </section>
        </div>

       
        </div>
      
    </div>
<!--  </div> -->