


            
                <h3>List of Bids - Auction ID : {{auction.auctionId}}</h3>
                <div class="row">
                    <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/auction" class="btn btn-block btn-primary " role="button">Back to Auction</a>
                                    </div>
                
                </div>


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">


                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="customerSearch" />
                                            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Customer Name </th>
                                                
                                                <th>Bid Date  </th>
                                                <th>Bid Amount </th>

                                                <!-- <th>Customer Rating </th> -->




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat="auction in auctiondetails"data-toggle="collapse" data-target="#accordion1" class="clickable">
                                                <td>{{$index+1}}.</td>
                                                <td>{{auction.userId}}</td>
                                                <td>{{auction.lastUpdatedTimeString}}</td>
                                                <td>{{auction.lastBidAmount}}</td>

                                                <!-- <td>
                                                <span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star"></span></td> -->

                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div id="accordion1" class="collapse"><div class="profile-info">
                                        <h4 class="heading">Customer Info</h4>
                                        <ul class="list-unstyled list-justify">
                                            <li>Contact Number <span>{{customer.contactnumber}}</span></li>
                                            <li>City <span>cityNamel</span></li>
                                            <li>Country  <span>countryName</span></li>
                                            <!-- <li>Customer Feedback <span>Nice Product and Good quality also comfortable to use
</span></li> -->
                                        </ul>
                                    </div></div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


