


            
          
                <h3>Edit Item Type</h3>
                <div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/itemtype" class="btn btn-block btn-primary " role="button">Back to Item type</a>
                                    </div>
                
                </div>
                
                <div class="row">
                    
                    
                    <div class="panel">
								<div class="panel-heading">
								<!--	<h2 class="panel-title "><b>Add Item Type </b></h2>-->
								</div>
                        <form role="form" name="categoryForm"
						data-ng-submit="addItemtype ()">
								<div class="panel-body">
                                    <div class="col-lg-6">
                                        <div class="form-group">
									<label for="category">Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الفئة</label> <select
										class="form-control"
										data-ng-options="x.categoryName for x in categories"
										data-ng-model="itemtype.category"
										data-ng-change="changeCategory(x)" id="category">
									</select>

								</div>
								<div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.itemtype.$invalid &amp;&amp; !categoryForm.itemtype.$pristine}">
									<label for="itemtype">Item Type Name </label> <input
										class="form-control" data-ng-model="category.itemtype"
										name="itemtype" id="itemtype" placeholder="Enter item Type"
										type="text" required="required" /> 
								</div>
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : itemtypeForm.name.$invalid &amp;&amp; !itemtypeForm.name.$pristine}">
									<label for="name"> اسم النوع الصنف </label> <input
										class="form-control" data-ng-model="itemtype.namear"
										name="name" id="name" placeholder="اسم النوع الصنف"
										type="text" required="required" /> 
								</div>
									
                                        <div class="form-group"
									data-ng-class="{ 'has-error' : categoryForm.itemtypestatus.$invalid &amp;&amp; !categoryForm.itemtypestatus.$pristine}">
									<label for="itemtypestatus">Item Type Status</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline"><input type="radio" name="itemtypestatus" ng-model="category.itemtypestatus">Active</label>
                                        <label class="radio-inline"><input type="radio" name="itemtypestatus"ng-model="category.itemtypestatus">Discontinued</label>
                                        
                                       
								</div>
                                        
                                        
                                        <div class="box-footer">
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
                    </div>
                </div>
                        </form>
                <!-- MAIN CONTENT -->


