<section class="dashboard">
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 center-block">
            <a href="#/app/allshopsbyadmin" class="btn btn-color center-block">
                <p class="btn-textsize">All Shop's</p>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 center-block">
            <a href="#/app/alladminproducts" class="btn btn-color center-block">
                <p class="btn-textsize">All Product's</p>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br>
<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Total Shop</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#/app/allshopsbyadmin" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{totalofproduct}}</h3>

              <p>Total Product</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#/app/alladminproducts" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Views</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Reviews</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        </section>
<!-- <div class="row">
<div class="col-md-12">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Shop's</h3>

             
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ShopName</th>
                  <th>Location</th>
                  <th>Date</th>
                  <th>Candidates</th>
                  <th>Status</th>
                  <th>Views</th>
                  <th>Cost</th>
                  <th>Budget</th>
                </tr>
                <tr ng-repeat="shop in shopList">
                  <td>{{shop.shopName}}</td>
                  <td>{{postDetails.job_location}}</td>
                  <td>{{postDetails.posted_time|date:'MM/dd/yyyy'}}</td>
                  <td>John Doe</td>
                  <td><span class="skill-capsule-color label-success">Approved</span></td>
                  <td><a href="#/app/singlepostview?id={{postDetails.id}}">{{postDetails.seenCounter}}</a></td>
                  <td>{{postDetails.salary_perhr}}</td>
                  <td>30,000</td>
                </tr>
                
              </tbody></table>
            </div>
            
          </div>
          </div>
          </div> -->
<!-- <div class="row">
    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <div class="row">
            
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 min-width-head">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 head-row">
                <h3 class="head">Popular Shops</h3></div>
          
            <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
        <h4><a class="btn btn-info" href="#/app/addproduct/{{0}}">Add product</a>
    </div>
</div>
            </div>
            <div class="col-lg-6 col-md-6"></div>
        
        </div>
    </div>
</div> -->

<!-- <div class="all-products">

    <div class="">
        <div class="row">
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 product-box-row">
                
                        <div class="item" ng-repeat="shop in shopList" ng-class="{ active:$index==0}">
                            <div class="col-lg-2 col-md-3  col-sm-6 col-xs-12 product-box">
                                <div class="row">
                                    
                                       
                                            <div class="thumbnail thumbnail-box">
                                                <div class="similar-img" style="background-image: url(/public/script/www/img/add/3.jpg);">
                                                
                                                </div>
                                                <div class="caption">

                                                    <div class="row">
                                                  

                                                    <div class="row border-colour">Click for More</div>
                                                   
                                                       
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-style">
                                                        {{shop.shopTypeName}}</div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shopname-padding">
                                                            <p><a class=" font-size-contents" href="#/app/viewshop?shopId={{shop.shopId}}&mainCategoryId={{shop.shopType}}"><b >{{shop.shopName}}</b></a>
                                                        </p></div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-bottom-style">
                                                            <p>{{shop.city}}</p>
                                                        </div>
                                                         <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 city-padding border-left-style">
                                                         <div class="row">
                                                         <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                                        
                                                        <img width="10px" height="10px" src="/public/script/www/img/color/phone-receiver.png">
                                                         </div>
                                                         <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="padding-left: 0px; ">
                                                            <p>{{shop.phoneNo}}</p></div>
                                                            <div class="col-md-5"></div>
                                                        </div></div>
                                                       
                                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 green-color">Specials
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 border-review-style"><p><b class=" font-size-contents">{{shop.priceStarts}}</b><i class="fa fa-inr" style="font-size:10px;color:black"></i></p></div>
                                                    
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
            </div>
        </div>
    </div>
   </div>  -->