<ion-content class="has-header">
    <ul class="list">
        <li class="item">
            <div class="button" ngf-select="upload($file)">Upload on file select</div>
        </li>
        <li class="item">
            Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
        </li>
    </ul>
</ion-content>
