


            
                <h3>Customer Review and Ratings - مراجعة تقييم العملاء</h3>
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">


                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="customerSearch" />
                                            <span class="input-group-btn ">
			                	<button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
		                	</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Customer Name </th>
                                                 <th>Product </th>
                                                  <th>Store </th>
                                                  <th>Likes </th>

                                                <th>Rating </th>
                                                




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat = "review in customerreviews">
                                                <td>{{$index+1}}.</td>
                                                <td>{{review.customerName}}</td>
                                                <td>{{review.productName}}</td>
                                                <td>{{review.shopName}}</td>
                                                <td>{{review.likes}}</td>
                                                <td> <span><div data-ng-if="review.rating==0">
           
  <span class="fa fa-star " ></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star"></span>
</div>

<div data-ng-if="review.rating==1">
           
  <span class="fa fa-starchecked" style="color:#FFDF00 "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
</div>
 <div data-ng-if="review.rating==2">
           
  <span class="fa fa-star checked" style="color:#FFDF00 "></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
</div>
<div data-ng-if="review.rating==3">
           
  <span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked " style="color:#FFDF00"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star "></span>
</div>
<div data-ng-if="review.rating==4">
           
  <span class="fa fa-star checked" style="color:#FFDF00 "></span>
<span class="fa fa-star checked " style="color:#FFDF00"></span>
<span class="fa fa-star checked " style="color:#FFDF00"></span>
<span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star "></span>
</div>
<div data-ng-if="review.rating==5">
           
  <span class="fa fa-star checked" style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked "style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
<span class="fa fa-star checked"style="color:#FFDF00"></span>
</div>
 </span></td>

                                                
                                            
                                            </tr>
                                            
                                            
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       


