<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
body {

 text-align: center;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
}
table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}


</style>
</head>
<body>

<h1>Invoice</h1>
<p>Order ID : ${orderId}</p>




<table>
 <tr>
     <th>Sl.No</th>
   <th>Item</th>
   <th>Qty</th>
   <th>Unit Price</th>
   <th>Offer</th>
   <th>Tax</th>
   <th>Total</th>
 </tr>

 ${orderdetails}

 <td colspan="6" style="text-align:right"><b>Sub Total</b></td>
 <td>${subTotal}SAR</td>
 </tr>
  <tr>
 <td colspan="6" style="text-align:right"><b>Shipping Charge</b></td>
 <td>${shippingCharge}SAR</td>
 </tr>
  
  
  <tr style=" background-color: #dddddd;">
 <td colspan="6" style="text-align:right;font-size:18px;"><b>Grand Total</b></td>
 <td style="font-size:18px;"><b>${grandTotal}SAR</b></td>
 </tr>

</table>

</body>
</html>