<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
           
              <h3>View Manufacture </h3>
           
           
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Manufacture Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturerName">Manufacture Name  
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="manufacture.manufacturerName" id="manufacturerName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                 <!--  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturerNameAr">Manufacture Name Ar <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="manufacture.manufacturerNameAr" id="manufacturerNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="businessType">Business Type 
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="manufacture.businessType" id="businessType" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Manufacture Status <span class="required"></span>
                  </label>
                  <div ng-if="manufacture.status==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="manufacture.status==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>

                  <!-- <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Manufacture Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :manufacture.status==0  }" ng-click="manufacture.status=0"> Deactive</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :manufacture.status==1  }" ng-click="manufacture.status=1"> Active</div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                        <a href="#/admin/manufacture" button type="submit" class="btn btn-primary">Close</button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  
</div>
<!-- /page content -->
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            
              <h3>عرض التصنيع </h3>
            
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2 class="pull-right">معلومات حول تصنيع <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <!-- <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="manufacture.manufacturerName" id="manufacturerName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturerName">تصنيع الاسم باللغة الإنجليزية <span class="required">*</span>
                    </label>
                   
                  </div> -->
                  <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="manufacture.manufacturerNameAr" id="manufacturerNameAr" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturerNameAr">تاسم التصنيع  
                    </label>
                  
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="manufacture.businessType" id="businessType" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="businessType">نوع من الاعمال   
                    </label>
                    
                  </div>
                  <div class="form-group">
                       <div ng-if="manufacture.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
                    <input type="text" value="غير نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="manufacture.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value=" نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة  <span class="required"></span>
                  </label>
                 
                </div>
<!-- 
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :manufacture.status==0  }" ng-click="manufacture.status=0">  غير نشطة  </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :manufacture.status==1  }" ng-click="manufacture.status=1"> نشطة  </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة </label>
                    
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <br>
                      <div class="box-footer">
                       <a href="#/admin/manufacture" button type="submit" class="btn btn-primary">أغلق  </button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
