


            
                <h3>List of Orders By Store: {{store.storeName}}</h3>
                <div class="row">
                	<div class="row">
                <div class="col-lg-3 pull-right">
                                        <a href="#/admin/storestatistics" class="btn btn-block btn-primary " role="button">Back to Store Statistics</a>
                                    </div>
                
                </div>


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- TABLE STRIPED -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                                <div class="row">


                                    <div class="col-lg-3  pull-right">
                                        <div class="input-group">
                                            <input class="form-control  " placeholder="Search..." type="text" data-ng-model="customerSearch" />
                                            <span class="input-group-btn ">
			                	<button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
		                	</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Order Id </th>
                                                 <th>Customer Name </th>
                                               <th>Number of Item </th>
                                                 <th>Net Price </th>
                                                <th>Order Status </th>
                                                 <th>Actions</th>


                                               




                                            </tr>
                                        </thead>

                                       
                                            <tr ng-repeat = " order in ordersbystoreId">
                                                <td>{{$index+1}}.</td>
                                                <td>{{order.orderId}}</td>
                                                 <td>{{order.customerName}}</td>
                                                <td>{{order.numberOfItems}}</td>
                                                 <td>{{order.netPrice}}</td>
                                                  
                                                <td data-ng-if="order.orderstatus==2">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-warning label-lg ng-scope">Confirmed</span>
                                </div>
                            </td>

                            <td data-ng-if="order.orderstatus==4">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-success label-lg ng-scope">Delivered</span>
                                </div>
                            </td>
                           
                            <td data-ng-if="order.orderstatus==6">
                                <div class="tools action-buttons" style="display: block;">
                                    <span class="label label-info label-lg ng-scope">Ready To Delivery</span>
                                </div>
                            </td>

                                                <th>
                               
                                <a ng-click="vieworderdetailsofstore(order)"> <i class="fa fa-eye text-green"></i></a><!-- &nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="categorymanage(category)" href=""><i class="fa fa-pencil text-aqua"></i></a>
 -->


                               
                            </th>

                                                

                                               
                                            </tr>
                                            
                                            <!-- <tr>
                                                <td colspan="6">
                                                    <div id="accordion1" class="collapse"><div class="profile-info">
										<h4 class="heading">Sell Info</h4>
										<ul class="list-unstyled list-justify">
											<li>Item Price <span>45$</span></li>
											<li>Store Address <span>Calicut Road </span></li>
											<li> Contact Number <span>8129768162</span></li>
											<li>Store Feedback <span>Nice Product and Good quality also comfortable to use
</span></li>
										</ul>
									</div></div>
                                                </td>
                                            </tr> -->
                                            
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE STRIPED -->
                        </div>
                    </div>
                </div>


       
 <ul class="pagination">     

<li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallordersbystoreId($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                           
</ul>

