<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Order Management </h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- /form input knob -->
      <div class="row">
        <div class="col-lg-12">
          <!-- TABLE STRIPED -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
              <!-- new code -->
              <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" ng-click="getallorders(1)" data-target="#home">New Orders</a></li>
                  <li><a data-toggle="tab" ng-click="getallconfirmedorders(1)" data-target="#Confirmed">Confirmed Orders</a></li>
                  <li><a data-toggle="tab" ng-click="getallrejectedorders(1)" data-target="#Rejected">Rejected Orders</a></li>
                  <!--   <li><a data-toggle="tab" ng-click="getallshippedorders(1)" data-target="#Shipped">Shipped Orders</a></li> -->
                  <li><a data-toggle="tab" ng-click="getallpickedorders(1)" data-target="#Picked">Picked Orders</a></li>
                  <li><a data-toggle="tab" ng-click="getalldeliveredorders(1)" data-target="#Delivered">Delivered Orders</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!--  <h3>HOME</h3> -->
                    <div class="panel-body">
                   <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="orderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
                      <!-- table start -->
                      <div class="col-md-11 ">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Order List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center"> Total amount</td>
                                    <td class="text-center">Ordered Date </td>
                                    <td class="text-center">Actions</td>
                                    <!--  <td class="text-center">Action</td> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="loading==1">
                                    <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                  </tr>
                                  <tr data-ng-repeat="order in neworders">
                                    <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{order.orderId}}</td>
                                    <td class="text-center">{{order.customerName}}</td>
                                    <td data-ng-if="order.orderstatus==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="order.orderstatus==2">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="order.orderstatus==3">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="order.orderstatus==4">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{order.netPrice}}</td>
                                    <td class="text-center">{{order.lastUpdatedTime | date}}</td>
                                    <th>
                                      <a ng-click="Confirmedorder(order)" href=""> <span
                                    class="label label-info label-lg ng-scope">Confirm</span>
                               </a>
                                      <a ng-click="vieworderdetailsbyseller(order)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a>
                                      <a ng-click="rejectOrder(order)" href=""> <span
                                    class="label label-warning label-lg ng-scope">Reject</span>
                                
                                  </th>
                                 
                                </tr>
                                <tr ng-if="nodata==1">
                                  <td colspan="8" class="text-center"> <strong><h3>There Is No New Orders</h3></strong> </td>
                                </tr>
                                
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                      </li>
                                      </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Confirmed" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                        <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="confirmedorderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
                      <!--   <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Confirmed Order List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center"> Total amount</td>
                                    <td class="text-center">Ordered Date </td>
                                    <td class="text-center">Action</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="loading==1">
                                    <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                  </tr>
                                  <tr data-ng-repeat="corder in confirmedorders">
                                    <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{corder.orderId}}</td>
                                    <td class="text-center">{{corder.customerName}}</td>
                                    <td data-ng-if="corder.orderstatus==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="corder.orderstatus==2">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="corder.orderstatus==3">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="corder.orderstatus==4">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{corder.netPrice}}</td>
                                    <td class="text-center">{{corder.lastUpdatedTime | date}}</td>
                                    <th><a ng-click="ChangetoShipping(corder)" href=""> <span
                                    class="label label-info label-lg ng-scope">Change to Shipping</span>
                               </a>
                                      <a ng-click="vieworderdetailsbyseller(corder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a></th>
                                  </tr>
                                  <tr ng-if="noconfirmeddata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Confirmed Orders</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Rejected" class="tab-pane fade">
                    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="rejectedorderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
                    <!--   <h3>Menu 1</h3> -->
                    <!-- <div class="panel-body">
                    <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                    <!-- table start -->
                    <div class="col-md-11 ">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-list"></i> Rejected Order List</h3>
                        </div>
                        <div class="panel-body">
                          <form method="post" action="" enctype="multipart/form-data" id="form-order">
                            <table class="table table-striped table-hover">
                              <thead>
                                <tr>
                                  <td class="text-center"> Sl.No </td>
                                  <td class="text-center"> Order ID </td>
                                  <td class="text-center"> Customer </td>
                                  <td class="text-center"> Status </td>
                                  <td class="text-center"> Total amount</td>
                                  <td class="text-center">Ordered Date </td>
                                  <!--   <td class="text-center">Allocate</td> -->
                                  <td class="text-center">Action</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-if="loading==1">
                                  <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                </tr>
                                <tr data-ng-repeat="rejorder in rejectedorders">
                                  <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                  <td class="text-center">{{rejorder.orderId}}</td>
                                  <td class="text-center">{{rejorder.customerName}}</td>
                                  <td data-ng-if="rejorder.orderstatus==1">
                                    <div class="tools action-buttons" style="display: block;">
                                      <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                    </div>
                                  </td>
                                  <td data-ng-if="rejorder.orderstatus==2">
                                    <div class="tools action-buttons" style="display: block;">
                                      <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                    </div>
                                  </td>
                                  <td data-ng-if="rejorder.orderstatus==3">
                                    <div class="tools action-buttons" style="display: block;">
                                      <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                    </div>
                                  </td>
                                  <td data-ng-if="rejorder.orderstatus==4">
                                    <div class="tools action-buttons" style="display: block;">
                                      <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                    </div>
                                  </td>
                                  <td class="text-center">{{rejorder.netPrice}}</td>
                                  <td class="text-center">{{rejorder.lastUpdatedTime | date}}</td>
                                  <th><a ng-click="vieworderdetailsbyseller(rejorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a></th>
                                </tr>
                                <tr ng-if="norejecteddata==1">
                                  <td colspan="8" class="text-center"> <strong><h3>There Is No Rejected Orders</h3></strong> </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallrejectedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                            </ul>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Delivered" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="deliveredSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
                      <!-- <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Delivered Order List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center"> Total amount</td>
                                    <td class="text-center">Ordered Date </td>
                                    <!--   <td class="text-center">Allocate</td> -->
                                    <td class="text-center">Action</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="loading==1">
                                    <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                  </tr>
                                  <tr data-ng-repeat="deliorder in deliveredorders">
                                    <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{deliorder.orderId}}</td>
                                    <td class="text-center">{{deliorder.customerName}}</td>
                                    <td data-ng-if="deliorder.orderstatus==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="deliorder.orderstatus==2">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="deliorder.orderstatus==3">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="deliorder.orderstatus==4">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">DELIVERED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{deliorder.netPrice}}</td>
                                    <td class="text-center">{{deliorder.lastUpdatedTime | date}}</td>
                                    <th><a ng-click="vieworderdetailsbyseller(deliorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a></th>
                                  </tr>
                                  <tr ng-if="nodelivereddata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Delivered Orders</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getalldeliveredorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Picked" class="tab-pane fade">
                    <!--   <h3>Menu 1</h3> -->
                    <div class="panel-body">
                      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input class="form-control  " placeholder="Search by Order ID..." type="text" ng-change="pickedorderSearchwithOrderId(orderSearch)" data-ng-model="orderSearch" />
            <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </div>
      </div>
                      <!-- <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                      <!-- table start -->
                      <div class="col-md-11">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> Picked Order List</h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center"> Total amount</td>
                                    <td class="text-center">Ordered Date </td>
                                    <!--   <td class="text-center">Allocate</td> -->
                                    <td class="text-center">Action</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="loading==1">
                                    <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                  </tr>
                                  <tr data-ng-repeat="pickorder in pickedorders">
                                    <td>{{$index+1+pickedorderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{pickorder.orderId}}</td>
                                    <td class="text-center">{{pickorder.customerName}}</td>
                                    <td data-ng-if="pickorder.orderstatus==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="pickorder.orderstatus==2">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="pickorder.orderstatus==6">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">PICKED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="pickorder.orderstatus==4">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-success label-lg ng-scope">DELIVERED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{pickorder.netPrice}}</td>
                                    <td class="text-center">{{pickorder.lastUpdatedTime | date}}</td>
                                    <th>
                                      <a ng-click="ChangetoDelivered(pickorder)" href=""> <span
                                    class="label label-info label-lg ng-scope">Change to Delivered</span>
                               </a>
                                      <a ng-click="vieworderdetailsbyseller(pickorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">View</span>
                           </a></th>
                                  </tr>
                                  <tr ng-if="nopickeddata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>There Is No Picked Orders</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallpickedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END TABLE STRIPED -->
        </div>
      </div>
    </div>
    <!-- /form input knob -->
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <h3>طلب إدارة </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- /form input knob -->
        <div class="row">
          <div class="col-lg-12">
            <!-- TABLE STRIPED -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <!-- new code -->
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="active pull-right"><a data-toggle="tab" ng-click="getallorders(1)" data-target="#home">طلبات جديدة</a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallconfirmedorders(1)" data-target="#Confirmed">الطلبات المؤكدة</a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallrejectedorders(1)" data-target="#Rejected">الطلبات المرفوضة  </a></li>
                    <!--   <li><a data-toggle="tab" ng-click="getallshippedorders(1)" data-target="#Shipped">Shipped Orders</a></li> -->
                    <li class="pull-right"><a data-toggle="tab" ng-click="getallpickedorders(1)" data-target="#Picked">طلبات يتم شحنها</a></li>
                    <li class="pull-right"><a data-toggle="tab" ng-click="getalldeliveredorders(1)" data-target="#Delivered">طلبات تم استلامها</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      <!--  <h3>HOME</h3> -->
                      <div class="panel-body">
                        <!--  <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                        <!-- table start -->
                        <div class="col-md-11 pull-right ">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> أوامر  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                    <tr>
                                      <td class="text-center"> رقم   </td>
                                      <td class="text-center">رقم الطلب </td>
                                      <td class="text-center"> زبون </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center"> المبلغ الإجمالي  </td>
                                      <td class="text-center">تاريخ الطلب </td>
                                      <td class="text-center">الاجراءت  </td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-if="loading==1">
                                      <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                    </tr>
                                    <tr data-ng-repeat="order in neworders">
                                      <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{order.orderId}}</td>
                                      <td class="text-center">{{order.customerName}}</td>
                                      <td data-ng-if="order.orderstatus==1">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">أمر  </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="order.orderstatus==2">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">تم تأكيد  </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="order.orderstatus==3">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">مرفوض    </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="order.orderstatus==4">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">تم التوصيل  </span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{order.netPrice}}</td>
                                      <td class="text-center">{{order.lastUpdatedTime | date}}</td>
                                      <th class="text-center">
                                        <a ng-click="Confirmedorder(order)" href=""> <span
                                    class="label label-info label-lg ng-scope">أكد</span>
                               </a>
                                        <a ng-click="vieworderdetailsbyseller(order)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد </span>
                           </a>&nbsp;&nbsp;
                                        <a ng-click="rejectOrder(order)" href=""> <span
                                    class="label label-warning label-lg ng-scope">رفض
</span>
                                
                                  </th>
                                 
                                </tr>
                                <tr ng-if="nodata==1">
                                  <td colspan="8" class="text-center"> <strong><h3>لا توجد أوامر جديدة  </h3></strong> </td>
                                </tr>
                                
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span>
                                        </li>
                                        </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Confirmed" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <!--   <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i>أوامر  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                   <!--  <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center"> Total amount</td>
                                      <td class="text-center">Ordered Date </td>
                                      <td class="text-center">Action</td>
                                    </tr> -->
                                     <tr>
                                      <td class="text-center"> رقم   </td>
                                      <td class="text-center">رقم الطلب</td>
                                      <td class="text-center"> زبون </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center"> المبلغ الإجمالي  </td>
                                      <td class="text-center">تاريخ الطلب </td>
                                      <td class="text-center">الاجراءت  </td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>

                                  </thead>
                                  <tbody>
                                    <tr ng-if="loading==1">
                                      <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                    </tr>
                                    <tr data-ng-repeat="corder in confirmedorders">
                                      <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{corder.orderId}}</td>
                                      <td class="text-center">{{corder.customerName}}</td>
                                      <td data-ng-if="corder.orderstatus==1">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="corder.orderstatus==2">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">تم تأكيد  </span>
                                        </div>
                                      </td>
                                      <td data-ng-if="corder.orderstatus==3">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="corder.orderstatus==4">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{corder.netPrice}}</td>
                                      <td class="text-center">{{corder.lastUpdatedTime | date}}</td>
                                      <th><a ng-click="ChangetoShipping(corder)" href=""> <span
                                    class="label label-info label-lg ng-scope">التغيير إلى الشحن</span>
                               </a>
                                        <a ng-click="vieworderdetailsbyseller(corder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد
</span>
                           </a></th>
                                    </tr>
                                    <tr ng-if="noconfirmeddata==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا توجد أوامر مؤكدة</h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallconfirmedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Rejected" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <!-- <div class="panel-body">
                    <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                      <!-- table start -->
                      <div class="col-md-11 pull-right">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i>أوامر  </h3>
                          </div>
                          <div class="panel-body">
                            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <!-- <tr>
                                    <td class="text-center"> Sl.No </td>
                                    <td class="text-center"> Order ID </td>
                                    <td class="text-center"> Customer </td>
                                    <td class="text-center"> Status </td>
                                    <td class="text-center"> Total amount</td>
                                    <td class="text-center">Ordered Date </td>
                                   
                                    <td class="text-center">Action</td>
                                  </tr> -->
                                   <tr>
                                      <td class="text-center"> رقم   </td>
                                      <td class="text-center">رقم الطلب</td>
                                      <td class="text-center"> زبون </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center"> المبلغ الإجمالي  </td>
                                      <td class="text-center">تاريخ الطلب </td>
                                      <td class="text-center">الاجراءت  </td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>

                                </thead>
                                <tbody>
                                  <tr ng-if="loading==1">
                                    <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                  </tr>
                                  <tr data-ng-repeat="rejorder in rejectedorders">
                                    <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                    <td class="text-center">{{rejorder.orderId}}</td>
                                    <td class="text-center">{{rejorder.customerName}}</td>
                                    <td data-ng-if="rejorder.orderstatus==1">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="rejorder.orderstatus==2">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                      </div>
                                    </td>
                                    <td data-ng-if="rejorder.orderstatus==3">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">مرفوض   </span>
                                      </div>
                                    </td>
                                    <td data-ng-if="rejorder.orderstatus==4">
                                      <div class="tools action-buttons" style="display: block;">
                                        <span class="label label-danger label-lg ng-scope">DELIVERED</span>
                                      </div>
                                    </td>
                                    <td class="text-center">{{rejorder.netPrice}}</td>
                                    <td class="text-center">{{rejorder.lastUpdatedTime | date}}</td>
                                    <th><a ng-click="vieworderdetailsbyseller(rejorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد </span>
                           </a></th>
                                  </tr>
                                  <tr ng-if="norejecteddata==1">
                                    <td colspan="8" class="text-center"> <strong><h3>لا يوجد أي أوامر مرفوضة</h3></strong> </td>
                                  </tr>
                                </tbody>
                              </table>
                              <ul class="pagination">
                                <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallrejectedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                              </ul>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Delivered" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <!-- <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> أوامر  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                   <!--  <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center"> Total amount</td>
                                      <td class="text-center">Ordered Date </td>
                                     
                                      <td class="text-center">Action</td>
                                    </tr> -->
                                     <tr>
                                      <td class="text-center"> رقم   </td>
                                      <td class="text-center">رقم الطلب </td>
                                      <td class="text-center"> زبون </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center"> المبلغ الإجمالي  </td>
                                      <td class="text-center">تاريخ الطلب </td>
                                      <td class="text-center">الاجراءت  </td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>

                                  </thead>
                                  <tbody>
                                    <tr ng-if="loading==1">
                                      <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                    </tr>
                                    <tr data-ng-repeat="deliorder in deliveredorders">
                                      <td>{{$index+1+orderPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{deliorder.orderId}}</td>
                                      <td class="text-center">{{deliorder.customerName}}</td>
                                      <td data-ng-if="deliorder.orderstatus==1">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="deliorder.orderstatus==2">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="deliorder.orderstatus==3">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">REJECTED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="deliorder.orderstatus==4">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-success label-lg ng-scope">تم التوصيل  </span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{deliorder.netPrice}}</td>
                                      <td class="text-center">{{deliorder.lastUpdatedTime | date}}</td>
                                      <th><a ng-click="vieworderdetailsbyseller(deliorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد
</span>
                           </a></th>
                                    </tr>
                                    <tr ng-if="nodelivereddata==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا يوجد أي أوامر تسليمها </h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getalldeliveredorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Picked" class="tab-pane fade">
                      <!--   <h3>Menu 1</h3> -->
                      <div class="panel-body">
                        <!-- <div class="col-lg-3 pull-right ">
                      <div class="input-group">
                        <input class="form-control  " placeholder="Search..." type="text" data-ng-model="ItemtypeSearch" />
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-flat"><i class="fa fa-search" style="line-height: 30px;"></i></button>
                            </span>
                      </div>
                    </div> -->
                        <!-- table start -->
                        <div class="col-md-11 pull-right">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"><i class="fa fa-list"></i> أوامر  </h3>
                            </div>
                            <div class="panel-body">
                              <form method="post" action="" enctype="multipart/form-data" id="form-order">
                                <table class="table table-striped table-hover">
                                  <thead>
                                   <!--  <tr>
                                      <td class="text-center"> Sl.No </td>
                                      <td class="text-center"> Order ID </td>
                                      <td class="text-center"> Customer </td>
                                      <td class="text-center"> Status </td>
                                      <td class="text-center"> Total amount</td>
                                      <td class="text-center">Ordered Date </td>
                                     
                                      <td class="text-center">Action</td>
                                    </tr>                              
 -->   
  <tr>
                                      <td class="text-center"> رقم   </td>
                                      <td class="text-center">رقم الطلب  </td>
                                      <td class="text-center"> زبون </td>
                                      <td class="text-center"> حالة </td>
                                      <td class="text-center"> المبلغ الإجمالي  </td>
                                      <td class="text-center">تاريخ الطلب </td>
                                      <td class="text-center">الاجراءت  </td>
                                      <!--  <td class="text-center">Action</td> -->
                                    </tr>
                               </thead>
                                  <tbody>
                                    <tr ng-if="loading==1">
                                      <td colspan="8" class="text-center"> <img src="public/script/www/img/loading.gif" style="height: 45px;width: 45px;"> </td>
                                    </tr>
                                    <tr data-ng-repeat="pickorder in pickedorders">
                                      <td>{{$index+1+pickedorderPageVo.currentIndex}}.</td>
                                      <td class="text-center">{{pickorder.orderId}}</td>
                                      <td class="text-center">{{pickorder.customerName}}</td>
                                      <td data-ng-if="pickorder.orderstatus==1">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">ORDERED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="pickorder.orderstatus==2">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-danger label-lg ng-scope">CONFIRMED</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="pickorder.orderstatus==6">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-success label-lg ng-scope">اختار
</span>
                                        </div>
                                      </td>
                                      <td data-ng-if="pickorder.orderstatus==4">
                                        <div class="tools action-buttons" style="display: block;">
                                          <span class="label label-success label-lg ng-scope">DELIVERED</span>
                                        </div>
                                      </td>
                                      <td class="text-center">{{pickorder.netPrice}}</td>
                                      <td class="text-center">{{pickorder.lastUpdatedTime | date}}</td>
                                      <th>
                                        <a ng-click="ChangetoDelivered(pickorder)" href=""> <span
                                    class="label label-info label-lg ng-scope">التغيير إلى التسليم</span>
                               </a>
                                        <a ng-click="vieworderdetailsbyseller(pickorder)" href=""> <span
                                    class="label label-warning label-lg ng-scope">شاهد
</span>
                           </a></th>
                                    </tr>
                                    <tr ng-if="nopickeddata==1">
                                      <td colspan="8" class="text-center"> <strong><h3>لا يوجد أي أوامر منتقاة  </h3></strong> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <ul class="pagination">
                                  <li ng-repeat="i in getNumber(noPages) track by $index" ng-click="getallpickedorders($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END TABLE STRIPED -->
          </div>
        </div>
      </div>
      <!-- /form input knob -->
    </div>
  </div>
</div>
<!-- /page content -->
<!-- table end -->
