

<button class="button" type="{{type}}">
	
    <div ng-if="isloading!=='true'">{{text}}
    </div>
    <div  ng-if="isloading==='true'">
        <img src="public/script/www/img/btnloading.gif" >
    </div>
</button>


