<!-- page content -->
<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <div ng-if="prid==0">
            <h3>Add Product </h3>
          </div>
          <div ng-if="prid!=0">
            <h3>Edit Product </h3>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="panel">
          <div class="panel-heading">
            <!--  <h2 class="panel-title "><b>Add Item Type </b></h2>-->
          </div>
          <form role="form" name="addproductForm">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><span class="glyphicon glyphicon-file">
                            </span>DETAILS</a>
                        </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label> Category </label>
                                  <select class="form-control" ng-model="product.categoryId" ng-options="category.categoryId as category.categoryName for category in categories" ng-change="changeCategory(product.categoryId)">
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label> Subcategory </label>
                                  <select class="form-control" ng-change="getproductforrelated(product.categoryId,product.subCategoryId)" ng-model="product.subCategoryId" ng-options="subcategory.subCategoryId as subcategory.subCategoryName for subcategory in subcategoriesbycategories">
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label> Manufacture </label>
                                  <select class="form-control" ng-model="product.manufacturerId" ng-options="manufacture.manufacturerId as manufacture.manufacturerName for manufacture in manufactures">
                                  </select>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productName.$invalid &amp;&amp; !addproductForm.productName.$pristine}">
                                  <label for="productName">Product Name En</label>
                                  <input class="form-control" data-ng-model="product.productName" name="productName" id="productName" placeholder="Enter productName" type="text" required="required" />
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productNameAr.$invalid &amp;&amp; !addproductForm.productNameAr.$pristine}">
                                  <label for="productNameAr">Product Name Ar </label>
                                  <input class="form-control" data-ng-model="product.productNameAr" name="productNameAr" id="productNameAr" placeholder=" اسم الصنف" type="text" required="required" />
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.price.$invalid &amp;&amp; !addproductForm.price.$pristine}">
                                  <label for="price">Unit Price</label>
                                  <input class="form-control" data-ng-model="product.price" name="price" id="price" placeholder="Enter Unit Price" type="currency" required="required" />
                                  <br>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.unitPriceDescriptionEn.$invalid &amp;&amp; !addproductForm.unitPriceDescriptionEn.$pristine}">
                                  <label for="unitPriceDescriptionEn">Description About Unit Price En</label>
                                  <input class="form-control" data-ng-model="product.unitPriceDescriptionEn" name="unitPriceDescriptionEn" id="unitPriceDescriptionEn" placeholder="Eg:1kg/count of items with brief details" type="text" required="required" />                                  
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.unitPriceDescriptionAr.$invalid &amp;&amp; !addproductForm.unitPriceDescriptionAr.$pristine}">
                                  <label for="unitPriceDescriptionAr">Description About Unit Price Ar</label>
                                  <input class="form-control" data-ng-model="product.unitPriceDescriptionAr" name="unitPriceDescriptionAr" id="unitPriceDescriptionAr" placeholder="Eg:1kg/count of items with brief details" type="text" required="required" />                                  
                                </div>
                                <div class="form-group">
                                  <label>Tax </label>
                                  <select class="form-control" ng-model="product.taxId" ng-options="tax.taxId as tax.taxName for tax in taxes">
                                  </select>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.shippingCharge.$invalid && !addproductForm.shippingCharge.$pristine}">
                                  <label for="shippingCharge">Shipping Charge </label>
                                  <input class="form-control" data-ng-model="product.shippingCharge" name="shippingCharge" id="shippingCharge" placeholder="Enter Commision" type="number" required="required" />
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productQuantity.$invalid &amp;&amp; !addproductForm.productQuantity.$pristine}">
                                  <label for="price">Quantity</label>
                                  <input class="form-control" data-ng-model="product.productQuantity" name="productQuantity" id="productQuantity" placeholder="Enter Quantity" type="number" required="required" />
                                  <br>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.minimumPurchaseLimit.$invalid &amp;&amp; !addproductForm.minimumPurchaseLimit.$pristine}">
                                  <label for="price">Minimum Purchase Quantity </label>
                                  <input class="form-control" data-ng-model="product.minimumPurchaseLimit" name="minimumPurchaseLimit" id="minimumPurchaseLimit" placeholder="Enter Minimum Purchase Limit (in weight/count)" type="text" required="required" />                                  
                                </div>
                                <!-- <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.minimumPurchaseLimitAr.$invalid &amp;&amp; !addproductForm.minimumPurchaseLimitAr.$pristine}">
                                  <label for="price">Minimum Purchase Quantity Ar</label>
                                  <input class="form-control" data-ng-model="product.minimumPurchaseLimitAr" name="minimumPurchaseLimitAr" id="minimumPurchaseLimitAr" placeholder="Enter Minimum Purchase Limit (in weight/count) in Arabic" type="text" required="required" />                                  
                                </div> -->
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                                  <label for="description">Product Description En </label>
                                  <textarea class="form-control" data-ng-model="product.description" name="description" id="description" placeholder="Product Description" required="required" rows="3"></textarea>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.descriptionAr.$invalid &amp;&amp; !addproductForm.descriptionAr.$pristine}">
                                  <label for="descriptionAr"> Product Description Ar</label>
                                  <textarea class="form-control" data-ng-model="product.descriptionAr" name="descriptionAr" id="descriptionAr" placeholder=" وصف الصنف " required="required" rows="3"></textarea>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.returnPolicy.$invalid &amp;&amp; !addproductForm.returnPolicy.$pristine}">
                                  <label for="returnPolicy">Return Policy En</label>
                                  <textarea class="form-control" data-ng-model="product.returnPolicy" name="returnPolicy" id="returnPolicy" placeholder="Product Description" required="required" rows="3"></textarea>
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.returnPolicyAr.$invalid &amp;&amp; !addproductForm.returnPolicyAr.$pristine}">
                                  <label for="returnPolicyAr">Return Policy Ar</label>
                                  <textarea class="form-control" data-ng-model="product.returnPolicyAr" name="returnPolicyAr" id="returnPolicyAr" placeholder="Product Description" required="required" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                  <label>Product Status</label>
                                  <div>
                                    <div class="btn btnserviceorproduct" ng-class="{'active' :product.status==1  }" ng-click="product.status=1"> Active</div>
                                    <div class="btn btnserviceorproduct" ng-class="{'active' :product.status==0  }" ng-click="product.status=0"> Deactive</div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label>Delivery Status</label>
                                  <div>
                                    <div class="btn btnserviceorproduct" ng-class="{'active' :product.delivaryStatus==1  }" ng-click="product.delivaryStatus=1"> Delivery Available</div>
                                    <div class="btn btnserviceorproduct" ng-class="{'active' :product.delivaryStatus==0  }" ng-click="product.delivaryStatus=0"> Pickup from the Store</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--START ATTRIBUTE -->
                      <!-- New Added Accoprdion -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour"><span class="glyphicon glyphicon-th-list">
                            </span>Attributes</a><button type="button" class="btn btn-default btn-circle btn-md" ng-click="addtheattribute()"> <i class="glyphicon glyphicon-plus" > </i></button>

                        </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row" ng-repeat="attr in product.productAttributeVos  ">
                              <!-- >>>>>{{$index}}============={{attr}} -->
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Attribute</label>
                                  <select ng-options="attribute.attributeId as attribute.attributeName for attribute in attributesforaddproduct" class="form-control" ng-model="product.productAttributeVos[$index].attributeId">
                                  </select>
                                  <!-- {{product.attributeVos[$index]}}>>>>>>{{product.atrributVo[$index].attributeId}}-{{product.attributeVos[$index].attributeId}} -->
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.value.$invalid &amp;&amp; !addproductForm.value.$pristine}">
                                  <label for="value">Value En</label>
                                  <input class="form-control" ng-model="product.productAttributeVos[$index].value" name="value" id="value" placeholder="Enter value in English" type="text" required="required" />
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.valueAr.$invalid &amp;&amp; !addproductForm.valueAr.$pristine}">
                                    <label for="valueAr">Value Ar</label>
                                    <input class="form-control" ng-model="product.productAttributeVos[$index].valueAr" name="valueAr" id="valueAr" placeholder="Enter Value in Arabic" type="text" required="required" />
                                  </div>
                                </div>
                              <br>
                              <div class="col-md-1">
                                <button type="button" class="btn btn-warning btn-circle" ng-click="deletefield(attr)" style="
    margin-top: 6px;
"><i class="glyphicon glyphicon-remove" ></i></button>
                              </div>
                              <!--  <div class="col-md-1">
                               <button type="button" class="btn btn-default btn-circle btn-md"> <i class="glyphicon glyphicon-plus" ng-click="addtheattribute()"> </i></button>

                            </div> -->
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END ATTRIBUTE -->
                      <!-- New Added Accoprdion -->
                    
                      <!--  ############ -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span>Images</a>
                        </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12">
                                <h2>Images</h2>
                                <hr>
                                <!--  ########### -->
                                <div class="col-md-4">
                                  <div class="fileupload file-uplaod-btn">
                                    <div class="form-group">
                                      <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                                      <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + Click Here To Upload Product Image </div>
                                    </div>
                                  </div>
                                </div>
                                <!--   #########
                              <div class="fileupload file-uplaod-btn">
                                <div class="form-group">
                                  <input type="file" ng-model="file" name="file" multiple ngf-select="upload($file)" />+ Upload Product Images
                                </div>
                              </div> -->
                                <div class="col-lg-12">
                                  <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="img in product.featureOrPhotos">
                                      <div class="img-wraps">
                                        {{img}}
                                        <span class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span>
                                        <img style="min-width:100%" ng-src="{{imageUrl}}{{img.data}}" class="img-thumbnail" ng-if="!img.isLoadin">
                                        <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                  <br>
                                  <br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="box-footer ">
                        <button type="submit" class="btn btn-primary" ng-click="addProduct(product);">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            <div ng-if="prid==0">
              <h3>أضف منتج </h3>
            </div>
            <div ng-if="prid!=0">
              <h3>تحرير المنتج </h3>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="panel">
            <div class="panel-heading">
              <!--  <h2 class="panel-title "><b>Add Item Type </b></h2>-->
            </div>
            <form role="form" name="addproductForm">
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><span class="glyphicon glyphicon-file">
                            </span>  &nbsp;تفاصيل</a>
                        </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <div class="row">
                               
                                <div class="col-md-6">
                                   <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.minimumPurchaseLimit.$invalid &amp;&amp; !addproductForm.minimumPurchaseLimit.$pristine}">
                                  <label for="price">كمية الشراء الدنيا  </label>
                                  <input class="form-control" data-ng-model="product.minimumPurchaseLimit" name="minimumPurchaseLimit" id="minimumPurchaseLimit" placeholder="أأدخل الحد الأدنى للشراء (بالوزن / العدد)" type="text" required="required" />                                  
                                </div>
                              <!--   <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.minimumPurchaseLimitAr.$invalid &amp;&amp; !addproductForm.minimumPurchaseLimitAr.$pristine}">
                                  <label for="price">أقل كمية للشراء بالعربية </label>
                                  <input class="form-control" data-ng-model="product.minimumPurchaseLimitAr" name="minimumPurchaseLimitAr" id="minimumPurchaseLimitAr" placeholder="أدخل الحد الأدنى للشراء (بالوزن / العد) باللغة العربية" type="text" required="required" />                                  
                                </div> -->
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.description.$invalid &amp;&amp; !addproductForm.description.$pristine}">
                                    <label for="description"> وصف المنتج باللغة الإنجليزية </label>
                                    <textarea class="form-control" data-ng-model="product.description" name="description" id="description" placeholder="أدخل وصف المنتج باللغة الإنجليزية" required="required" rows="3"></textarea>
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.descriptionAr.$invalid &amp;&amp; !addproductForm.descriptionAr.$pristine}">
                                    <label for="descriptionAr"> وصف المنتج باللغة العربية</label>
                                    <textarea class="form-control" data-ng-model="product.descriptionAr" name="descriptionAr" id="descriptionAr" placeholder=" أدخل وصف منتجك باللغة العربية
" required="required" rows="3"></textarea>
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.returnPolicy.$invalid &amp;&amp; !addproductForm.returnPolicy.$pristine}">
                                    <label for="returnPolicy">عودة السياسة باللغة الإنجليزية</label>
                                    <textarea class="form-control" data-ng-model="product.returnPolicy" name="returnPolicy" id="returnPolicy" placeholder="أدخل سياسة الإرجاع باللغة الإنجليزية
" required="required" rows="3"></textarea>
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.returnPolicyAr.$invalid &amp;&amp; !addproductForm.returnPolicyAr.$pristine}">
                                    <label for="returnPolicyAr">سياسة العودة باللغة العربية</label>
                                    <textarea class="form-control" data-ng-model="product.returnPolicyAr" name="returnPolicyAr" id="returnPolicyAr" placeholder="أدخل سياسة الإرجاع باللغة العربية
" required="required" rows="3"></textarea>
                                  </div>
                                  <div class="form-group">
                                    <label>حالة</label>
                                    <div>
                                      <div class="btn btnserviceorproduct" ng-class="{'active' :product.status==1  }" ng-click="product.status=1"> شطة </div>
                                      <div class="btn btnserviceorproduct" ng-class="{'active' :product.status==0  }" ng-click="product.status=0"> غير نشطة </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label>حالة التسليم</label>
                                    <div>
                                      <div class="btn btnserviceorproduct" ng-class="{'active' :product.delivaryStatus==1  }" ng-click="product.delivaryStatus=1"> التسليم متاح</div>
                                      <div class="btn btnserviceorproduct" ng-class="{'active' :product.delivaryStatus==0  }" ng-click="product.delivaryStatus=0"> استلام من المحل </div>
                                    </div>
                                  </div>
                                </div>
                                 <div class="col-md-6">
                                  <div class="form-group">
                                    <label> فئه </label>
                                    <select class="form-control" ng-model="product.categoryId" ng-options="category.categoryId as category.categoryNameAr for category in categories" ng-change="changeCategory(product.categoryId)">
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label> فئه فرعيه </label>
                                    <select class="form-control" ng-change="getproductforrelated(product.categoryId,product.subCategoryId)" ng-model="product.subCategoryId" ng-options="subcategory.subCategoryId as subcategory.subCategoryNameAr for subcategory in subcategoriesbycategories">
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label> صناعة </label>
                                    <select class="form-control" ng-model="product.manufacturerId" ng-options="manufacture.manufacturerId as manufacture.manufacturerNameAr for manufacture in manufactures">
                                    </select>
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productName.$invalid &amp;&amp; !addproductForm.productName.$pristine}">
                                    <label for="productName">اسم المنتج باللغة الإنجليزية </label>
                                    <input class="form-control" data-ng-model="product.productName" name="productName" id="productName" placeholder="أدخل اسم المنتج باللغة الإنجليزية" type="text" required="required" />
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productNameAr.$invalid &amp;&amp; !addproductForm.productNameAr.$pristine}">
                                    <label for="productNameAr">اسم المنتج باللغة العربية </label>
                                    <input class="form-control" data-ng-model="product.productNameAr" name="productNameAr" id="productNameAr" placeholder=" أدخل اسم المنتج باللغة العربية " type="text" required="required" />
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.price.$invalid &amp;&amp; !addproductForm.price.$pristine}">
                                    <label for="price">سعر الوحدة</label>
                                    <input class="form-control" data-ng-model="product.price" name="price" id="price" placeholder="أدخل سعر الوحدة" type="number" required="required" />
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.unitPriceDescriptionEn.$invalid &amp;&amp; !addproductForm.unitPriceDescriptionEn.$pristine}">
                                  <label for="unitPriceDescriptionEn">وصف عن سعر الوحدة في اللغة الإنجليزية</label>
                                  <input class="form-control" data-ng-model="product.unitPriceDescriptionEn" name="unitPriceDescriptionEn" id="unitPriceDescriptionEn" placeholder="على سبيل المثال: 1 كجم / عدد العناصر مع تفاصيل موجزة" type="text" required="required" />                                  
                                </div>
                                <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.unitPriceDescriptionAr.$invalid &amp;&amp; !addproductForm.unitPriceDescriptionAr.$pristine}">
                                  <label for="unitPriceDescriptionAr">الوصف عن سعر الوحدة باللغة العربية</label>
                                  <input class="form-control" data-ng-model="product.unitPriceDescriptionAr" name="unitPriceDescriptionAr" id="unitPriceDescriptionAr" placeholder="على سبيل المثال: 1 كجم / عدد العناصر مع تفاصيل موجزة" type="text" required="required" />                                  
                                </div>
                                  <div class="form-group">
                                    <label>ضريبة </label>
                                    <select class="form-control" ng-model="product.taxId" ng-options="tax.taxId as tax.taxName for tax in taxes">
                                    </select>
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.shippingCharge.$invalid && !addproductForm.shippingCharge.$pristine}">
                                    <label for="shippingCharge">رسوم الشحن </label>
                                    <input class="form-control" data-ng-model="product.shippingCharge" name="shippingCharge" id="shippingCharge" placeholder="أدخل رسوم الشحن" type="number" required="required" />
                                  </div>
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.productQuantity.$invalid &amp;&amp; !addproductForm.productQuantity.$pristine}">
                                    <label for="price">كمية</label>
                                    <input class="form-control" data-ng-model="product.productQuantity" name="productQuantity" id="productQuantity" placeholder="أدخل كمية المنتج" type="number" required="required" />
                                    <br>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--START ATTRIBUTE -->
                        <!-- New Added Accoprdion -->
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour"><span class="glyphicon glyphicon-th-list">
                            </span> &nbsp; ميزة  &nbsp; </a><button type="button" class="btn btn-default btn-circle btn-md"> <i class="glyphicon glyphicon-plus" ng-click="addtheattribute()"> </i></button>

                        </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="row" ng-repeat="attr in product.productAttributeVos  ">
                                
                                <div class="col-md-1">
                                  <button type="button" class="btn btn-warning btn-circle" style="
    margin-top: 25px;
"><i class="glyphicon glyphicon-remove" ng-click="deletefield(attr)"></i></button>
                                </div>
                                
                                <div class="col-md-3">
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.value.$invalid &amp;&amp; !addproductForm.value.$pristine}">
                                    <label for="value">القيمة باللغة الإنجليزية</label>
                                    <input class="form-control" ng-model="product.productAttributeVos[$index].value" name="value" id="value" placeholder="أدخل القيمة باللغة الإنجليزية
" type="text" required="required" />
                                  </div>
                                </div>
                                 <div class="col-md-3">
                                  <div class="form-group" data-ng-class="{ 'has-error' : addproductForm.valueAr.$invalid &amp;&amp; !addproductForm.valueAr.$pristine}">
                                    <label for="valueAr">القيمة باللغة العربية
</label>
                                    <input class="form-control" ng-model="product.productAttributeVos[$index].valueAr" name="valueAr" id="valueAr" placeholder="أدخل القيمة باللغة العربية
" type="text" required="required" />
                                  </div>
                                </div>
                                
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>ميزة</label>
                                    <select ng-options="attribute.attributeId as attribute.attributeNameAr for attribute in attributesforaddproduct" class="form-control" ng-model="product.productAttributeVos[$index].attributeId">
                                    </select>
                                  </div>
                                </div>
                                
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- END ATTRIBUTE -->
                        <!-- New Added Accoprdion -->
                       
                        <!--  ############ -->
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span> &nbsp;صور</a>
                        </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <h2>صور</h2>
                                  <hr>
                                  <!--  ########### -->
                                  <div class="col-md-4 pull-right">
                                    <div class="fileupload file-uplaod-btn">
                                      <div class="form-group">
                                        <input type="file" id="fileupload" style="display:none" ng-model="file" name="file" multiple ngf-select="upload($file)" />
                                        <div class="btn btn-block btn-warning" onclick="document.getElementById('fileupload').click()"><i class="fa fa-camera"></i>&nbsp;&nbsp; + انقر هنا لتحميل صورة المنتج </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-12">
                                    <div class="row">
                                      <div class="col-lg-3 col-md-3 col-sm-6 pull-right" ng-repeat="img in product.featureOrPhotos">
                                        <div class="img-wraps">
                                          {{img}}
                                          <span class="closes" title="Delete" ng-click="deleteimage(img.data)">&times;</span>
                                          <img style="min-width:100%" ng-src="{{imageUrl}}{{img.data}}" class="img-thumbnail" ng-if="!img.isLoadin">
                                          <img style="min-width:100%" ng-src="public/script/www/img/giphy.gif" class="img-thumbnail" ng-if="img.isLoadin">
                                        </div>
                                      </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="box-footer ">
                          <button type="submit" class="btn btn-primary" ng-click="addProduct(product);">سجيل  </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
