<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  
<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Stock </h3>
      </div>
    </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Stock Informations <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productName">Product Name
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="product.productName" id="productName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="numberOfItemsRemaining">Current Stock
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" data-ng-model="product.numberOfItemsRemaining" id="numberOfItemsRemaining" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newaddingQuantity">New Adding Products Count <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="newaddingQuantity" id="newaddingQuantity" ng-change="findtotalcount(product.numberOfItemsRemaining,newaddingQuantity)" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Totalcount">Total Product Count <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" data-ng-model="Totalcount" id="Totalcount" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                </div>
                 <div class="row">
              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" ng-click="addProductStock(product,newaddingQuantity)">Submit</button>
                </div>
              </div>
            </div>
             </form>
            </div>
           
          </div>
          <hr>
          <!--   </div> -->
          <!--    #######
                     

                      #####
                      -->
         
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <h3>إضافة الأسهم </h3>
      </div>
    </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="pull-right">معلومات حول الأسهم <small><!-- different form elements --></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" data-ng-model="product.productNameAr" id="productName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productName">اسم المنتج

                  </label>
                  
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" data-ng-model="product.numberOfItemsRemaining" id="numberOfItemsRemaining" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="numberOfItemsRemaining">المخزون الحالي
                  </label>
                  
                </div>
                <div class="form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="number" data-ng-model="newaddingQuantity" id="newaddingQuantity" ng-change="findtotalcount(product.numberOfItemsRemaining,newaddingQuantity)" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newaddingQuantity">جديد اضافة عدد المنتجات   <span class="required">*</span>
                  </label>
                 
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="number" data-ng-model="Totalcount" id="Totalcount" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Totalcount">مجموع عدد المنتجات  <span class="required">*</span>
                  </label>
                  
                </div>
                 <div class="row">
              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" ng-click="addProductStock(product,newaddingQuantity)">سجيل   </button>
                </div>
              </div>
            </div>
             </form>
            </div>
           
          </div>
          <hr>
          <!--   </div> -->
          <!--    #######
                     

                      #####
                      -->
         
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /page content -->
