<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav01">
                        <li class="active">
                            <h4>
                            Find Your need</h4>
                        </li>
                        <li>
                            <a href="#/app/users" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
                                <span class="glyphicon glyphicon-user"></span> Users <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="toggleDemo" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a href="#">Registerd users</a></li>
                                    <!--   <li><a href="#">Submenu1.2</a></li> -->
                                </ul>
                            </div>
                        </li>
                        <li class="active">
                            <a href="#/app/report" data-toggle="collapse" data-target="#toggle2" data-parent="#sidenav01" class="collapsed">
                                <span class="glyphicon glyphicon-stats"></span> Reports <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="toggle2" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <!--  <li><a href="#"></a></li> -->
                                    <li><a href="#/app/report">Monthly</a></li>
                                    <li><a href="#/app/tranreport">Payment</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- 
                        <li class="active">
                            <a href="#" data-toggle="collapse" data-target="#toggle3" data-parent="#sidenav01" class="collapsed">
                                <span class="glyphicon glyphicon-inbox"></span> Advertisement <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="toggle3" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a href="#"></a></li>
                                    <li><a href="#">Posts</a></li>
                                    <li><a href="#">Payment</a></li>
                                </ul>
                            </div>
                        </li> -->
                        <li><a href="#/app/posts"><span class="glyphicon  glyphicon glyphicon-comment"></span> Posts</a></li>
                        <li>
                            <a href="#/app/advlist"> <span class="glyphicon  glyphicon-bullhorn"> </span>Adv  List
                                <!--  <span class="badge pull-right">42</span> --></a>
                        </li>
                        <li>
                            <a href="#/app/addadv"> <span class="glyphicon  glyphicon-bullhorn"> </span> Add Adv
                                <!--  <span class="badge pull-right">42</span> --></a>
                        </li>
                        <li><a href=""><span class="glyphicon glyphicon-cog"></span>Settings </a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-8 affix-content">
        <ui-view name="menuContent"></ui-view>
    </div>
</div>
