
<div ng-if="langval==1">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col menu_fixed mCustomScrollbar sidebar _mCS_1 mCS-autoHide" style="
   /* overflow: scroll;*/
">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0; background-color: #d5dce2;">
          <a href="#/admin/dashboard" class="site_title"><img src="public/script/img/logo .png" style="width: auto;height: 52px;"></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            
            <ul class="nav side-menu" style="">
              <li><a href="#/admin/dashboard"><i class="fa fa-tachometer"></i> Dashboard <span class=""></span></a>
              </li>
              
              <li><a href="#/admin/product"><i class="fa fa-cart-plus"></i> Product <span class=""></span></a>
              </li>
              <li><a href="#/admin/stock"><i class="fa fa-line-chart"></i> Stock <span class=""></span></a>
              </li>
              <li><a href="#/admin/offer"><i class="fa fa-tags"></i> Offer <span class=""></span></a>
              </li>
            <!--   <li><a href="#/admin/promocode"><i class="fa fa-magic"></i> Promo Codes <span class=""></span></a>
              </li> -->
              <li><a href="#/admin/customer"><i class="fa fa-users"></i> Customer <span class=""></span></a>
              </li>
              <li><a href="#/admin/neworder"><i class="fa fa-briefcase"></i> Order <span class=""></span></a>
              </li>
              <li><a href="#/admin/returns"><i class="fa fa-reply"></i> Return <span class=""></span></a>
              </li>
                <li><a href="#/admin/managerevenue"><i class="fa fa-money"></i> Revenue <span class=""></span></a>
              </li>
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenu=!showMasterSubMenu"><i class="fa fa-database"></i> <span>Master Datas</span> <i class="fa fa-chevron-down pull-right"></i></a>
                <div ng-if="showMasterSubMenu">
                  <ul class="nav side-menu">
                    <li><a href="#/admin/category" class=""> <i class="fa fa-dot-circle-o"></i>Category <span class=""></span></a></li>
                    <li><a href="#/admin/subcategory" class=""><i class="fa fa-dot-circle-o"></i> Subcategory <span class=""></span></a></li>
                    <li><a href="#/admin/manufacture" class=""> <i class="fa fa-dot-circle-o"></i>Manufacture <span class=""></span> </a></li>
                    <li><a href="#/admin/attribute" class=""><i class="fa fa-dot-circle-o"></i>Attribute </a></li>
                    <li><a href="#/admin/country " class=""><i class="fa fa-dot-circle-o"></i> Country </a></li>
                    <li><a href="#/admin/city " class=""><i class="fa fa-dot-circle-o"></i> City </a></li>
                    <li><a href="#/admin/tax " class=""><i class="fa fa-dot-circle-o"></i>Tax </a></li>
                    <li><a href="#/admin/homedata"><i class="fa fa-dot-circle-o"></i>Sliders<span class=""></span></a>
              </li>
               <li><a href="#/admin/cmsdata"><i class="fa fa-dot-circle-o"></i>CMS Data <span class=""></span></a></li>
                  </ul>
                </div>
              </li>
             <!--   <li><a href="#/admin/reviews"><i class="fa fa-reply"></i> Reviews & Ratings <span class=""></span></a>
              </li> -->
             <!--  <li><a href="#/admin/homedata"> Sliders & Banners<span class=""></span></a>
              </li> -->
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenureport=!showMasterSubMenureport"><i class="fa fa-bar-chart"></i> <span>Reports</span> <i class="fa fa-chevron-down pull-right"></i></a>
                <div ng-if="showMasterSubMenureport">
                  <ul class="nav side-menu">
                    <li><a href="#/admin/userreports" class=""><i class="fa fa-dot-circle-o"></i> User Reports <span class=""></span></a></li>
                    <li><a href="#/admin/orderreports" class=""><i class="fa fa-dot-circle-o"></i>Order Reports <span class=""></span></a></li>
                    <li><a href="#/admin/productreport" class=""><i class="fa fa-dot-circle-o"></i>Product Reports <span class=""></span> </a></li>
                    <li><a href="#/admin/transaction-report" class=""><i class="fa fa-dot-circle-o"></i> Transaction Reports </a></li>
                     <li><a href="#/admin/best-purchased-productreport" class=""><i class="fa fa-dot-circle-o"></i>Best Purchased Product Reports </a></li>
                      <li><a href="#/admin/lowstockreport" class=""><i class="fa fa-dot-circle-o"></i>Low Stock Reports </a></li>
                       <li><a href="#/admin/sales-report" class=""><i class="fa fa-dot-circle-o"></i>Sales Reports </a></li>
                   
                  </ul>
                </div>
              </li>
              <li><a href="#/admin/myaccountsettings"><i class="fa fa-cog fw"></i> Account Settings <span class=""></span></a>
              </li>
               <!--  <li><a href="#/admin/cmsdata">CMS Data <span class=""></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <!-- <a id="menu_toggle"><i class="fa fa-bars"></i></a> -->
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a ng-click="logoutadmin()" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/public/script/img/user.png" alt="">Log Out
                    <span class="fa fa-sign-out pull-right"></span>
                  </a>
            </li>
            <li class="">
              <div ng-if="langval==1">
                <a ng-click="changetoArabic()" class="btn btn-success" style="
    margin-top:  10px;
"><i class="fa fa-globe"></i> <span>العرب</span></a>
              </div>
              <div ng-if="langval==0">
                <a ng-click="changetoEnglish()" class="btn btn-success update-pro" style="
    margin-top:  10px;
"><i class="fa fa-globe"></i> <span>English</span></a>
              </div>
            </li>
            <li role="presentation" class="dropdown">
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ui-view name="menuContent"></ui-view>
    <footer>
      <div class="pull-right">
        LeenSouq - A Complete e-Commerce Web Application<a href=""></a>
      </div>
      <div class="clearfix"></div>
    </footer>
  </div>
</div>
</div>




<div ng-if="langval==0">
   <div dir=rtl>
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col menu_fixed mCustomScrollbar sidebar _mCS_1 mCS-autoHide" style="
    
">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0; background-color: #d5dce2;">
          <a href="#/admin/dashboard" class="site_title"><img src="public/script/img/logo .png" style="width: auto;height: 52px;"></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            
           <!--  <ul class="nav side-menu" style="padding-right: 10px;
    margin-bottom: 0;
    list-style: none;">
              <li><a href="#/admin/dashboard"><i class="fa fa-tachometer"></i> لوحة القيادة  <span class=""></span></a>
              </li>
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenu=!showMasterSubMenu"><i class="fa fa-database"></i> <span>لوحة التحكم  </span> <i class="fa fa-chevron-down"></i></a>
                <div ng-if="showMasterSubMenu">
                  <ul class="nav side-menu" style="padding-right: 10px;
    margin-bottom: 0;
    list-style: none;">
                    <li><a href="#/admin/category" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>فئة  <span class=""></span></a></li>
                    <li><a href="#/admin/subcategory" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>فرعية <span class=""></span></a></li>
                    <li><a href="#/admin/manufacture" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>صناعة  <span class=""></span> </a></li>
                    <li><a href="#/admin/attribute" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>ميزة  </a></li>
                    <li><a href="#/admin/country " class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>بلد  </a></li>
                    <li><a href="#/admin/city " class="" style=" padding-right: 35px;">م<i class="fa fa-dot-circle-o"></i>دينة </a></li>
                    <li><a href="#/admin/tax " class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>ضريبة  </a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#/admin/product"><i class="fa fa-cart-plus"></i> نتاج  <span class=""></span></a>
              </li>
              <li><a href="#/admin/stock"><i class="fa fa-line-chart"></i> مخزون  <span class=""></span></a>
              </li>
              <li><a href="#/admin/offer"><i class="fa fa-money"></i> عرض   <span class=""></span></a>
              </li>
               <li><a href="#/admin/promocode"><i class="fa fa-money"></i> رموز الترويجي  <span class=""></span></a>
              </li>
              <li><a href="#/admin/customer"><i class="fa fa-users"></i> زبون  <span class=""></span></a>
              </li>
              <li><a href="#/admin/neworder"><i class="fa fa-briefcase"></i> طلب  <span class=""></span></a>
              </li>
              <li><a href="#/admin/returns"><i class="fa fa-reply"></i> عودة  <span class=""></span></a>
              </li>
              <li><a href="#/admin/homedata"><i class="fa fa-picture-o"></i> إدارة البيانات الرئيسية  <span class=""></span></a>
              </li>
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenureport=!showMasterSubMenureport"><i class="fa fa-bar-chart"></i> <span>تقارير </span> <i class="fa fa-chevron-down"></i></a>
                <div ng-if="showMasterSubMenureport">
                  <ul class="nav side-menu">
                    <li><a href="#/admin/userreports" class=""><i class="fa fa-dot-circle-o"></i>User Reports <span class=""></span></a></li>
                    <li><a href="#/admin/orderreports" class=""><i class="fa fa-dot-circle-o"></i>Order Reports <span class=""></span></a></li>
                    <li><a href="#/admin/productreport" class=""><i class="fa fa-dot-circle-o"></i>Product Reports <span class=""></span> </a></li>
                    <li><a href="#/admin/attribute" class="">Transaction Reports </a></li>
                     <li><a href="#/admin/attribute" class="">Best Purchased Product Reports </a></li>
                      <li><a href="#/admin/attribute" class="">Low Stock Reports </a></li>
                       <li><a href="#/admin/attribute" class="">Sales Reports </a></li>
                   
                  </ul>
                </div>

              </li>
              <li><a href="#/admin/myaccountsettings"><i class="fa fa-cog fw"></i>إعدادت الحساب  <span class=""></span></a>
              </li>
               <li><a href="#/admin/cmsdata"><i class="fa fa-cog fw"></i>CMS Data <span class=""></span></a>
              </li>
            </ul> -->
             <ul class="nav side-menu" style="padding-right: 10px;
    margin-bottom: 0;
    list-style: none;">
              <li><a href="#/admin/dashboard"><i class="fa fa-tachometer"></i>  لوحة القيادة   <span class=""></span></a>
              </li>
              
              <li><a href="#/admin/product"><i class="fa fa-cart-plus"></i>  نتاج   <span class=""></span></a>
              </li>
              <li><a href="#/admin/stock"><i class="fa fa-line-chart"></i> مخزون  <span class=""></span></a>
              </li>
              <li><a href="#/admin/offer"><i class="fa fa-tags"></i> عرض   <span class=""></span></a>
              </li>
           <!--    <li><a href="#/admin/promocode"><i class="fa fa-magic"></i> رموز الترويجي  <span class=""></span></a>
              </li> -->
              <li><a href="#/admin/customer"><i class="fa fa-users"></i> الزبائن  <span class=""></span></a>
              </li>
              <li><a href="#/admin/neworder"><i class="fa fa-briefcase"></i> طلب  <span class=""></span></a>
              </li>
              <li><a href="#/admin/returns"><i class="fa fa-reply"></i> عودة  <span class=""></span></a>
              </li>
                <li><a href="#/admin/managerevenue"><i class="fa fa-money"></i> دخل  <span class=""></span></a>
              </li>
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenu=!showMasterSubMenu"><i class="fa fa-database"></i> <span>لوحة التحكم  </span> <i class="fa fa-chevron-down " style="
    float:  left;
"></i></a>
                <div ng-if="showMasterSubMenu">
                  <ul class="nav side-menu"style="padding-right: 10px;
    margin-bottom: 0;
    list-style: none;">
                    <li><a href="#/admin/category" class="" style=" padding-right: 35px;"> <i class="fa fa-dot-circle-o"></i>فئة <span class=""></span></a></li>
                    <li><a href="#/admin/subcategory" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i> فرعية   <span class=""></span></a></li>
                    <li><a href="#/admin/manufacture" class="" style=" padding-right: 35px;"> <i class="fa fa-dot-circle-o"></i>صناعة  <span class=""></span> </a></li>
                    <li><a href="#/admin/attribute" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>مميز  </a></li>
                    <li><a href="#/admin/country " class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i> الدوله  </a></li>
                    <li><a href="#/admin/city " class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i> مدينه  </a></li>
                    <li><a href="#/admin/tax " class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>ضريبة  </a></li>
                    <li><a href="#/admin/homedata" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>المتزلجون واللافتات <span class=""></span></a>
              </li>
               <li><a href="#/admin/cmsdata" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>س م ص  البيانات <span class=""></span></a></li>
                  </ul>
                </div>
              </li>
          
              <li class="">
                <a href="javascript:;" ng-click="showMasterSubMenureport=!showMasterSubMenureport"><i class="fa fa-bar-chart"></i> <span>تقارير </span> <i class="fa fa-chevron-down" style="
    float:  left;
"></i></a>
                <div ng-if="showMasterSubMenureport">
                  <ul class="nav side-menu" style="padding-right: 10px;
    margin-bottom: 0;
    list-style: none;">
                    <li><a href="#/admin/userreports" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير المستخدم <span class=""></span></a></li>
                    <li><a href="#/admin/orderreports" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير الطلب  <span class=""></span></a></li>
                    <li><a href="#/admin/productreport" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير المنتجات <span class=""></span> </a></li>
                    <li><a href="#/admin/transaction-report" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير المعاملات  </a></li>
                     <li><a href="#/admin/best-purchased-productreport" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>أفضل تقارير المنتجات المشتراة  </a></li>
                      <li><a href="#/admin/lowstockreport" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير قليلة المخزون  </a></li>
                       <li><a href="#/admin/sales-report" class="" style=" padding-right: 35px;"><i class="fa fa-dot-circle-o"></i>تقارير المبيعات  </a></li>
                   
                  </ul>
                </div>
              </li>
              <li><a href="#/admin/myaccountsettings"><i class="fa fa-cog fw"></i>إعدادت الحساب  <span class=""></span></a>
              </li>
               <!--  <li><a href="#/admin/cmsdata">CMS Data <span class=""></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- top navigation -->
    <div class="top_navarabic">
      <div class="nav_menuarabic">
        <nav>
          <div class="nav toggle_arabic">
           <!--  <a id="menu_toggle"><i class="fa fa-bars"></i></a> -->
          </div>
          <ul class="nav navbar-nav navbar-left">
            <li class="">
              <a ng-click="logoutadmin()" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/public/script/img/user.png" alt="">تسجيل خروج
                    <span class="fa fa-sign-out pull-left"></span>
                  </a>
            </li>
            <li class="">
              <div ng-if="langval==1">
                <a ng-click="changetoArabic()" class="btn btn-success" style="
    margin-top:  10px;
"><i class="fa fa-globe"></i> <span>العرب</span></a>
              </div>
              <div ng-if="langval==0">
                <a ng-click="changetoEnglish()" class="btn btn-success update-pro" style="
    margin-top:  10px;
"><i class="fa fa-globe"></i> <span>English</span></a>
              </div>
            </li>
            <li role="presentation" class="dropdown">
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ui-view name="menuContent"></ui-view>
    <footer>
      <div class="pull-left">
      <a href=""></a>
      </div>
      <div class="clearfix"></div>
    </footer>
  </div>
</div>
</div>
</div>

