<!-- /page content -->
<!-- latesrt -->
<!-- page content -->
<div ng-if="langval==1">
  
    <div class="right_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
           
              <h3>View Attribute </h3>
            
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Attribute Informations <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attributeName">Attribute Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="attribute.attributeName" id="attributeName" required="required" class="form-control col-md-7 col-xs-12" readonly="true" />
                    </div>
                  </div>
                 <!--  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attributeNameAr">Attribute Name Ar<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" data-ng-model="attribute.attributeNameAr" id="attributeNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                  </div> -->
                   <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Attribute Status <span class="required"></span>
                  </label>
                  <div ng-if="attribute.status==0" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Deactivated" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="attribute.status==1" class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="Active" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                </div>

                 <!--  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Attribute Status</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :attribute.status==0  }" ng-click="attribute.status=0"> Deactive</div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :attribute.status==1  }" ng-click="attribute.status=1"> Active</div>
                    </div>
                   
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box-footer">
                       <a href="#/admin/attribute" button type="submit" class="btn btn-primary">Close</button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
    <div class="rightarab_col" role="main" style="min-height: 980px;">
      <div class="">
        <div class="page-title">
          <div class="title_right pull-right">
            
              <h3>تعرض السمة </h3>
           
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2 class="pull-right">معلومات السمة <small><!-- different form elements --></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                  <!-- <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="attribute.attributeName" id="attributeName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attributeName">اسم مميز باللغة الإنجليزية  <span class="required">*</span>
                    </label>
                   
                  </div> -->
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input type="text" data-ng-model="attribute.attributeNameAr" id="attributeNameAr" required="required" class="form-control col-md-7 col-xs-12"  readonly="true"  />
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attributeNameAr">اسم مميز  <span class="required">*</span>
                    </label>
                    
                  </div>
                   <div class="form-group">
                       <div ng-if="attribute.status==0" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 ">
                    <input type="text" value="غير نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <div ng-if="attribute.status==1" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="text" value=" نشطة" id="status" readonly="true" required="required" class="form-control col-md-7 col-xs-12" readonly="true" required="required" />
                  </div>
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">حالة  <span class="required"></span>
                  </label>
                 
                </div>
                  <!-- <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <div class="btn btnserviceorproduct" ng-class="{'active' :attribute.status==0  }" ng-click="attribute.status=0"> غير نشطة  </div>
                      <div class="btn btnserviceorproduct" ng-class="{'active' :attribute.status==1  }" ng-click="attribute.status=1"> شطة  </div>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة </label>
                  
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">

                      <div class="box-footer">
                        <br>
                      <a href="#/admin/attribute" button type="submit" class="btn btn-primary">أغلق  </button></a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
