<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 100vh;">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div style="margin-right: 16px;">
          <span class="pull-right">
                        <button ng-click="printDiv('exportthis');">Print</button>
                        <button ng-click="export()">Download as Pdf</button>
                       </span>
        </div>
      </div>
      <div id="exportthis">
        <div class="row" style="margin-left: 0px;
    margin-right: 0px;
    background: #fff;">
          <h3 style="padding-left: 10px;margin-bottom: 4px;font-weight: 600;">Order ID : #{{order.orderId}}</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="block">
              <div class="block-title">
                <h2><i class="fa fa-building-o"></i> <strong>Customer</strong> Details</h2>
              </div>
              <h4><strong>{{customerinfo.customerName}}</strong></h4>
              <address>
                {{customerinfo.address}}
                <br> {{customerinfo.cityName}}
                <br> {{customerinfo.countryName}}
                <br>
                <i class="fa fa-phone"></i> {{customerinfo.phoneNo}}
                <br>
                <i class="fa fa-envelope-o"></i> {{customerinfo.emailId}}
              </address>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="block">
              <div class="block-title">
                <h2><i class="fa fa-building-o"></i> <strong>Return</strong> Reason</h2>
              </div>
             <!--  <h4><strong><span style=" margin-right:  30px;">Location </span> : {{shippingDetails.address1}}</strong></h4> -->
              <address>
                <span><strong style=" margin-right:  16px;">{{returnReason}} </strong></span>        
                
              </address>
            </div>
          </div>
        </div>
         <div class="row">
      <div class="col-lg-4 col-lg-offset-4 ">
        <div class="block">
          <div class="block-title">
            <h2><i class="fa fa-file-o"></i> <strong>Booking</strong> Details</h2>
          </div>
         <!--  <div class="block-section text-center">
            <a href="javascript:void(0)">
<img src="/img/bkimg.jpg" alt="Profile Image" class="img-circle" style="
    width: 75px;
    height: 75px;
">
</a>
            <h3>
<strong> Time : {{ booking.bookingDate| date : "h:mm a"}}</strong><br><small></small>
</h3>
          </div> -->
          <table class="table table-borderless table-striped table-vcenter">
            <tbody>
              <tr>
                <td class="text-right"><strong>Order ID</strong></td>
                <td>{{returnOrder.orderId}}</td>
              </tr>
               <tr>
                <td class="text-right"><strong>Product Name</strong></td>
                <td>{{returnOrder.itemName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Item Price</strong></td>
                <td>{{returnOrder.itemPrice}}</td>
              </tr>
               <tr>
                <td class="text-right"><strong>Offer</strong></td>
                <td>
                   <span ng-if="returnOrder.offerId==0">No Offer</span>
                   <span ng-if="returnOrder.offerId!=0">{{returnOrder.offerName}}<br>
                    <span ng-if="returnOrder.offerRate==0">({{returnOrder.offerPercentage}} %)</span>
                    <span ng-if="returnOrder.offerRate!=0">({{returnOrder.offerRate}} SAR)</span>
                  </span>
                </td>
              </tr>
              <tr ng-if="returnOrder.offerId!=0">
                <td class="text-right"><strong>Price After Offer</strong></td>
                <td>{{returnOrder.totalAmountIncludingOffer}} SAR</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Shipping Charge</strong></td>
                <td>{{returnOrder.shippingCharge}} SAR</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Total Price</strong></td>
                <td>{{finalPrice}}</td>
              </tr>
             <!--  <tr>
                <td class="text-right"><strong>Amount</strong></td>
                <td>{{booking.price}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Store</strong></td>
                <td>{{booking.storeName}}</td>
              </tr> -->
              <!-- <tr>
                <td class="text-right"><strong>Country</strong></td>
                <td>{{booking.countryName}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Address</strong></td>
                <td>{{booking.address}}</td>
              </tr> -->
              <!-- <tr>
                <td class="text-right"><strong>Status</strong></td>
                 <td ng-if="booking.status==1"><span class="label label-warning"><i class="fa fa-check"></i> Booked</span></td>
                  <td ng-if="booking.status==2"><span class="label label-info"><i class="fa fa-check"></i> Confirmed</span></td>
                   <td ng-if="booking.status==3"><span class="label label-success"><i class="fa fa-check"></i> Rejected</span></td>
                <td ng-if="booking.status==8"><span class="label label-success"><i class="fa fa-check"></i> Done</span></td>
              
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
   <!--      <div class="block">
          <div class="block-title">
            <h2><i class="fa fa-shopping-cart"></i> <strong>Products</strong></h2>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-vcenter">
              <thead>
                <tr>
                  <th class="text-center" style="width:5%;">Sl.No</th>
                  <th style="width: 30%;">Product Name</th>
                  
                  <th class="text-center" style="width: 5%;">QTY</th>
                  <th class="text-center" style="width: 6%;">UNIT COST</th>
                  <th class="text-center" style="width: 5%;">TAX</th>
                  <th class="text-center" style="width: 15%;">OFFER</th>
                  <th class="text-center" style="width: 10%;">TOTAL PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="items in orderdetails">
                  <td class="text-center"><strong>{{$index+1}}</strong></td>
                  <td>{{items.itemName}}</td>
                 
                  <td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
                  <td class="text-right"><strong>{{items.itemPrice}} SAR</strong></td>
                  <td class="text-center"><strong>{{items.taxName}}<br>({{items.taxPercentage}}%)
                   
                  </strong></td>
                 
                  <td ng-if="items.offerId==0" class="text-center"><strong>---<br></strong></td>
                  <td ng-if="items.offerId!=0" class="text-center"><strong>{{items.offerName}}<br><span ng-if="items.offerPercentage==0">({{items.offerRate}}SAR)</span>
                  <span ng-if="items.offerPercentage!=0">({{items.offerPercentage}}%)</span>
                </strong></td>
                  <td class="text-right"><strong>{{items.itemNetPrice}} SAR</strong></td>
                </tr>
                <tr class="active">
                  <td colspan="6" class="text-right text-uppercase"><strong>Grand Total:</strong></td>
                  <td class="text-right"><strong>{{order.netPrice}} SAR</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir=rtl>
    <div class="rightarab_col" role="main" style="min-height: 100vh;">
      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div style="margin-right: 16px;">
            <span class="">
              <button ng-click="printDiv('exportthis');">طباعة </button>
                        <button ng-click="export()">تنزيل بتنسيق  pdf </button>
                       </span>
          </div>
        </div>
        <div id="exportthis">
          <div class="row" style="margin-left: 0px;
    margin-right: 0px;
    background: #fff;">
            <h3 style="padding-left: 10px;margin-bottom: 4px;font-weight: 600;">رقم الأمر : #{{order.orderId}}</h3>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="block">
                <div class="block-title">
                  <h2><i class="fa fa-building-o"></i> عنوان  <strong> الشحن  </strong></h2>
                </div>
                <h4><strong><span style=" margin-left:   30px;">موقع   </span> : {{shippingDetails.address1}}</strong></h4>
                <address>
                  <span><strong style=" margin-left:   18px;">اسم المبنى  </strong></span> : {{shippingDetails.address2}}
                  <br>
                  <!-- <span><strong style=" margin-left:   45px;">Landmark </strong></span> : {{shippingDetails.landMark}}<br> -->
                  <span><strong style=" margin-left:   9px;">معلم معروف  </strong></span> : {{shippingDetails.landMark}}
                  <br>
                  <span><strong style=" margin-left:   4px;">الرمز البريدي  </strong></span> : {{shippingDetails.pincode}}
                  <br>
                  <br>
                  <i class="fa fa-phone"></i> {{shippingDetails.phoneNumber}}
                  <br>
                  <!-- <i class="fa fa-envelope-o"></i> {{shippingDetails.emailId}} -->
                </address>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="block">
                <div class="block-title">
                  <h2><i class="fa fa-building-o"></i> تفاصيل <strong>زبون  </strong> </h2>
                </div>
                <h4><strong>{{customerinfo.customerName}}</strong></h4>
                <address>
                  {{customerinfo.address}}
                  <br> {{customerinfo.cityName}}
                  <br> {{customerinfo.countryName}}
                  <br>
                  <i class="fa fa-phone"></i> {{customerinfo.phoneNo}}
                  <br>
                  <i class="fa fa-envelope-o"></i> {{customerinfo.emailId}}
                </address>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-title">
              <h2><i class="fa fa-shopping-cart"></i> <strong>منتجات  </strong></h2>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-vcenter">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 100px;">رقم </th>
                    <th class="text-center">اسم المنتج
                     </th>
                    <!-- <th class="text-center">Stock</th> -->
                    <th class="text-center">كمية </th>
                    <th class="text-right" style="width: 10%;">تكلفة الوحدة
                     </th>
                    <th class="text-center" style="width: 5%;">ضريبة </th>
                    <th class="text-center" style="width: 15%;">عرض   </th>
                    <th class="text-right" style="width: 10%;">السعر الكلي
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="items in orderdetails">
                    <td class="text-center"><strong>{{$index+1}}</strong></td>
                    <td>{{items.itemNameAr}}</td>
                    <!-- <td class="text-center"><strong>720</strong></td> -->
                    <td class="text-center"><strong>{{items.itemQuantity}}</strong></td>
                    <td class="text-right"><strong>{{items.itemPrice}} SAR</strong></td>
                    <!-- <td class="text-center"><strong>{{order.taxName}}<br>({{order.taxPercentage}}%)</strong></td>                 
                  <td ng-if="items.offerId==0" class="text-center"><strong>---<br></strong></td>
                  <td ng-if="items.offerId!=0" class="text-center"><strong>YES<br></strong></td>
                  <td class="text-right"><strong>{{items.itemNetPrice}} SAR</strong></td> -->
                    <td class="text-center"><strong>{{items.taxName}}<br>({{items.taxPercentage}}%)</strong></td>
                    <td ng-if="items.offerId==0" class="text-center"><strong>---<br></strong></td>
                    <td ng-if="items.offerId!=0" class="text-center"><strong>{{items.offerNameAr}}<br><span ng-if="items.offerPercentage==0">({{items.offerRate}}SAR)</span>
                  <span ng-if="items.offerPercentage!=0">({{items.offerPercentage}}%)</span>
                </strong></td>
                    <td class="text-right"><strong>{{items.itemNetPrice}} SAR</strong></td>
                  </tr>
                  <tr class="active">
                    <td colspan="6" class="text-left text-uppercase"><strong>المبلغ الإجمالي  :</strong></td>
                    <td class="text-right"><strong>{{order.netPrice}} SAR</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
