<div ng-if="langval==1">
  <div class="right_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Best Purchased Product Reports </h3>
        </div>
       <!--  <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input class="form-control  " placeholder="Search..." type="text" data-ng-model="categorySearch" /> <span class="input-group-btn ">
                                        <button type="button" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
            </div>
          </div>
        </div> -->
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                  
                      <div class="form-group">
                    <label class="control-label" for="input-date-end">Category</label>
                    <select class="form-control" ng-change="getsubcategoryByCategoryId(search.categoryId)" ng-model="filterbest.categoryId">
                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryName}}</option>
                      </select>
                  </div>
                      <div class="form-group">
                    <label class="control-label" for="input-date-end">Subcategory</label>
            <select class="form-control" ng-change="" ng-model="filterbest.subCategoryId">
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryName }}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-start">Date Start</label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_start" ng-model="filterbest.startdate" placeholder="Date Start" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">Date End</label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_end" ng-model="filterbest.enddate" placeholder="Date End" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div>
                
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterbestpurchasedproductreport(filterbest)"><i class="fa fa-filter"></i> Filter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
               <div>
            <span class="pull-right">
                        <button ng-click="downloadbestpurchasedreport()">Download as Pdf</button>
                       </span>
          </div>
          <div id="printbestpurchasedreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Products Purchased Report</h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td>Sl.No</td>
                          <td class="text-left">Product Name</td>
                          <td class="text-left">Category</td>
                          <td class="text-left">Subcategory</td>
                          <td class="text-right">Quantity</td>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat = "prod in bestpurchasedproducts">
                            <td class="text-left">{{$index+1+bestpurchasedPageVo.currentIndex}}</td>
                          <td class="text-left">{{prod.itemName}}</td>
                          <td class="text-left">{{prod.categoryName}}</td>
                            <td class="text-left">{{prod.subCategoryName}}</td>
                          <td class="text-right">{{prod.totalQtyPurchased}}</td>
                          
                        </tr>
                        <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">No Data</td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                <!--   <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">
                    
                    </div>
                  </div> -->
                  <div class="row">
                  <div class="col-sm-6 text-left">Showing {{$index+1+lowstockPageVo.currentIndex}} to {{finalcount}} of {{totalnumber}} ({{noPages}} Pages)</div>
                  <div class="col-sm-6 text-right ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getlowstock($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="clearfix"></div> -->
      <!--  <div class="clearfix"></div> -->
      <!-- /form input knob -->
    </div>
  </div>
  <!-- /page content -->
</div>
<!-- ARABIC -->
<!-- page content -->

<div ng-if="langval==0">
  <div dir="rtl">
  <div class="rightarab_col" role="main" style="min-height: 980px;">
    <div class="">
      <div class="page-title">
        <div class="title_right pull-right">
          <h3>ت<span>قارير من أفضل المنتجات المشتراة </span></h3>
        </div>
       
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">
        <div>
          <!--   CUSTOMER PAID REPORT -->
          <div class="row">
            <div id="filter-report" class="col-md-3 col-sm-12 hidden-sm hidden-xs">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-filter"></i> فلتر  </h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">فئة </label>
                    <select class="form-control" ng-change="getsubcategoryByCategoryId(search.categoryId)" ng-model="filterbest.categoryId">
                        <option ng-repeat="category in categories" ng-value="category.categoryId">{{category.categoryNameAr}}</option>
                      </select>
                  </div>
                      <div class="form-group">
                    <label class="control-label" for="input-date-end">فئه فرعية </label>
            <select class="form-control" ng-change="" ng-model="filterbest.subCategoryId">
                        <option ng-repeat="subcategory in subcategoriesbycategories" ng-value="subcategory.subCategoryId">{{subcategory.subCategoryNameAr }}</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-start">تاريخ البدء </label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_start" ng-model="filterbest.startdate" placeholder="تاريخ البدء " data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-date-end">تاريخ الانتهاء </label>
                    <div class="input-group date">
                      <input type="date" name="filter_date_end" ng-model="filterbest.enddate" placeholder="تاريخ الانتهاء" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control">
                      <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
</span></div>
                  </div>
                 
                  </div>
                  <div class="form-group text-right">
                    <button type="button" id="button-filter" class="btn btn-default" ng-click="filterbestpurchasedproductreport(filterbest)"><i class="fa fa-filter"></i> فلتر  </button>
                  </div>
                </div>
              </div>
            
            <div class="col-md-9 col-sm-12">
                  <div>
            <span class="" style="float: left;">
                        <button ng-click="downloadbestpurchasedreport()">تنزيل بتنسيق PDF
 </button>
                       </span>
          </div>
          <div id="printbestpurchasedreport">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart"></i>تقارير من أفضل المنتجات المشتراة </h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td>رقم</td>
                          <td class="text-left">اسم المنتج </td>
                          <td class="text-left">فئة </td>
                          <td class="text-left">فئه فرعية </td>
                          <td class="text-right">كمية </td>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat = "prod in bestpurchasedproducts">
                            <td class="text-left">{{$index+1+bestpurchasedPageVo.currentIndex}}</td>
                          <td class="text-left">{{prod.itemName}}</td>
                          <td class="text-left">{{prod.categoryName}}</td>
                            <td class="text-left">{{prod.subCategoryName}}</td>
                          <td class="text-right">{{prod.totalQtyPurchased}}</td>
                          
                        </tr>
                        <tr ng-if="nodata==1">
                              <td class="text-center" colspan="7">لا نتائج! </td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                 <!--  <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">
                    
                    </div>
                  </div> -->
                     <div class="row">
                  <div class="col-sm-6 text-left ">
                    <ul class="pagination">
                      <li class="paginate_button" ng-repeat="i in getNumber(noPages) track by $index" ng-click="getlowstock($index+1)"><span><a href="javascript:void(0)">{{$index+1}}</a></span></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 text-right">عرض    {{$index + 1 + lowstockPageVo.currentIndex}} إلى {{finalcount}} من  {{totalnumber}} ({{noPages}} صفحات  )
</div>
                  
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="clearfix"></div> -->
      <!--  <div class="clearfix"></div> -->
      <!-- /form input knob -->
    </div>
  </div>
  <!-- /page content -->
</div>
</div>
<!-- ARABIC -->
<!-- page content -->

