<ion-view view-title="sign up">
  <ion-header-bar>
    <h1 class="title">Sign up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="register(user)">
      <div class="list">
      <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="number" ng-model="user.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>

          <button class="button button-block button-positive" type="submit">Sign in
          </button>
       
      </div>
    </form>
  </ion-content>
  </ion-view>

