<h3>List post</h3>
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="post in $data">
        <td title="'Date'" sortable="'timestamp'">
            {{post.timestamp|date:'dd/MMM/yyyy'}}</td>
        <td title="'Image'" ng-init="post.imageCount=0">
            <span ng-repeat="(key, value) in post.images">
       
              <img class="thumbnail" style="width: 100px;height: auto;"  ng-if="$index==0" ng-src="{{value}}" />
          
            </span>
        </td>
        <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
            {{post.title}}</td>
        <td title="'Category'" filter="{catName:  'text'}" sortable="'category.catName'">{{post.category.catName}}</td>
        <td title="'Subcategory'" filter="{ 'subcategory.subcatName': 'text'}" sortable="'subcategory.subcatName'">{{post.subcategory.subcatName}}</td>
        <td title="'Show'">
            <a class="btn btn-info" href="#/app/singleposts/{{post.$id}}">Show </a>
        </td>
    </tr>
</table>
