<!-- page content -->
<div ng-if="langval==1">

<div class="right_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <div ng-if="ciid==0">
          <h3>Add City </h3>
        </div>
        <div ng-if="ciid!=0">
          <h3>Edit City </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>City Informations <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">Country <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select ng-model="city.countryId" ng-options="country.countryId as country.countryName for country in countries" class="form-control" ng-change="changeCountry(city.countryId)">
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityName">City Name En <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="city.cityName" id="cityName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityNameAr">City Name Ar <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" data-ng-model="city.cityNameAr" id="cityNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">City Status  <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :city.citusStatus==0  }" ng-click="city.citusStatus=0"> Deactive</div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :city.citusStatus==1  }" ng-click="city.citusStatus=1"> Active</div>
                </div>
              </div>
              <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addCity(city);">Submit</button>
              </div>
            </div>
          </div>
          </form>
          </div>
          
        </div>
        <hr>
        
      </div>
    </div>
  </div>
</div>
</div>

<!-- ARABIC -->
<div ng-if="langval==0">
  <div dir="rtl">
<div class="rightarab_col" role="main" style="min-height: 980px;">
  <div class="">
    <div class="page-title">
      <div class="title_right pull-right">
        <div ng-if="ciid==0">
          <h3>أضف مدينة </h3>
        </div>
        <div ng-if="ciid!=0">
          <h3>تحرير المدينة </h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="pull-right">معلومات عن المدينة <small><!-- different form elements --></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <select ng-model="city.countryId" ng-options="country.countryId as country.countryNameAr for country in countries" class="form-control" ng-change="changeCountry(city.countryId)">
                  </select>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countryId">دولة <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="city.cityName" id="cityName" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityName">اسم المدينه باللغة الإنجليزية  <span class="required">*</span>
                </label>
               
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="text" data-ng-model="city.cityNameAr" id="cityNameAr" required="required" class="form-control col-md-7 col-xs-12" required="required" />
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cityNameAr">اسم المدينة بالعربية <span class="required">*</span>
                </label>
                
              </div>
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <div class="btn btnserviceorproduct" ng-class="{'active' :city.citusStatus==0  }" ng-click="city.citusStatus=0"> غير نشطة  </div>
                  <div class="btn btnserviceorproduct" ng-class="{'active' :city.citusStatus==1  }" ng-click="city.citusStatus=1"> شطة  </div>
                </div>
                <label class="control-label col-md-3 col-sm-3 col-xs-12">حالة المدينة   <span class="required">*</span> </label>
               
              </div>
              <div class="row">
            <div class="col-md-12">
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="addCity(city);">سجيل  </button>
              </div>
            </div>
          </div>
          </form>
          </div>
          
        </div>
        <hr>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- /page content -->
